.photo_item{
    width: 200px;
    height: auto;
    display: inline-block;
}

.photo_item img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.form__row .form__row-title span.reg_star{
    display: inline-block;
    color: #f00;
}

.form__row-title span:not(.tip).mobile-aside.mobile-aside-digital{
    float: left;
}

.form__check.sub__check {
    margin-left: 10px;
    margin-right: 1px;
}

@media (max-width: 1279px) {
    .form__row-main.form__row-main_center {
        display: block;
    }
    .form__check.sub__check {
        margin-left: 0px;
    }
    .form__check {
        display: inline-block;
        width: 100%;
        margin-right: 0px!important;
    }
}

.form__row-main .form__check {
    margin-right: 5px;
}