.blog
	padding: 0
	&__hero
		position: relative
		display: flex
		align-items: center
		height: 255px
		margin-bottom: 60px
		&-bg
			z-index: 2
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba(255, 255, 255, .5)
		&-parallax
			z-index: 1
			overflow: hidden
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			&-img
				position: absolute
				width: 100%
				left: 50%
				transform: translate(-50%, 0)
	&__btn
		position: absolute
		z-index: 3
		right: 30px
		bottom: 27px
		padding: 12px 35px
		color: #fff
		background-color: #099
		transition: all .3s ease-in-out
		font:
			size: 17px
			weight: 300
		@include hover
			background-color: darken($blue, 10)
	&__heading
		position: relative
		z-index: 3
		margin-left: 55px
		font:
			size: 36px
			weight: 100
		&:after
			position: absolute
			display: block
			bottom: -10px
			left: 0
			content: ''
			width: 40px
			height: 2px
			background-color: #000
	&__item
		display: flex
		flex-flow: row nowrap
		justify-content: flex-start
		align-items: flex-start
		margin-bottom: 70px
		&-img
			flex-shrink: 0
			margin-right: 60px
			&-pic
				width: 775px
				height: auto
		&-category
			position: relative
			display: block
			margin-bottom: 30px
			padding-bottom: 15px
			border-bottom: 1px solid #ccc
			text-transform: uppercase
			color: #2e3237
			line-height: 14px
			font:
				size: 14px
				weight: 600
			transition: all .3s ease-in-out
			@include hover
				color: #099
			&:after
				display: block
				position: absolute
				content: ''
				width: 40px
				height: 1px
				left: 0
				bottom: -1px
				background-color: #000
		&-heading
			display: block
			margin-bottom: 20px
			font:
				size: 24px
				weight: 600
			a
				transition: all .3s ease-in-out
				@include hover
					color: #099
		&-text
			margin-bottom: 35px
			line-height: 27px
		&-link
			font-weight: 600
			transition: all .3s ease-in-out
			@include hover
				color: #099
				.arrow
					color: #099
			.arrow
				transition: all .3s ease-in-out

@include media-breakpoint-down(tablet)
	.blog
		padding-top: 40px
		&__hero
			height: 155px
			margin-bottom: 40px
		&__btn
			right: 20px
			bottom: 20px
			padding: 10px 27px
			font-size: 14px
		&__heading
			margin-left: 40px
			font-size: 24px
			&:after
				height: 1px
		&__item
			margin-bottom: 40px
			&-img
				margin-right: 30px
				&-pic
					width: 435px
			&-category
				margin-bottom: 15px
				padding-bottom: 10px
			&-heading
				margin-bottom: 10px
				font-size: 16px
			&-text
				margin-bottom: 10px
				line-height: 20px
				font-size: 14px
			&-link
				font-size: 14px
				.arrow
					width: 27px

@include media-breakpoint-down(mobile)
	.blog
		padding-top: 30px
		&__hero
			flex-flow: column wrap
			justify-content: center
			align-items: flex-start
			height: 105px
			margin-bottom: 30px
			padding-left: 20px
		&__btn
			position: static
			padding: 7px 15px
			font-size: 12px
		&__heading
			margin-left: 0
			margin-bottom: 20px
			padding-bottom: 5px
			font-size: 16px
			&:after
				bottom: 0
				width: 20px
		&__item
			margin-bottom: 25px
			flex-flow: column nowrap
			&-img
				width: 100%
				margin-right: 0
				margin-bottom: 20px
				&-pic
					width: 100%
			&-category
				margin-bottom: 15px
				padding-bottom: 10px
				line-height: 12px
				font-size: 12px
			&-heading
				margin-bottom: 15px
				font-size: 14px
			&-text
				margin-bottom: 10px
				line-height: 20px
				font-size: 12px
			&-link
				font-size: 12px
				.arrow
					width: 23px