.section.blog
	.container
		.blog__hero
			h1.blog__heading Новости искусства
			a.blog__btn(href="#") Подписаться
			.blog__hero-bg
			.blog__hero-parallax
				img.blog__hero-parallax-img(src="assets/images/inhtml/picture-bg.jpg", alt="picture", data-parallax-img, data-speed="0.2")
		.blog__item
			a(href="#").blog__item-img
				img.blog__item-img-pic(src="assets/images/inhtml/blog-item.jpg", alt="")
			.blog__item-content
				a.blog__item-category(href="#") Галереи и выставки
				h2.blog__item-heading
					a(href="#") Заголовок главной выделенной новости может быть длинной в три и более строки
				.blog__item-text Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum
				a.blog__item-link(href="#") Перейти к новости
					.arrow