include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery. 404
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug

            include components/404/404.pug
            
            include components/footer/footer.pug


    
        include _scripts.pug