include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ArtGallery
		include _styles.pug
	body
		include _svg.pug
	
		.wrapper.wrapper_inner
			include components/header/header.pug

			.section.breadcrumbs
				.container
					.breadcrumbs__inner
						a.breadcrumbs__back(href="#")
							.breadcrumbs__back-icon
								+svg('arrow_smart', '-w')
							.breadcrumbs__back-text Назад
						.breadcrumbs__history
							a.breadcrumbs__history-link(href="#") Главная
							a.breadcrumbs__history-link(href="#") Новости искусства
							.breadcrumbs__history-current Название статьи

			include components/blog-detail/blog-detail

			.section.similar-articles.js-section
				.section-head
					.container
						.section-head__inner
							span.section-head__title Похожие статьи
				.section-tools
					.container
						.section-tools__inner.js-section-tools
				.container
					include components/similar-articles/similar-articles.pug

			include components/footer/footer.pug
	
		include _scripts.pug