include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ArtGallery
		include _styles.pug
	body
		include _svg.pug
	
		.wrapper.wrapper_inner
			include components/header/header.pug

			.section.breadcrumbs
				.container
					.breadcrumbs__inner
						a.breadcrumbs__back(href="#")
							.breadcrumbs__back-icon
								+svg('arrow_smart', '-w')
							.breadcrumbs__back-text Назад
						.breadcrumbs__history
							a.breadcrumbs__history-link(href="#") Главная
							.breadcrumbs__history-current Новости искусства

			include components/blog/blog
			include components/grid/grid

			include components/footer/footer.pug
	
		include _scripts.pug