include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important.hidden-tablet-down
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Корзина
            .section.section_gray.section_cart
                .container
                    .cart
                        .cart__main
                            .cart__main-inner
                                span.cart-head.cart-head_nomargin Моя корзина
                                .cart-item
                                    .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                                    .cart-item__main
                                        a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                                        a.cart-item__author(href="#") Екатерина Александровна<br/>Преображенская
                                        .cart-item__info
                                            .cart-item__descs
                                                .cart-item__desc
                                                    span Размер: 
                                                    span 80x60 см.
                                                .cart-item__desc
                                                    span Стиль: 
                                                    a(href="#") Пейзаж
                                            .cart-item__prices
                                                span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                span.cart-item__oldprice 927 750

                                    span.cart-item__remove 
                                        span Удалить
                                        +svg('icon-close')
                                .cart-item
                                    .cart-item__img(style="background-image:url(assets/images/inhtml/articles-2.jpg")
                                    .cart-item__main
                                        a.cart-item__title(href="#") Растущее действие
                                        a.cart-item__author(href="#") Соколов Виталий
                                        .cart-item__info
                                            .cart-item__descs
                                                .cart-item__desc
                                                    span Размер: 
                                                    span 80x60 см.
                                                .cart-item__desc
                                                    span Стиль: 
                                                    a(href="#") Пейзаж
                                            .cart-item__prices
                                                span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                span.cart-item__oldprice 927 750
                                    span.cart-item__remove 
                                        span Удалить
                                        +svg('icon-close')
                        .cart__aside
                            .js-stick
                                .cart__aside-inner
                                    span.cart-head.cart-head_noline Итого
                                    .cart-result
                                        .cart-result__main
                                            .cart-result__row
                                                span Товары на сумму
                                                span 727 750 <span class="rubl">₽</span>
                                            .cart-result__row
                                                span Доставка
                                                span 0 <span class="rubl">₽</span>
                                            .cart-result__row
                                                a(href="#") Промокод
                                                span — 650 <span class="rubl">₽</span>
                                            .cart-result__promo
                                                span KHF78YF (-5%)
                                                a(href="#").cart-result__promo-remove Удалить
                                            form.cart-result__form
                                                label.cart-result__form-label Введите промокод
                                                .cart-result__form-line
                                                    input(type="text" maxlength="7" required)
                                                    button(type="submit") Применить
                                        .cart-result__bottom
                                            .cart-result__final
                                                span Всего к оплате:
                                                span  1 327 750 <span class="rubl">₽</span>
                                            .cart-result__buttons
                                                a.btn.btn_green(href="#") Перейти к оформлению
                                                    .arrow


            include components/footer/footer.pug


    
        include _scripts.pug