include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery. Каталог
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug

            .page-header
                .container
                    .page-header__inner
                        img.page-header__img(src="assets/images/inhtml/catalog-bg.jpg" data-parallax-img data-speed="0.2")
                        .page-header__content
                            span.page-header__title Каталог картин
            .filter.js-filter
                .filter__head.js-filter-head
                    .container
                        .filter__head-inner
                            +svg('icon-filter')
                            span Фильтр
                .filter__main.js-filter-main
                    .filter__buttons.js-filter-buttons
                        .container
                            .filter__buttons-inner
                                button.btn.btn_icon.btn_arrow.filter__toggle.js-filter-toggle
                                    span Развернуть
                                    span Свернуть
                    .container
                        .filter__inner
                            .filter__row
                                .filter__item.filter__item_top
                                    span.filter__item-title Цена
                                    .filter__item-main
                                        .l-rangeslider.js-l-rangeslider
                                            .l-rangeslider__inputs
                                                input.l-rangeslider__input.js-l-rangeslider-from(type="text")
                                                .l-rangeslider__separate
                                                input.l-rangeslider__input.js-l-rangeslider-to(type="text")
                                            .l-rangeslider__main
                                                input.js-l-rangeslider-main(type="text" data-min="0" data-max="500000" data-from="0" data-to="500000" data-step="10")
                                .filter__item.filter__item_compact
                                    span.filter__item-title Размер
                                    .filter__item-main
                                        .l-rangeslider.js-l-rangeslider
                                            .l-rangeslider__inputs
                                            .l-rangeslider__main
                                                input.js-l-rangeslider-main(type="text" data-from="0" data-to="4" data-values="S,M,L,XL,XXL")
                                .filter__item
                                    span.filter__item-title Ориентация
                                    .filter__item-main
                                        include components/l-orientation/l-orientation.pug
                                .filter__item.filter__item_btn
                                    button.btn.btn_icon(href="#") Сбросить
                                        +svg('icon-reset')
                                    button.btn.btn_icon.btn_arrow.filter__toggle.js-filter-toggle.hidden-tablet-up
                                        span Развернуть
                                        span Свернуть
                    .filter__tabs.js-filter-tabs
                        .filter__tabs-head
                            .container
                                .filter__tabs-head-inner
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Автор
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Жанр
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Цвет
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Тема
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Материал
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Стиль
                        .filter__tabs-main
                            span.filter__tabs-head-item.js-filter-tabs-head-item Автор
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    include components/l-autocomplete/l-autocomplete.pug
                            span.filter__tabs-head-item.js-filter-tabs-head-item Жанр
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-1" name="l-option")
                                            label(for="l-option-1-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-2" name="l-option")
                                            label(for="l-option-1-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-3" name="l-option")
                                            label(for="l-option-1-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-4" name="l-option")
                                            label(for="l-option-1-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-5" name="l-option")
                                            label(for="l-option-1-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-6" name="l-option")
                                            label(for="l-option-1-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-7" name="l-option")
                                            label(for="l-option-1-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-8" name="l-option")
                                            label(for="l-option-1-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-9" name="l-option")
                                            label(for="l-option-1-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-10" name="l-option")
                                            label(for="l-option-1-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-11" name="l-option")
                                            label(for="l-option-1-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-12" name="l-option")
                                            label(for="l-option-1-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-13" name="l-option")
                                            label(for="l-option-1-13") Натюрморт
                            
                            span.filter__tabs-head-item.js-filter-tabs-head-item Цвет
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-1" name="l-option-2")
                                            label(for="l-option-2-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-2" name="l-option-2")
                                            label(for="l-option-2-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-3" name="l-option-2")
                                            label(for="l-option-2-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-4" name="l-option-2")
                                            label(for="l-option-2-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-5" name="l-option-2")
                                            label(for="l-option-2-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-6" name="l-option-2")
                                            label(for="l-option-2-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-7" name="l-option-2")
                                            label(for="l-option-2-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-8" name="l-option-2")
                                            label(for="l-option-2-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-9" name="l-option-2")
                                            label(for="l-option-2-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-10" name="l-option-2")
                                            label(for="l-option-2-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-11" name="l-option-2")
                                            label(for="l-option-2-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-12" name="l-option-2")
                                            label(for="l-option-2-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-2-13" name="l-option-2")
                                            label(for="l-option-2-13") Натюрморт
                            span.filter__tabs-head-item.js-filter-tabs-head-item Тема
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-1" name="l-option-3")
                                            label(for="l-option-3-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-2" name="l-option-3")
                                            label(for="l-option-3-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-3" name="l-option-3")
                                            label(for="l-option-3-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-4" name="l-option-3")
                                            label(for="l-option-3-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-5" name="l-option-3")
                                            label(for="l-option-3-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-6" name="l-option-3")
                                            label(for="l-option-3-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-7" name="l-option-3")
                                            label(for="l-option-3-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-8" name="l-option-3")
                                            label(for="l-option-3-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-9" name="l-option-3")
                                            label(for="l-option-3-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-10" name="l-option-3")
                                            label(for="l-option-3-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-11" name="l-option-3")
                                            label(for="l-option-3-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-12" name="l-option-3")
                                            label(for="l-option-3-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-3-13" name="l-option-3")
                                            label(for="l-option-3-13") Натюрморт
                            span.filter__tabs-head-item.js-filter-tabs-head-item Материал
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-1" name="l-option-4")
                                            label(for="l-option-4-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-2" name="l-option-4")
                                            label(for="l-option-4-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-3" name="l-option-4")
                                            label(for="l-option-4-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-4" name="l-option-4")
                                            label(for="l-option-4-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-5" name="l-option-4")
                                            label(for="l-option-4-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-6" name="l-option-4")
                                            label(for="l-option-4-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-7" name="l-option-4")
                                            label(for="l-option-4-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-8" name="l-option-4")
                                            label(for="l-option-4-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-9" name="l-option-4")
                                            label(for="l-option-4-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-10" name="l-option-4")
                                            label(for="l-option-4-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-11" name="l-option-4")
                                            label(for="l-option-4-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-12" name="l-option-4")
                                            label(for="l-option-4-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-4-13" name="l-option-4")
                                            label(for="l-option-4-13") Натюрморт
                            span.filter__tabs-head-item.js-filter-tabs-head-item Стиль
                            .filter__tabs-main-item.js-filter-tabs-main-item
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-1" name="l-option-5")
                                            label(for="l-option-5-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-2" name="l-option-5")
                                            label(for="l-option-5-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-3" name="l-option-5")
                                            label(for="l-option-5-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-4" name="l-option-5")
                                            label(for="l-option-5-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-5" name="l-option-5")
                                            label(for="l-option-5-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-6" name="l-option-5")
                                            label(for="l-option-5-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-7" name="l-option-5")
                                            label(for="l-option-5-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-8" name="l-option-5")
                                            label(for="l-option-5-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-9" name="l-option-5")
                                            label(for="l-option-5-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-10" name="l-option-5")
                                            label(for="l-option-5-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-11" name="l-option-5")
                                            label(for="l-option-5-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-12" name="l-option-5")
                                            label(for="l-option-5-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-5-13" name="l-option-5")
                                            label(for="l-option-5-13") Натюрморт
            include components/popular-filter/popular-filter.pug

            .section.section_border.section_gray
                .container
                    .section-tools.section-tools_static
                        .section-tools__inner.js-section-tools
                            .l-select
                                span.l-select__title Сортировать по
                                select.l-select__input.js-l-select-input
                                    option(value="Дате добавления") Дате добавления
                                    option(value="Времени") Времени
                                    option(value="Автору") Автору
                                    option(value="Названию") Названию
                .container
                    - var galleryStamp = false
                    - var galleryBtn = "Показать еще"
                    include components/gallery/gallery.pug
                
                                    





            include components/footer/footer.pug
    
        include _scripts.pug