include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important.hidden-tablet-down
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Оформление заказа
            .section.section_gray.section_cart
                .container
                    .cart
                        .cart__main
                            .cart__main-inner
                            
                                form.form(data-validate)
                                    span.cart-head Оформление заказа
                                    .cart-block
                                        span.cart-block__head Контактная информация
                                        .cart-block__main
                                            .form
                                                .form__row.form__row_columns
                                                    .form__field
                                                        label.form__label Имя
                                                        input.form__input.js-input-name(type="text" required name="name")
                                                    .form__field
                                                        label.form__label Фамилия
                                                        input.form__input.js-input-name(type="text" required name="surname")
                                                .form__row.form__row_columns
                                                    .form__field
                                                        label.form__label Телефон
                                                        input.form__input.js-input-phone(type="text" required name="phone")
                                                    .form__field
                                                        label.form__label E-mail
                                                        input.form__input(type="email" required name="email")
                                    .cart-block
                                        span.cart-block__head Доставка
                                        .cart-block__main
                                            .form
                                                .form__row.form__row_columns
                                                    .form__field
                                                        label.form__label Населенный пункт
                                                        input.form__input(type="text" required name="address1")
                                                .form__row.form__row_columns
                                                    .form__field
                                                        label.form__label Адрес
                                                        input.form__input(type="text" required name="address2" placeholder="Улица")
                                                .form__row.form__row_columns
                                                    .form__field
                                                        input.form__input(type="text" required name="address3" placeholder="Дом / Корпус / Строение")
                                                    .form__field
                                                        input.form__input(type="text" required name="address4" placeholder="Квартира / Офис")
                                                .form__row.form__row_columns.form__row_columns_desktop
                                                    label.form__label Тип доставки
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio1" value="blockRadio1-1" checked)
                                                            .block-radio__main
                                                                span.block-radio__title Стандартная доставка (+5780 р)
                                                                span.block-radio__desc Стоимость рассчитывается по тарифам транпортной компании Описание доставки
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio1" value="blockRadio1-2")
                                                            .block-radio__main
                                                                span.block-radio__title С проверкой картины (+5780 р)
                                                                span.block-radio__desc Стоимость рассчитывается по тарифам описание Описание доставки
                                    .cart-block
                                        span.cart-block__head Способ оплаты
                                        .cart-block__main
                                            .form
                                                .form__row.form__row_columns.form__row_columns_desktop
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio2" value="blockRadio2-1" checked)
                                                            .block-radio__main
                                                                span.block-radio__title Банковской картой
                                                                span.block-radio__desc Мы принимаем MasterCard, Visa, МИР
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio2" value="blockRadio2-2")
                                                            .block-radio__main
                                                                span.block-radio__title Яндекс.Деньги
                                                                span.block-radio__desc Описание способа оплаты
                                                .form__row.form__row_columns.form__row_columns_desktop
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio2" value="blockRadio2-3" checked)
                                                            .block-radio__main
                                                                span.block-radio__title WebMoney
                                                                span.block-radio__desc Описание способа оплаты
                                                    .form__field
                                                        label.block-radio
                                                            input.block-radio__input(type="radio" name="blockRadio2" value="blockRadio2-4")
                                                            .block-radio__main
                                                                span.block-radio__title QIWI Кошелек
                                                                span.block-radio__desc Описание способа оплаты
                                    .cart-result.cart-result_big
                                        span.cart-head Итого
                                        .cart-result__main
                                            .cart-result__row
                                                span Товары на сумму
                                                span 727 750 <span class="rubl">₽</span>
                                            .cart-result__row
                                                span Доставка
                                                span 0 <span class="rubl">₽</span>
                                            .cart-result__row
                                                a(href="#") Промокод
                                                span — 650 <span class="rubl">₽</span>
                                        .cart-result__bottom
                                            .cart-result__final
                                                span К оплате:
                                                span  1 327 750 <span class="rubl">₽</span>
                                            .cart-result__buttons
                                                button.btn.btn_green_border.btn_cart(type="submit") Оплатить
                        .cart__aside
                            .js-stick
                                .cart-list.js-cart-list
                                    .cart-list__head.js-cart-list-head
                                        span.cart-list__head-title 2 товара в корзине
                                        div
                                            a(href="#") Изменить
                                    .cart-list__main.js-cart-list-main
                                        .cart-list__main-inner
                                            .cart-list__item
                                                .cart-list__item-img(style="background-image:url('assets/images/inhtml/articles-1.jpg')")
                                                .cart-list__item-main
                                                    a.cart-list__item-title(href="#") Распоряжение о структуре длинное название картины в две строки
                                                    a.cart-list__item-author(href="#") Екатерина Александровна<br/>Преображенская
                                                    .cart-list__item-prices
                                                        span.cart-list__item-price 727 750 <span class="rubl">₽</span>
                                                        span.cart-list__item-oldprice 927 750
                                            .cart-list__item
                                                .cart-list__item-img(style="background-image:url('assets/images/inhtml/articles-2.jpg')")
                                                .cart-list__item-main
                                                    a.cart-list__item-title(href="#") Растущее действие
                                                    a.cart-list__item-author(href="#") Соколов Виталий
                                                    .cart-list__item-prices
                                                        span.cart-list__item-price 727 750 <span class="rubl">₽</span>
                                                        span.cart-list__item-oldprice 927 750

                                .cart__aside-inner.hidden-mobile-down
                                    .cart-result
                                        span.cart-head.cart-head_noline Итого
                                        .cart-result__main
                                            .cart-result__row
                                                span Товары на сумму
                                                span 727 750 <span class="rubl">₽</span>
                                            .cart-result__row
                                                span Доставка
                                                span 0 <span class="rubl">₽</span>
                                            .cart-result__row
                                                a(href="#") Промокод
                                                span — 650 <span class="rubl">₽</span>
                                        .cart-result__bottom
                                            .cart-result__final
                                                span Всего к оплате:
                                                span  1 327 750 <span class="rubl">₽</span>
                                            .cart-result__buttons
                                                button.btn.btn_green_border.btn_cart(type="submit") Оплатить
                                .cart-payment.hidden-mobile-down
                                    .payment.payment_wrap
                                        span.payment__title Мы принимаем:
                                        img.payment__item(src="assets/images/pay-visa.png", alt="")
                                        img.payment__item(src="assets/images/pay-mastercard.png", alt="")
                                        img.payment__item(src="assets/images/pay-qiwi.png", alt="")
                                        img.payment__item(src="assets/images/pay-webmoney.png", alt="")
                                        img.payment__item(src="assets/images/pay-yandexmoney.png", alt="")
                                        img.payment__item(src="assets/images/pay-mir.png", alt="")


            include components/footer/footer.pug


    
        include _scripts.pug