include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery. Разводящая
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper
            include components/header/header.pug

            div.razvod
                .container
                    div
                        a(href="main.html") Главная
                    div
                        a(href="catalog.html") Каталог
                    div
                        a(href="catalog_fixed.html") Каталог с фиксированным фильтром
                    div
                        a(href="picture.html") Страница картины
                    div
                        a(href="main_popup.html") Авторизация/регистрация
                    div
                        a(href="popup_success.html") Попап об удачной отправке
                    div
                        a(href="author.html") Автор
                    div
                        a(href="search.html") Поиск
                    div
                        a(href=" blog.html") Блог
                    div
                        a(href="blog_detail.html") Блог (детальная)
                    div
                        a(href="cart.html") Моя корзина
                    div
                        a(href="checkout.html") Оформление заказа
                    div
                        a(href="lk_orders.html") ЛК. Мои заказы
                    div
                        a(href="lk_order_detail.html") ЛК. Детали заказа
                    div
                        a(href="lk_profile.html") ЛК. Настройки профиля
                    div
                        a(href="lk_change_password.html") ЛК. Изменение пароля
                    div
                        a(href="lk_subscribe.html") ЛК. Подписки и уведомления
                    div
                        a(href="404.html") 404
                    div
                        a(href="lk_works.html") ЛК. Мои работы
                    div
                        a(href="lk_work_add.html") ЛК. Добавление работы
            

            |    <style>
            |        .razvod {
            |            padding: 100px 0;
            |        }
            |        .razvod div {
            |           margin-bottom: 10px;
            |        }
            |        .razvod a {
            |            text-transform: uppercase;
            |            font-size: 24px;
            |        }
            |        .razvod a:hover {
            |            color: #009999;
            |        }
            |  </style>

            include components/footer/footer.pug


    
        include _scripts.pug