include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Изменить пароль
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .lk__aside-inner
                                .lk-user
                                    .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                        input.js-lk-user-img-input(type="file")
                                    span.lk-user__hello Здравствуйте,
                                    span.lk-user__name Диана Миллер
                                .lk-menu
                                    .lk-menu__group
                                        a.lk-menu__link.is-active(href="#") Мои данные
                                        a.lk-menu__link(href="#") Мои заказы
                                        a.lk-menu__link(href="#") Сообщения
                                        a.lk-menu__link(href="#") Мои работы
                                    .lk-menu__group
                                        a.lk-menu__link(href="#") Изменить пароль
                                        a.lk-menu__link(href="#") Уведомления и подписки
                                    .lk-menu__group
                                        a.lk-menu__link(href="#")
                                            +svg('icon-logout')
                                            | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Изменить пароль
                                .lk-desc
                                    span Здесь вы можете изменить ваш пароль
                                .lk-block
                                    span.lk-block__delimiter
                                    .lk-block__main
                                        form.form(data-validate)
                                            .form__row
                                                span.form__row-title Теущий пароль
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="password" required name="password")
                                            .form__row
                                                span.form__row-title Новый пароль
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="password" required name="new_password")
                                            .form__row
                                                span.form__row-title.lk-block__tooltip Пароль должен содержать не менее 8 символов
                                                .form__row-main
                                                    .form__buttons
                                                        button.btn.btn_green.btn_form.btn_form--top-margin(type="submit") Сохранить изменения

                                            
                                                    
            

            include components/footer/footer.pug


    
        include _scripts.pug