include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Мои заказы
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .js-stick
                                .lk__aside-inner
                                    .lk-user
                                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                            input.js-lk-user-img-input(type="file")
                                        span.lk-user__hello Здравствуйте,
                                        span.lk-user__name Диана Миллер
                                    .lk-menu
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Мои данные
                                            a.lk-menu__link.is-active(href="#") Мои заказы
                                            a.lk-menu__link(href="#") Сообщения
                                            a.lk-menu__link(href="#") Мои работы
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Изменить пароль
                                            a.lk-menu__link(href="#") Уведомления и подписки
                                        .lk-menu__group
                                            a.lk-menu__link(href="#")
                                                +svg('icon-logout')
                                                | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Мои заказы
                                .lk-desc
                                    span В этом разделе размещены все ваши заказы
                                .lk-orders
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-warning Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-error Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                    .lk-orders__item.order-item
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__title <span>Заказ</span> №23456-65
                                                span.order-item__date 21.12.18
                                            .order-item__column
                                                span.order-item__price 727 750 <span class="rubl">₽</span>
                                        .order-item__row
                                            .order-item__column
                                                span.order-item__status.status-good Статус заказа
                                            .order-item__column
                                                a.order-item__more(href="#") Подробнее о заказе
                                                    .arrow
                                .pagination.pagination_lk
                                    .pagination__prev
                                        .arrow
                                    ul.pagination__list
                                        li.pagination__list-item
                                            a.pagination__list-item-link.pagination__list-item-link--current(href="#") 1
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 2
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 3
                                        li.pagination__list-item ...
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 27
                                    .pagination__next
                                        .arrow



                                            
                                                    
            

            include components/footer/footer.pug


    
        include _scripts.pug