include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            a.breadcrumbs__history-link(href="#") Мои заказа
                            .breadcrumbs__history-current Заказ №23456-65
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .js-stick
                                .lk__aside-inner
                                    .lk-user
                                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                            input.js-lk-user-img-input(type="file")
                                        span.lk-user__hello Здравствуйте,
                                        span.lk-user__name Диана Миллер
                                    .lk-menu
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Мои данные
                                            a.lk-menu__link.is-active(href="#") Мои заказы
                                            a.lk-menu__link(href="#") Сообщения
                                            a.lk-menu__link(href="#") Мои работы
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Изменить пароль
                                            a.lk-menu__link(href="#") Уведомления и подписки
                                        .lk-menu__group
                                            a.lk-menu__link(href="#")
                                                +svg('icon-logout')
                                                | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Заказ №23456-65
                                table.lk-detail
                                    tr
                                        td Дата заказа
                                        td 24.10.2018
                                    tr
                                        td Статус заказа
                                        td.status-good Статус заказа
                                    tr
                                        td Получатель
                                        td
                                            div
                                                span Диана Миллер
                                            div
                                                span +7 (999) 9999-99-00
                                            div
                                                a(href="#") info@domainname.ru
                                    tr
                                        td Адрес доставки
                                        td Россия, Москва<br/>Пресненская Набережная, 10
                                    tr
                                        td Способ доставки
                                        td С проверкой на подлинность
                                    tr
                                        td Способ оплаты
                                        td Банковской картой
                                .lk-block
                                    span.lk-block__head.lk-block__head_nomargin Состав заказа
                                    .lk-block__main
                                        .cart-item
                                            .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                                            .cart-item__main
                                                a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                                                a.cart-item__author(href="#") Екатерина Александровна<br/>Преображенская
                                                .cart-item__info
                                                    .cart-item__descs
                                                        .cart-item__desc
                                                            span Размер: 
                                                            span 80x60 см.
                                                        .cart-item__desc
                                                            span Стиль: 
                                                            a(href="#") Пейзаж
                                                    .cart-item__prices
                                                        span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                        span.cart-item__oldprice 927 750
                                        .cart-item
                                            .cart-item__img(style="background-image:url(assets/images/inhtml/articles-2.jpg")
                                            .cart-item__main
                                                a.cart-item__title(href="#") Растущее действие
                                                a.cart-item__author(href="#") Соколов Виталий
                                                .cart-item__info
                                                    .cart-item__descs
                                                        .cart-item__desc
                                                            span Размер: 
                                                            span 80x60 см.
                                                        .cart-item__desc
                                                            span Стиль: 
                                                            a(href="#") Пейзаж
                                                    .cart-item__prices
                                                        span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                        span.cart-item__oldprice 927 750
                                .lk-block
                                    span.lk-block__head Сумма заказа
                                    .lk-block__main
                                        .cart-result.cart-result_detail
                                            .cart-result__main
                                                .cart-result__row
                                                    span Товары на сумму
                                                    span 727 750 <span class="rubl">₽</span>
                                                .cart-result__row
                                                    span Доставка
                                                    span 0 <span class="rubl">₽</span>
                                                .cart-result__row
                                                    a(href="#") Промокод
                                                    span — 650 <span class="rubl">₽</span>
                                            .cart-result__bottom
                                                .cart-result__final
                                                    span Всего к оплате:
                                                    span  1 327 750 <span class="rubl">₽</span>

                                    



                                            
                                                    
            

            include components/footer/footer.pug


    
        include _scripts.pug