include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Мои данные
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .js-stick
                                .lk__aside-inner
                                    .lk-user
                                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                            input.js-lk-user-img-input(type="file")
                                        span.lk-user__hello Здравствуйте,
                                        span.lk-user__name Диана Миллер
                                    .lk-menu
                                        .lk-menu__group
                                            a.lk-menu__link.is-active(href="#") Мои данные
                                            a.lk-menu__link(href="#") Мои заказы
                                            a.lk-menu__link(href="#") Сообщения
                                            a.lk-menu__link(href="#") Мои работы
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Изменить пароль
                                            a.lk-menu__link(href="#") Уведомления и подписки
                                        .lk-menu__group
                                            a.lk-menu__link(href="#")
                                                +svg('icon-logout')
                                                | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Мои данные
                                .lk-user.hidden-tablet-up
                                    .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                        input.js-lk-user-img-input(type="file")
                                    span.lk-user__hello Здравствуйте,
                                    span.lk-user__name Диана Миллер
                                .lk-desc
                                    span Вы можете внести любые изменения о себе
                                .lk-block
                                    span.lk-block__head Основная информация
                                    .lk-block__main
                                        form.form(data-validate)
                                            .form__row.form__row_columns
                                                .form__field
                                                    label.form__label Имя
                                                    input.form__input.js-input-name(type="text" required name="name")
                                                .form__field
                                                    label.form__label Фамилия
                                                    input.form__input.js-input-name(type="text" required name="surname")
                                            .form__row.form__row_columns
                                                .form__field
                                                    label.form__label Телефон
                                                    input.form__input.js-input-phone(type="text" required name="phone")
                                                .sms-confirm
                                                    .sms-confirm__main
                                                        .sms-confirm__main-title
                                                            label.form__label Введите код из SMS
                                                        .sms-confirm__main-fields
                                                            input.form__input(type="text" maxlength="6" name="sms1")
                                                            .sms-confirm__text.hidden-tablet-up
                                                                a.href.href_tip(href="#popupDesc" data-fancybox-modal) Для чего подтверждать номер?
                                                            button.btn.btn_dark.btn_small.btn_sms Подтвердить
                                                            .sms-confirm__text.hidden-tablet-up
                                                                span Не получил код. 
                                                                a(href="#") Выслать заново
                                                    .sms-confirm__desc
                                                        .sms-confirm__text
                                                            a.href.href_tip(href="#popupDesc" data-fancybox-modal) Для чего подтверждать номер?
                                                        .sms-confirm__text
                                                            span Не получил код. 
                                                            a(href="#") Выслать заново
                                                .form__field
                                                    label.form__label E-mail
                                                    input.form__input(type="email" required name="email")                                                
                                            .form__row.form__row_columns
                                                .form__field
                                                    label.form__label Доп. Телефон
                                                    input.form__input.js-input-phone(type="text" required name="additionalPhone")
                                                .sms-confirm(style="display:none;")
                                                    .sms-confirm__main
                                                        .sms-confirm__main-title
                                                            label.form__label Введите код из SMS
                                                        .sms-confirm__main-fields
                                                            input.form__input(type="text" maxlength="6" name="sms1")
                                                            .sms-confirm__text.hidden-tablet-up
                                                                a.href.href_tip(href="#popupDesc" data-fancybox-modal) Для чего подтверждать номер?
                                                            button.btn.btn_dark.btn_small.btn_sms Подтвердить
                                                            .sms-confirm__text.hidden-tablet-up
                                                                span Не получил код. 
                                                                a(href="#") Выслать заново
                                                    .sms-confirm__desc
                                                        .sms-confirm__text
                                                            a.href.href_tip(href="#popupDesc" data-fancybox-modal) Для чего подтверждать номер?
                                                        .sms-confirm__text
                                                            span Не получил код. 
                                                            a(href="#") Выслать заново
                                                .form__field
                                            .form__row.form__row_columns
                                                .form__buttons
                                                    button.btn.btn_green.btn_form(type="submit") Сохранить изменения
                                                .form__field
                                .lk-block
                                    span.lk-block__head Дополнительная информация
                                    .lk-block__main
                                        form.form(data-validate)
                                            .form__row
                                                span.form__row-title Дата рождения
                                                .form__row-main
                                                    .form__select
                                                        select.js-select2(data-placeholder="День" name="day")
                                                            option(value="")
                                                            option(value="1") 1
                                                            option(value="2") 2
                                                            option(value="3") 3
                                                            option(value="4") 4
                                                    .form__select
                                                        select.js-select2(data-placeholder="Месяц" name="month" required)
                                                            option(value="")
                                                            option(value="Январь") Январь
                                                            option(value="Февраль") Февраль
                                                            option(value="Март") Март
                                                    .form__select
                                                        select.js-select2(data-placeholder="Год" name="year" required)
                                                            option(value="")
                                                            option(value="2009") 2009
                                                            option(value="2010") 2010
                                                            option(value="2011") 2011
                                                            option(value="2012") 2012
                                            .form__row
                                                span.form__row-title.form__row-title_small Пол
                                                .form__row-main
                                                    label.form__radio
                                                        input.radio(type="radio", name="gender", value="man", checked)
                                                        span Мужской
                                                    label.form__radio
                                                        input.radio(type="radio", name="gender", value="woman", checked)
                                                        span Женский
                                            .form__row
                                                span.form__row-title Страна
                                                .form__row-main
                                                    .form__field
                                                        .form__select
                                                            select.js-select2(data-placeholder="Выберите страну" name="country" required)
                                                                option(value="") 
                                                                option(value="Великобритания") Великобритания
                                                                option(value="Россия") Россия
                                                                option(value="Франция") Франция
                                            .form__row
                                                span.form__row-title Город
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="text" name="city" required)
                                            .form__row
                                                span.form__row-title Основной стиль
                                                .form__row-main
                                                    .form__field
                                                        .form__select
                                                            select.js-select2(data-placeholder="Выберите стиль" name="style" required)
                                                                option(value="")
                                                                option(value="Стиль") Стиль
                                                                option(value="неСтиль") неСтиль
                                                                option(value="Стиль 2") Стиль 2
                                            .form__row
                                                span.form__row-title О себе
                                                .form__row-main
                                                    .form__field
                                                        textarea.form__area.js-form-area(name="about" required)
                                            .form__row
                                                span.form__row-title
                                                .form__row-main
                                                    .form__buttons
                                                        button.btn.btn_green.btn_form(type="submit") Сохранить изменения
                                .lk-block
                                    span.lk-block__head Адрес доставки
                                    .lk-block__main
                                        .lk-block__desc
                                            span Адрес будет автоматически подставляться при оформлении заказа
                                        form.form(data-validate)
                                            .form__row
                                                span.form__row-title Населенный пункт
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="text" required name="address1")
                                            .form__row
                                                span.form__row-title Адрес
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="text" required name="address2" placeholder="Улица")
                                            .form__row
                                                span.form__row-title
                                                .form__row-main
                                                    .form__field
                                                        input.form__input(type="text" required name="address3" placeholder="Дом / Корпус / Строение")
                                                    .form__field
                                                        input.form__input(type="text" required name="address4" placeholder="Квартира / Офис")
                                            .form__row
                                                span.form__row-title
                                                .form__row-main
                                                    .form__buttons
                                                        button.btn.btn_green.btn_form(type="submit") Сохранить изменения

                                            
                                                    
            

            include components/footer/footer.pug

        .modal#popupDesc
            span.modal__header Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus cum, illum nemo rerum consequatur perspiciatis architecto inventore, eaque obcaecati ex asperiores harum adipisci voluptatibus tempora, facilis aliquam ratione vitae.Tempore odit minima ad voluptates esse tenetur eius doloremque labore aliquam, ducimus suscipit nesciunt voluptas voluptatem, enim quaerat non voluptatibus itaque! Porro enim ratione accusamus molestias laborum odit consequuntur fuga.


    
        include _scripts.pug