include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Уведомления и подписки
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .lk__aside-inner
                                .lk-user
                                    .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                        input.js-lk-user-img-input(type="file")
                                    span.lk-user__hello Здравствуйте,
                                    span.lk-user__name Диана Миллер
                                .lk-menu
                                    .lk-menu__group
                                        a.lk-menu__link.is-active(href="#") Мои данные
                                        a.lk-menu__link(href="#") Мои заказы
                                        a.lk-menu__link(href="#") Сообщения
                                        a.lk-menu__link(href="#") Мои работы
                                    .lk-menu__group
                                        a.lk-menu__link(href="#") Изменить пароль
                                        a.lk-menu__link(href="#") Уведомления и подписки
                                    .lk-menu__group
                                        a.lk-menu__link(href="#")
                                            +svg('icon-logout')
                                            | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Уведомления и подписки
                                .lk-desc
                                    span Здесь вы можете управлять уведомлениями и подписками
                                .lk-block
                                    span.lk-block__delimiter
                                    .lk-block__main
                                        form.form(data-validate)
                                            .form-notification__row
                                                span.form-notification__title Отправлять уведомления о&nbsp;новых&nbsp;работах&nbsp;авторов не&nbsp;чаще чем
                                                .form__row-main.form-notification__select
                                                    .form__select
                                                        select.js-select2
                                                            option(value="1") Раз в неделю
                                                            option(value="2") Раз в месяц
                                                            option(value="3") Раз в год
                                .lk-block
                                    span.lk-block__head.lk-block__head--margin E-mail рассылки
                                    .lk-block__main
                                        form.form(data-validate)
                                            .form-notification__row-checkbox
                                                label.label.label-inline.form-notification__label-checkbox
                                                    input.input.input-checkbox(type="checkbox", name="agreement", required)
                                                    .input-checkbox-block
                                                        +svg('icon-check', '-w')
                                                    .input-checkbox-text.form-notification__text-checkbox О статусе заказа
                                                .form-notification__desc-checkbox Появление заказа изменение его статуса
                                            .form-notification__row-checkbox
                                                label.label.label-inline.form-notification__label-checkbox
                                                    input.input.input-checkbox(type="checkbox", name="agreement", required)
                                                    .input-checkbox-block
                                                        +svg('icon-check', '-w')
                                                    .input-checkbox-text.form-notification__text-checkbox Тематические рассылки
                                                .form-notification__desc-checkbox Описание рассылки
                                            .form-notification__row-checkbox
                                                label.label.label-inline.form-notification__label-checkbox
                                                    input.input.input-checkbox(type="checkbox", name="agreement", required)
                                                    .input-checkbox-block
                                                        +svg('icon-check', '-w')
                                                    .input-checkbox-text.form-notification__text-checkbox Новостные рассылки
                                                .form-notification__desc-checkbox Описание рассылки
                                .lk-block
                                    span.lk-block__head.lk-block__head--margin Подписки на авторов
                                    .lk-block__main
                                        form.sign-author
                                            .sign-author__info
                                                .sign-author__img(style="background-image:url(assets/images/inhtml/author-1.png)")
                                                a.sign-author__name(href="#") Кристиан Рассел
                                            button.sign-author__btn(type="submit") Отписаться
                                        form.sign-author
                                            .sign-author__info
                                                .sign-author__img(style="background-image:url(assets/images/inhtml/author-2.png)")
                                                a.sign-author__name(href="#") Мария браун
                                            button.sign-author__btn(type="submit") Отписаться
                                        form.sign-author
                                            .sign-author__info
                                                .sign-author__img(style="background-image:url(assets/images/inhtml/author-3.png)")
                                                a.sign-author__name(href="#") Майкл Смит
                                            button.sign-author__btn(type="submit") Отписаться
                                        form.sign-author
                                            .sign-author__info
                                                .sign-author__img(style="background-image:url(assets/images/inhtml/author-4.png)")
                                                a.sign-author__name(href="#") Томас Грин
                                            button.sign-author__btn(type="submit") Отписаться

                                            
                                                    
            

            include components/footer/footer.pug


    
        include _scripts.pug