include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Мои работы
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .js-stick   
                                .lk__aside-inner
                                    .lk-user
                                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                            input.js-lk-user-img-input(type="file")
                                        span.lk-user__hello Здравствуйте,
                                        span.lk-user__name Диана Миллер
                                    .lk-menu
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Мои данные
                                            a.lk-menu__link(href="#") Мои заказы
                                            a.lk-menu__link(href="#") Сообщения
                                            a.lk-menu__link.is-active(href="#") Мои работы
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Изменить пароль
                                            a.lk-menu__link(href="#") Уведомления и подписки
                                        .lk-menu__group
                                            a.lk-menu__link(href="#")
                                                +svg('icon-logout')
                                                | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Мои работы
                                .lk-desc
                                    span В этом разделе вы можете размещать новые работы, <br/> а также редактировать существующие
                                .lk-tools
                                    .lk-tools__column
                                        a.btn.btn_plus.btn_green(href="#") Добавить работу
                                    .lk-tools__column
                                        .l-select
                                            span.l-select__title Сортировать по
                                            select.l-select__input.js-l-select-input
                                                option(value="Дате добавления") Дате добавления
                                                option(value="Времени") Времени
                                                option(value="Автору") Автору
                                                option(value="Названию") Названию
                                .lk-works
                                    .cart-item.cart-item_work
                                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                                        .cart-item__main
                                            a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                                            .cart-item__info
                                                div
                                                    span.cart-item__status Работа <span class="status-good">опубликована</span>
                                                    span.cart-item__status Модерация <span class="status-good">пройдена</span>
                                                .cart-item__prices
                                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                    span.cart-item__oldprice 927 750
                                        .cart-item__tools.js-cart-item-tools
                                            .cart-item__tools-head.js-cart-item-tools-head
                                                +svg('icon-dots')
                                            .cart-item__tools-main.js-cart-item-tools-main
                                                span.cart-item__tool.cart-item__tool_dot
                                                    span Удалить
                                                    +svg('icon-close')
                                                span.cart-item__tool
                                                    span Редактировать
                                                    +svg('icon-edit')
                                    .cart-item.cart-item_work
                                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-2.jpg")
                                        .cart-item__main
                                            a.cart-item__title(href="#") Растущее действие
                                            .cart-item__info
                                                div
                                                    span.cart-item__status Работа <span class="status-error">снята с публикации</span>
                                                    span.cart-item__status Модерация <span class="status-good">пройдена</span>
                                                .cart-item__prices
                                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                    span.cart-item__oldprice 927 750
                                        .cart-item__tools.js-cart-item-tools
                                            .cart-item__tools-head.js-cart-item-tools-head
                                                +svg('icon-dots')
                                            .cart-item__tools-main.js-cart-item-tools-main
                                                span.cart-item__tool.cart-item__tool_dot
                                                    span Удалить
                                                    +svg('icon-close')
                                                span.cart-item__tool
                                                    span Редактировать
                                                    +svg('icon-edit')
                                    .cart-item.cart-item_work
                                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                                        .cart-item__main
                                            a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                                            .cart-item__info
                                                div
                                                    span.cart-item__status Работа <span class="status-error">не опубликована</span>
                                                    span.cart-item__status Модерация <span class="status-warning">в процессе</span>
                                                .cart-item__prices
                                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                    span.cart-item__oldprice 927 750
                                        .cart-item__tools.js-cart-item-tools
                                            .cart-item__tools-head.js-cart-item-tools-head
                                                +svg('icon-dots')
                                            .cart-item__tools-main.js-cart-item-tools-main
                                                span.cart-item__tool.cart-item__tool_dot
                                                    span Удалить
                                                    +svg('icon-close')
                                                span.cart-item__tool
                                                    span Редактировать
                                                    +svg('icon-edit')
                                    .cart-item.cart-item_work
                                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-2.jpg")
                                        .cart-item__main
                                            a.cart-item__title(href="#") Растущее действие
                                            .cart-item__info
                                                div
                                                    span.cart-item__status Работа <span class="status-good">опубликована</span>
                                                    span.cart-item__status Модерация <span class="status-good">пройдена</span>
                                                .cart-item__prices
                                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                                    span.cart-item__oldprice 927 750
                                        .cart-item__tools.js-cart-item-tools
                                            .cart-item__tools-head.js-cart-item-tools-head
                                                +svg('icon-dots')
                                            .cart-item__tools-main.js-cart-item-tools-main
                                                span.cart-item__tool.cart-item__tool_dot
                                                    span Удалить
                                                    +svg('icon-close')
                                                span.cart-item__tool
                                                    span Редактировать
                                                    +svg('icon-edit')
                                    
                                .pagination.pagination_lk
                                    .pagination__prev
                                        .arrow
                                    ul.pagination__list
                                        li.pagination__list-item
                                            a.pagination__list-item-link.pagination__list-item-link--current(href="#") 1
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 2
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 3
                                        li.pagination__list-item ...
                                        li.pagination__list-item
                                            a.pagination__list-item-link(href="#") 27
                                    .pagination__next
                                        .arrow



                                            
                                                    
            

            include components/footer/footer.pug


    
        include _scripts.pug