include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug
            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Мои работы
            .section.section_gray.section_lk
                .container
                    .lk
                        .lk__aside
                            .js-stick
                                .lk__aside-inner
                                    .lk-user
                                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                                            input.js-lk-user-img-input(type="file")
                                        span.lk-user__hello Здравствуйте,
                                        span.lk-user__name Диана Миллер
                                    .lk-menu
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Мои данные
                                            a.lk-menu__link(href="#") Мои заказы
                                            a.lk-menu__link(href="#") Сообщения
                                            a.lk-menu__link.is-active(href="#") Мои работы
                                        .lk-menu__group
                                            a.lk-menu__link(href="#") Изменить пароль
                                            a.lk-menu__link(href="#") Уведомления и подписки
                                        .lk-menu__group
                                            a.lk-menu__link(href="#")
                                                +svg('icon-logout')
                                                | Выйти
                        .lk__main
                            .lk__main-inner
                                span.lk-head Добавить работу
                                    .lk-head__more
                                        a(href="#") Отменить
                                .lk-desc
                                    span Описание работы
                                form.form(data-validate)
                                    .form__row
                                        span.form__row-title Название работы
                                        .form__row-main
                                            .form__field
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title.form__row-title_small Я являюсь
                                        .form__row-main
                                            label.form__radio
                                                input.radio(type="radio", name="gender", value="man", checked)
                                                span Автором картины
                                            label.form__radio
                                                input.radio(type="radio", name="gender", value="woman", checked)
                                                span Владельцем
                                    .form__row
                                        span.form__row-title Автор картины
                                        .form__row-main
                                            .form__field
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title Автор картины
                                        .form__row-main
                                            .form__field
                                                .form__select.form__select_multiply
                                                    select.js-select2.js-select-close(data-placeholder="Выберите стиль" multiple="multiple")
                                                        option(value="") 
                                                        option(value="Стиль") Стиль
                                                        option(value="неСтиль") неСтиль
                                                        option(value="Стиль 2") Стиль 2
                                    .form__row
                                        span.form__row-title Фотографии
                                            span Вы можете загрузить не&nbsp;более 6&nbsp;(шести) изображений в&nbsp;формате .JPG .PNG
                                        .form__row-main
                                            .form__field
                                                .form__images.js-form-images
                                                    input.form__images-input.js-input-images(type="file" multiple maxlength="6" id="formImagesInput" name="images")
                                                    .form__images-wrap
                                                        .form__images-item.js-form-images-item(style="background-image:url(assets/images/inhtml/example-article-2.jpg)" data-text="Удалить")
                                                        .form__images-item.js-form-images-item(style="background-image:url(assets/images/inhtml/example-article-3.jpg)" data-text="Удалить")
                                                        .form__images-item.js-form-images-item(style="background-image:url(assets/images/inhtml/example-article-4.jpg)" data-text="Удалить")
                                                        .form__images-item.js-form-images-item.is-loader(data-text="Удалить")
                                                        label.form__images-add(for="formImagesInput")
                                                            +svg('icon-plus')
                                                            span Добавить
                                    .form__row
                                        span.form__row-title Описание картины
                                        .form__row-main
                                            .form__field
                                                textarea.form__area.js-form-area
                                    .form__row
                                        span.form__row-title Цена
                                        .form__row-main
                                            .form__field.form__field_half
                                                input.form__input.js-form-price(type="text")
                                    .form__row
                                        span.form__row-title Цена со скидкой
                                        .form__row-main
                                            .form__field.form__field_half
                                                input.form__input.js-form-price(type="text")
                                    .form__row
                                        span.form__row-title Исполнение
                                        .form__row-main
                                            .form__field
                                                .form__select
                                                    select.js-select2(data-placeholder="Выберите исполнение")
                                                        option(value="") 
                                                        option(value="Холст в раме") Холст в раме
                                                        option(value="Холст без рамы") Холст без рамы
                                                        option(value="Под стеклом") Под стеклом
                                    .form__row
                                        span.form__row-title.form__row-title_small Материал исполнения
                                        .form__row-main
                                            .form__field
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title Ориентация
                                        .form__row-main
                                            .form__field.form__field_half_2
                                                .form__select
                                                    select.js-select2(data-placeholder="Выберите ориентация")
                                                        option(value="") 
                                                        option(value="Горизонт") Горизонт
                                                        option(value="Вертикаль") Вертикаль
                                                        option(value="145deg") 145deg
                                    .form__row
                                        span.form__row-title Размер
                                        .form__row-main
                                            .form__field.form__field_auto
                                                input.form__input.js-input-number(type="text" placeholder="Ширина")
                                            span.form__text x
                                            .form__field.form__field_auto
                                                input.form__input.js-input-number(type="text" placeholder="Высота")
                                            span.form__text x
                                            .form__field.form__field_auto
                                                input.form__input.js-input-number(type="text" placeholder="Толщина")
                                            span.form__text см
                                    .form__row
                                        span.form__row-title Вес
                                        .form__row-main
                                            .form__field.form__field_auto
                                                input.form__input.js-input-float(type="text" placeholder="")
                                            span.form__text кг
                                    .form__row
                                        span.form__row-title Год написания
                                            span.tip.js-tip(title='Можно указать примерный год. Если год неизвестен, можно указать "Неизвестен"')
                                        .form__row-main
                                            .form__field.form__field_half_2
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title Тема
                                        .form__row-main
                                            .form__field
                                                .form__select.form__select_multiply
                                                    select.js-select2.js-select-close(data-placeholder="Выберите тему" multiple="multiple")
                                                        option(value="") 
                                                        option(value="ggsgsdgewt") ggsgsdgewt
                                                        option(value="Холст без рамы") Холст без рамы
                                                        option(value="Под стеклом") Под стеклом
                                    .form__row
                                        span.form__row-title Жанр
                                        .form__row-main
                                            .form__field
                                                .form__select.form__select_multiply
                                                    select.js-select2.js-select-close(data-placeholder="Выберите жанр" multiple="multiple")
                                                        option(value="") 
                                                        option(value="ggsgsdgewt") ggsgsdgewt
                                                        option(value="Холст без рамы") Холст без рамы
                                                        option(value="Под стеклом") Под стеклом
                                    .form__row
                                        span.form__row-title Техника
                                        .form__row-main
                                            .form__field
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title Холст
                                        .form__row-main
                                            .form__field
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title.form__row-title_small Местоположение картины, город
                                            span Используется для расчета доставки
                                        .form__row-main
                                            .form__field.is-loader
                                                input.form__input(type="text" required)
                                    .form__row
                                        span.form__row-title Цифровая копия
                                            span.mobile-aside
                                                a(href="#modalRequire" data-fancybox-modal) Требования к цифровой копии
                                        .form__row-main
                                            .form__field
                                                .form__drag.js-form-drag
                                                    .form__drag-field.js-form-drag-field
                                                        input.form__drag-input.js-form-drag-input(type="file" id="formDrag")
                                                        label.form__drag-label(for="formDrag")
                                                            .form__drag-content
                                                                +svg('icon-upload')
                                                                span.hidden-tablet-down Перетащите или выберите файл
                                                                span.hidden-desktop-up Выберите файл
                                                    .form__drag-file.js-form-drag-file
                                                        +svg('icon-file')
                                                        span.form__drag-name.js-form-drag-name
                                                        .form__drag-remove.js-form-drag-remove
                                                            +svg('icon-close')
                                    .form__row
                                        span.form__row-title.form__row-title_small Публикация
                                        .form__row-main
                                            label.form__check
                                                input.radio(type="checkbox", name="public", value="yes", checked)
                                                span Опубликовать работу
                                    .form__row.form__row_space_top
                                        .form__row-title
                                        .form__row-main
                                            .form__buttons
                                                button.btn.btn_form.btn_green(type="submit") Сохранить изменения
                                span.lk-subhead Не нашли параметров? <br/> Свяжитесь с нами
                                form.form(data-validate)
                                    .form__row.form__row_space_bottom
                                        span.form__row-title.form__row-title_small.form__row-title_infinite Выберите параметры
                                        .form__row-main.form__row-main_center
                                            label.form__check
                                                input.radio(type="checkbox", name="found", value="style", checked)
                                                span Стиль
                                            label.form__check
                                                input.radio(type="checkbox", name="found", value="theme", checked)
                                                span Тема
                                            label.form__check
                                                input.radio(type="checkbox", name="found", value="genre")
                                                span Жанр
                                    .form__row
                                        span.form__row-title Комментарии
                                        .form__row-main
                                            .form__field
                                                textarea.form__area.js-form-area
                                    .form__row
                                        .form__buttons.form__buttons_right
                                            submit.btn.btn_green_outline(type="submit") Отправить сообщение
                                    
                                



                                            
                                                    
            

            include components/footer/footer.pug

        .modal#modalRequire
            span.modal__header Заголовок
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum mollitia, impedit sit beatae a, consequuntur praesentium numquam suscipit iusto quaerat laudantium neque, in alias quisquam voluptatibus earum cumque adipisci dolor.Exercitationem, fugiat aperiam doloribus mollitia expedita cum neque! Aspernatur unde repellat tempora porro pariatur impedit hic sequi quibusdam eius est, atque ullam, magnam ad tempore! Saepe at repellendus fuga cumque.Doloremque, autem velit quod quia quis doloribus error praesentium quas aut totam, perferendis omnis, a ea dolores. Cumque iusto inventore ea consectetur ipsa voluptatem recusandae. Recusandae necessitatibus nam reprehenderit officiis?Quasi, nobis? Dolores repellendus quaerat accusantium ullam commodi architecto vero, fugiat doloribus dolorum, pariatur minima iste incidunt officiis? Harum aspernatur expedita quos rem blanditiis dolores laboriosam cumque quam aut nihil.Reprehenderit maxime suscipit dolorem, illum inventore deserunt saepe rerum illo sit sapiente! Eaque voluptate culpa, aliquid quo eius magni corrupti laboriosam sequi maxime beatae accusantium, numquam ipsa commodi, nesciunt eligendi.

    
        include _scripts.pug