include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        .wrapper.wrapper_inner
            include components/header/header.pug

            .section.breadcrumbs.breadcrumbs_important
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            a.breadcrumbs__history-link(href="#") Каталог
                            .breadcrumbs__history-current Название Картины
            .section
                .container
                    include components/picture/picture.pug
            .section.js-section.section_border.section_gray
                .section-head
                    .container
                        .section-head__inner
                            span.section-head__title Похожие работы
                .section-tools.section-tools_inner-page
                    .container
                        .section-tools__inner.js-section-tools
                .container
                    include components/similar-pictures/similar-pictures.pug



            include components/footer/footer.pug
    
        include _scripts.pug