include _mixins.pug

<!DOCTYPE html>
html(lang="ru" style="overflow:hidden;")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ArtGallery
		include _styles.pug
	body(style="overflow:hidden;")
		include _svg.pug
	
		.wrapper
			include components/header/header.pug

			include components/main-carousel/main-carousel.pug
			.section.section_light.js-section
				.section-head
					.container
						.section-head__inner
							span.section-head__title Не знаете с чего начать?
				.container
					include components/guide/guide.pug
			.section.js-section
				.section-head
					.container
						.section-head__inner
							span.section-head__title Новые работы
				.section-tools.hidden-mobile-down
					.container
						.section-tools__inner.js-section-tools
							.l-select.hidden-tablet-down
								span.l-select__title Сортировать по
								select.l-select__input.js-l-select-input
									option(value="Дате добавления") Дате добавления
									option(value="Времени") Времени
									option(value="Автору") Автору
									option(value="Названию") Названию
				.container
					include components/gallery/gallery.pug
			.section.section_light.js-section
				.section-head
					.container
						.section-head__inner
							span.section-head__title Обзор стилей
				.section-tools
					.container
						.section-tools__inner.js-section-tools
				.container
					include components/review-carousel/review-carousel.pug
			.section.section_news.js-section
				.section-head
					.container
						.section-head__inner
							span.section-head__title Новости искусства
				.section-tools
					.container
						.section-tools__inner.js-section-tools
				.container
					include components/news/news.pug
			include components/footer/footer.pug

			.popup
				.popup__bg
				.popup__container
					.popup__window
						.popup__close
							.popup__close-item
							.popup__close-item
						.popup__content.popup__content--success
							form.popup__content-wrapper(action="")
								span.popup__heading.popup__heading--center Успех!
								span.popup__subheading Мы отправили на ваш e-mail инструкцию по сбросу пароля
								.popup__icon
									+svg('check_smooth')
	
		include _scripts.pug