include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ArtGallery
		include _styles.pug
	body
		include _svg.pug
	
		.wrapper.wrapper_inner
			include components/header/header.pug

			.section.breadcrumbs
				.container
					.breadcrumbs__inner
						a.breadcrumbs__back(href="#")
							.breadcrumbs__back-icon
								+svg('arrow_smart', '-w')
							.breadcrumbs__back-text Назад
						.breadcrumbs__history
							a.breadcrumbs__history-link(href="#") Главная
							.breadcrumbs__history-current Результаты поиска по запросу Природа

			include components/search/search

			.section.search-tab.search-tab--visible(data-tab="pictures")
				.container
					.gallery
						.gallery__inner.js-gallery
							.gallery__gutter-sizer.js-gallery-gutter-sizer
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-1.jpg",
										title: "Распоряжение о <span class='search__result-text'>природе</span> тут длинное название картины",
										author: "Екатерина Александровна Преображенская",
										desc: "Картина, 80x60 см.",
										price: "927 750",
										oldprice: "727 750"
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-2.jpg",
										label: "Новинка",
										labelRed: true,
										title: "Абстракция, Опус J202",
										author: "Соколов Виталий",
										desc: "Картина, 80x60 см.",
										price: "927 750",
										oldprice: "727 750"
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-3.jpg",
										label: "Новинка",
										labelRed: true,
										title: "Распоряжение о структуре тут длинное название картины",
										author: "Екатерина <span class='search__result-text'>Природа</span> Преображенская",
										desc: "Картина, 80x60 см.",
										price: "927 750",
										oldprice: "727 750"
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-4.jpg",
										title: "Распоряжение о структуре",
										author: "Говард Херш",
										desc: "Картина, 80x60 см.",
										price: "27 750",
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-5.jpg",
										title: "Абстракция, Опус J202",
										author: "Соколов Виталий",
										desc: "Картина, 80x60 см.",
										price: "27 750",
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-6.jpg",
										label: "Скидка 20%",
										labelGreen: true,
										title: "Распоряжение о структуре тут длинное название картины",
										author: "Екатерина Александровна Преображенская",
										desc: "Картина, 80х60 см.",
										price: "927 750",
										oldprice: "727 750"
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-7.jpg",
										label: "Скидка 20%",
										labelGreen: true,
										title: "Растущее действие",
										author: "Рамина Роуз",
										desc: "Картина, 80х60 см.",
										price: "27 750"
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-8.jpg",
										title: "Абстракция, Опус J202",
										author: "Соколов Виталий",
										desc: "Картина, 80x60 см.",
										price: "27 750",
									};
								include components/gallery-card/gallery-card.pug
							.gallery__item.js-gallery-item
								- 
									var card = {
										image: "example-work-9.jpg",
										title: "Абстракция, Опус J202",
										author: "Соколов Виталий",
										desc: "Картина, 80x60 см.",
										price: "27 750",
									};
								include components/gallery-card/gallery-card.pug
					include components/pagination/pagination
			
			
			.section.search-tab(data-tab="articles")
				.container
					include components/articles/articles
					include components/pagination/pagination

			include components/footer/footer.pug
	
		include _scripts.pug