include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ArtGallery
        include _styles.pug
    body
        include _svg.pug
    
        include components/header/header.pug
        .wrapper_inner
            include components/header/header.pug
        
            hr
            span.lk-head ЛК
            .container
                div(style="width:500px")
                    .lk-user
                        .lk-user__img.js-lk-user-img(style="background-image:url(assets/images/inhtml/avatar-photo.jpg)")
                            input.js-lk-user-img-input(type="file")
                        span.lk-user__hello Здравствуйте,
                        span.lk-user__name Диана Миллер
                    .lk-menu
                        .lk-menu__group
                            a.lk-menu__link.is-active(href="#") Мои данные
                            a.lk-menu__link(href="#") Мои заказы
                            a.lk-menu__link(href="#") Сообщения
                            a.lk-menu__link(href="#") Мои работы
                        .lk-menu__group
                            a.lk-menu__link(href="#") Изменить пароль
                            a.lk-menu__link(href="#") Уведомления и подписки
                        .lk-menu__group
                            a.lk-menu__link(href="#")
                                +svg('icon-logout')
                                | Выйти


            hr
            span.lk-head Кнопки
            .section.section_gray
                .container.container_flex
                    div
                        a.btn(href="#") Кнопка
                    div
                        a.btn.btn_alpha(href="#") Кнопка
                    div
                        a.btn.btn_icon(href="#") Кнопка
                            +svg('icon-file')
                    div
                        a.btn.btn_arrow(href="#") Кнопка
                    div
                        a.btn.btn_green(href="#") Кнопка
                    div
                        a.btn.btn_form(href="#") Кнопка
                    div
                        a.btn.btn_dark(href="#") Кнопка
                    div
                        a.btn.btn_small(href="#") Кнопка
                    div
                        a.btn.btn_sms(href="#") Кнопка
                    div
                        a.btn.btn_green_border(href="#") Кнопка
                    div
                        a.btn.btn_green_outline(href="#") Кнопка
                    div
                        a.btn.btn_plus(href="#") Кнопка
                    div
                        |<button class="popup__mail-submit popup__mail-submit--auth" type="submit" style="margin: 0;">Зарегистрироваться</button>
                    div
                        | <a class="author__share-btn" href="#">Подписаться</a>
                    div
                        | <a class="blog__btn" href="#">Подписаться</a>
                    div
                        | <a class="blog-detail__actions-btn" href="#">Подписаться</a>
                    div
                        | <button class="sign-author__btn" type="submit">Отписаться</button>
                    div
                        | <a class="missing-page__btn" href="index.html">На главную</a>
                        

            hr
            span.lk-head Форма
            .container
                .form
                    .form__row
                        .form__field
                            label.form__label Название поля
                                .tip.js-tip(title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe non impedit velit nam molestias reprehenderit natus ab quidem quaerat! Porro reprehenderit laboriosam amet ea nulla nam beatae nemo rem! Eius?")
                            input.form__input(type="text" required)
                        .form__field
                            label.form__label Название поля
                            input.form__input.js-form-price(type="text" required)
                    .form__row
                        .form__field
                            label.form__label Название поля
                            input.form__input.error(type="text" required)
                            label.error Введите текст
                        .form__field
                            label.form__label Название поля
                            input.form__input.js-input-phone(type="text" required)
                    .form__row.form__row_columns
                        .sms-confirm
                            .sms-confirm__main
                                .sms-confirm__main-title
                                    label.form__label Введите код из SMS
                                .sms-confirm__main-fields
                                    input.form__input(type="text" maxlength="6" name="sms1")
                                    .sms-confirm__text.hidden-tablet-up
                                        a.href.href_tip(href="#popupDesc" data-fancybox) Для чего подтверждать номер?
                                    button.btn.btn_dark.btn_small.btn_sms Подтвердить
                                    .sms-confirm__text.hidden-tablet-up
                                        span Не получил код. 
                                        a(href="#") Выслать заново
                            .sms-confirm__desc
                                .sms-confirm__text
                                    a.href.href_tip(href="#popupDesc" data-fancybox) Для чего подтверждать номер?
                                .sms-confirm__text
                                    span Не получил код. 
                                    a(href="#") Выслать заново
                    .form__row
                        .form__field
                            label.form__label Название поля
                            textarea.form__area.js-form-area(required)
                        .form__field
                            label.form__label Название поля
                            textarea.form__area.js-form-area.error(required)
                            label.error Введите текст
                    .form__row
                        .form__field
                            .form__label Select2
                            .form__select
                                select.js-l-select-input
                                    option(value="")
                                    option(value="Вариант 1") Вариант 1
                                    option(value="Вариант 2") Вариант 2
                                    option(value="Вариант 3") Вариант 3
                                    option(value="Вариант 4") Вариант 4
                                    option(value="Вариант 5") Вариант 5
                                    option(value="Вариант 6") Вариант 6
                                    option(value="Вариант 7") Вариант 7
                                    option(value="Вариант 8") Вариант 8
                                    option(value="Вариант 9") Вариант 9
                                    option(value="Вариант 10") Вариант 10
                        .form__field
                            .form__label Selectize
                            .form__select
                                select.js-select2
                                    option(value="")
                                    option(value="Вариант 1") Вариант 1
                                    option(value="Вариант 2") Вариант 2
                                    option(value="Вариант 3") Вариант 3
                                    option(value="Вариант 4") Вариант 4
                                    option(value="Вариант 5") Вариант 5
                                    option(value="Вариант 6") Вариант 6
                                    option(value="Вариант 7") Вариант 7
                                    option(value="Вариант 8") Вариант 8
                                    option(value="Вариант 9") Вариант 9
                                    option(value="Вариант 10") Вариант 10
                    .form__row
                        .form__field
                            .form__label Select2
                            .form__select
                                select.js-l-select-input
                                    option(value="")
                                    optgroup(label="А")
                                        option(value="Вариант 1") Вариант 1
                                        option(value="Вариант 2") Вариант 2
                                        option(value="Вариант 3") Вариант 3
                                        option(value="Вариант 4") Вариант 4
                                    optgroup(label="Б")
                                        option(value="Вариант 5") Вариант 5
                                        option(value="Вариант 6") Вариант 6
                                        option(value="Вариант 7") Вариант 7
                                    optgroup(label="В")
                                        option(value="Вариант 8") Вариант 8
                                        option(value="Вариант 9") Вариант 9
                                        option(value="Вариант 10") Вариант 10
                        .form__field
                            .form__label Selectize
                            .form__select
                                select.js-select2
                                    option(value="")
                                    optgroup(label="А")
                                        option(value="Вариант 1") Вариант 1
                                        option(value="Вариант 2") Вариант 2
                                        option(value="Вариант 3") Вариант 3
                                        option(value="Вариант 4") Вариант 4
                                    optgroup(label="Б")
                                        option(value="Вариант 5") Вариант 5
                                        option(value="Вариант 6") Вариант 6
                                        option(value="Вариант 7") Вариант 7
                                    optgroup(label="В")
                                        option(value="Вариант 8") Вариант 8
                                        option(value="Вариант 9") Вариант 9
                                        option(value="Вариант 10") Вариант 10
                    .form__row
                        .form__field
                            .form__label jQueryUI Autocomplete
                            input.form__input.js-ui-time-autocomplete(type="text")
                        .form__field
                    .form__row.form__row_columns.form__row_columns_desktop
                        label.form__label Тип доставки
                        .form__field
                            label.block-radio
                                input.block-radio__input(type="radio" name="blockRadio1" value="blockRadio1-1" checked)
                                .block-radio__main
                                    span.block-radio__title Стандартная доставка (+5780 р)
                                    span.block-radio__desc Стоимость рассчитывается по тарифам транпортной компании Описание доставки
                        .form__field
                            label.block-radio
                                input.block-radio__input(type="radio" name="blockRadio1" value="blockRadio1-2")
                                .block-radio__main
                                    span.block-radio__title С проверкой картины (+5780 р)
                                    span.block-radio__desc Стоимость рассчитывается по тарифам описание Описание доставки
                    .form__row
                        span.form__row-title.form__row-title_small Пол
                        .form__row-main
                            label.form__radio
                                input.radio(type="radio", name="gender", value="man", checked)
                                span Мужской
                            label.form__radio
                                input.radio(type="radio", name="gender", value="woman", checked)
                                span Женский
                    .form__row
                        span.form__row-title.form__row-title_small.form__row-title_infinite Выберите параметры
                        .form__row-main.form__row-main_center
                            label.form__check
                                input.radio(type="checkbox", name="found", value="style", checked)
                                span Стиль
                            label.form__check
                                input.radio(type="checkbox", name="found", value="theme", checked)
                                span Тема
                            label.form__check
                                input.radio(type="checkbox", name="found", value="genre")
                                span Жанр
                    .form-notification__row-checkbox
                        label.label.label-inline.form-notification__label-checkbox
                            input.input.input-checkbox(type="checkbox", name="agreement", required)
                            .input-checkbox-block
                                +svg('icon-check', '-w')
                            .input-checkbox-text.form-notification__text-checkbox О статусе заказа
                        .form-notification__desc-checkbox Появление заказа изменение его статуса
                    .form-notification__row-checkbox
                        label.label.label-inline.form-notification__label-checkbox
                            input.input.input-checkbox(type="checkbox", name="agreement", required)
                            .input-checkbox-block
                                +svg('icon-check', '-w')
                            .input-checkbox-text.form-notification__text-checkbox Тематические рассылки
                        .form-notification__desc-checkbox Описание рассылки
                    .form__row
                        span.form__row-title.form__row-title_small Публикация
                        .form__row-main
                            label.form__check
                                input.radio(type="checkbox", name="public", value="yes", checked)
                                span Опубликовать работу
                    .form__row
                        span.form__row-title Фотографии
                            span Вы можете загрузить не&nbsp;более 6&nbsp;(шести) изображений в&nbsp;формате .JPG .PNG
                        .form__row-main
                            .form__field
                                .form__images
                                    input.form__images-input(type="file" multiple maxlength="6" id="formImagesInput")
                                    .form__images-wrap
                                        .form__images-item(style="background-image:url(assets/images/inhtml/example-article-2.jpg)" data-text="Удалить")
                                        .form__images-item(style="background-image:url(assets/images/inhtml/example-article-3.jpg)" data-text="Удалить")
                                        .form__images-item(style="background-image:url(assets/images/inhtml/example-article-4.jpg)" data-text="Удалить")
                                        label.form__images-add(for="formImagesInput")
                                            +svg('icon-plus')
                                            span Добавить
                    .form__row
                        span.form__row-title Год написания
                            span.tip.js-tip(title='Можно указать примерный год. Если год неизвестен, можно указать "Неизвестен"')
                        .form__row-main
                            .form__field.form__field_half_2
                                input.form__input(type="text" required)
                    .form__row
                        span.form__row-title Цифровая копия
                            span.mobile-aside
                                a(href="#") Требования к цифровой копии
                        .form__row-main
                            .form__field
                                .form__drag.js-form-drag
                                    .form__drag-field.js-form-drag-field
                                        input.form__drag-input.js-form-drag-input(type="file" id="formDrag")
                                        label.form__drag-label(for="formDrag")
                                            .form__drag-content
                                                +svg('icon-upload')
                                                span.hidden-tablet-down Перетащите или выберите файл
                                                span.hidden-desktop-up Выберите файл
                                    .form__drag-file.js-form-drag-file
                                        +svg('icon-file')
                                        span.form__drag-name.js-form-drag-name
                                        .form__drag-remove.js-form-drag-remove
                                            +svg('icon-close')
            
            hr
            span.lk-head Фильтр
            .filter.js-filter
                .filter__main.js-filter-main
                    .filter__buttons.js-filter-buttons
                        .container
                            .filter__buttons-inner
                                button.btn.btn_icon.btn_arrow.filter__toggle.js-filter-toggle
                                    span Развернуть
                                    span Свернуть
                    .container
                        .filter__inner
                            .filter__row
                                .filter__item.filter__item_top
                                    span.filter__item-title Цена
                                    .filter__item-main
                                        .l-rangeslider.js-l-rangeslider
                                            .l-rangeslider__inputs
                                                input.l-rangeslider__input.js-l-rangeslider-from(type="text")
                                                .l-rangeslider__separate
                                                input.l-rangeslider__input.js-l-rangeslider-to(type="text")
                                            .l-rangeslider__main
                                                input.js-l-rangeslider-main(type="text" data-min="0" data-max="500000" data-from="0" data-to="500000" data-step="10")
                                .filter__item.filter__item_compact
                                    span.filter__item-title Размер
                                    .filter__item-main
                                        .l-rangeslider.js-l-rangeslider
                                            .l-rangeslider__inputs
                                            .l-rangeslider__main
                                                input.js-l-rangeslider-main(type="text" data-from="0" data-to="4" data-values="S,M,L,XL,XXL")
                                .filter__item
                                    span.filter__item-title Ориентация
                                    .filter__item-main
                                        include components/l-orientation/l-orientation.pug
                                .filter__item.filter__item_btn
                                    button.btn.btn_icon(href="#") Сбросить
                                        +svg('icon-reset')
                                    button.btn.btn_icon.btn_arrow.filter__toggle.js-filter-toggle.hidden-tablet-up
                                        span Развернуть
                                        span Свернуть
                    
                    .filter__tabs.js-filter-tabs(style="display:block;")
                        .filter__tabs-head
                            .container
                                .filter__tabs-head-inner
                                    span.filter__tabs-head-item.js-filter-tabs-head-item.is-active Автор
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Жанр
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Цвет
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Тема
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Материал
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Стиль
                        .filter__tabs-main
                            span.filter__tabs-head-item.js-filter-tabs-head-item Автор
                            .filter__tabs-main-item.js-filter-tabs-main-item(style="display:block;")
                                .container
                                    include components/l-autocomplete/l-autocomplete.pug              
            .filter.js-filter
                .filter__main.js-filter-main
                    .filter__tabs.js-filter-tabs(style="display:block;")
                        .filter__tabs-head
                            .container
                                .filter__tabs-head-inner
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Автор
                                    span.filter__tabs-head-item.js-filter-tabs-head-item.is-active Жанр
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Цвет
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Тема
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Материал
                                    span.filter__tabs-head-item.js-filter-tabs-head-item Стиль
                        .filter__tabs-main
                            span.filter__tabs-head-item.js-filter-tabs-head-item Жанр
                            .filter__tabs-main-item.js-filter-tabs-main-item(style="display:block;")
                                .container
                                    .l-options
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-1" name="l-option")
                                            label(for="l-option-1-1") Вортицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-2" name="l-option")
                                            label(for="l-option-1-2") Модернизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-3" name="l-option")
                                            label(for="l-option-1-3") Авангардизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-4" name="l-option")
                                            label(for="l-option-1-4") Реализм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-5" name="l-option")
                                            label(for="l-option-1-5") Барокко
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-6" name="l-option")
                                            label(for="l-option-1-6") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-7" name="l-option")
                                            label(for="l-option-1-7") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-8" name="l-option")
                                            label(for="l-option-1-8") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-9" name="l-option")
                                            label(for="l-option-1-9") Конструктивизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-10" name="l-option")
                                            label(for="l-option-1-10") Готика
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-11" name="l-option")
                                            label(for="l-option-1-11") Классицизм
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-12" name="l-option")
                                            label(for="l-option-1-12") Поп-арт
                                        .l-options__item
                                            input(type="checkbox" id="l-option-1-13" name="l-option")
                                            label(for="l-option-1-13") Натюрморт
            
            hr
            span.lk-head Хлебные крошки
            .section.breadcrumbs
                .container
                    .breadcrumbs__inner
                        a.breadcrumbs__back(href="#")
                            .breadcrumbs__back-icon
                                +svg('arrow_smart', '-w')
                            .breadcrumbs__back-text Назад
                        .breadcrumbs__history
                            a.breadcrumbs__history-link(href="#") Главная
                            .breadcrumbs__history-current Результаты поиска по запросу Природа

            hr
            span.lk-head Пагинация
            .container
                include components/pagination/pagination


            hr
            span.lk-head Рассылка
            .container
                form.sign-author
                    .sign-author__info
                        .sign-author__img(style="background-image:url(assets/images/inhtml/author-1.png)")
                        a.sign-author__name(href="#") Кристиан Рассел
                    button.sign-author__btn(type="submit") Отписаться
                form.sign-author
                    .sign-author__info
                        .sign-author__img(style="background-image:url(assets/images/inhtml/author-2.png)")
                        a.sign-author__name(href="#") Мария браун
                    button.sign-author__btn(type="submit") Отписаться
                form.sign-author
                    .sign-author__info
                        .sign-author__img(style="background-image:url(assets/images/inhtml/author-3.png)")
                        a.sign-author__name(href="#") Майкл Смит
                    button.sign-author__btn(type="submit") Отписаться
                form.sign-author
                    .sign-author__info
                        .sign-author__img(style="background-image:url(assets/images/inhtml/author-4.png)")
                        a.sign-author__name(href="#") Томас Грин
                    button.sign-author__btn(type="submit") Отписаться
            hr
            span.lk-head Заказы
            .container
                .lk-orders
                    .lk-orders__item.order-item
                        .order-item__row
                            .order-item__column
                                span.order-item__title <span>Заказ</span> №23456-65
                                span.order-item__date 21.12.18
                            .order-item__column
                                span.order-item__price 727 750 <span class="rubl">₽</span>
                        .order-item__row
                            .order-item__column
                                span.order-item__status.status-good Статус заказа
                            .order-item__column
                                a.order-item__more(href="#") Подробнее о заказе
                                    .arrow
            
            hr
            span.lk-head Форма на 404
            .container
                .missing-page__rec
                    .missing-page__pic
                        img.missing-page__img(src="assets/images/dali-404.png", alt="")
                    .missing-page__desc
                        .missing-page__title Картина не найдена
                        form.missing-page__search(action="/search/")
                            input.missing-page__search-input(type="text", name="q", placeholder="Найти", required)
                            button.missing-page__search-btn(type="submit")
                                +svg('icon-search', '-w')
                        a.missing-page__btn(href="index.html") На главную

            hr
            span.lk-head Поиск
            include components/search/search.pug
            
            hr
            span.lk-head Галерея
            .container
                .gallery
                    .gallery__inner.js-gallery
                        .gallery__gutter-sizer.js-gallery-gutter-sizer
                        if(galleryStamp !== false)
                            .gallery__stamp.js-gallery-stamp(href="#")
                                .gallery__stamp-inner
                                    span.gallery__stamp-text Умный выбор по&nbsp;параметра с&nbsp;примерами
                                    a.gallery__stamp-href(href="#") Подобрать
                                        .arrow
                        .gallery__item.js-gallery-item
                            - 
                                var card = {
                                    image: "example-work-1.jpg",
                                    title: "Распоряжение о структуре тут длинное название картины",
                                    author: "Екатерина Александровна Преображенская",
                                    desc: "Картина, 80x60 см.",
                                    price: "927 750",
                                    oldprice: "727 750"
                                };
                            include components/gallery-card/gallery-card.pug

            hr
            span.lk-head Картина
            .container
                include components/picture/picture.pug

            hr
            span.lk-head Статьи
            .container
                include components/guide/guide.pug
            .container
                .blog__item
                    a(href="#").blog__item-img
                        img.blog__item-img-pic(src="assets/images/inhtml/blog-item.jpg", alt="")
                    .blog__item-content
                        a.blog__item-category(href="#") Галереи и выставки
                        h2.blog__item-heading
                            a(href="#") Заголовок главной выделенной новости может быть длинной в три и более строки
                        .blog__item-text Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum
                        a.blog__item-link(href="#") Перейти к новости
                            .arrow
            .container
                .grid__inner
                    - 
                        var item = {
                            image: "article-item-1.jpg",
                            category: "Выставки",
                            heading: "Рекорд для картин Маяковского установлен на русских торгах в Лондоне",
                            text: "«Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу."
                        };
                    include components/article-item/article-item
                    - 
                        var item = {
                            image: "article-item-1.jpg",
                            category: "Выставки",
                            heading: "Рекорд для картин Маяковского установлен на русских торгах в Лондоне",
                            text: "«Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу."
                        };
                    include components/article-item/article-item
                    - 
                        var item = {
                            image: "article-item-1.jpg",
                            category: "Выставки",
                            heading: "Рекорд для картин Маяковского установлен на русских торгах в Лондоне",
                            text: "«Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу."
                        };
                    include components/article-item/article-item

            hr
            .section.section_news.section_gray.js-section
                .section-head
                    .container
                        .section-head__inner
                            span.section-head__title Новости искусства
                .section-tools
                    .container
                        .section-tools__inner.js-section-tools
                .container
                    include components/news/news.pug
            
            hr
            span.lk-head Статья в результатах поиска
            .container
                .articles
                    .articles__item
                        .articles__img(style="background-image: url('assets/images/inhtml/articles-2.jpg')")
                        .articles__content
                            a.articles__heading(href="#") Арестован подозреваемый в краже <span class="articles__search">пейзажа Ренуара из Dorotheum</span>
                            .articles__date 17.09.18
                            .articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
        
            
            hr
            span.lk-head Статья
            .container
                .blog__hero
                    h1.blog__heading Новости искусства
                    a.blog__btn(href="#") Подписаться
                    .blog__hero-bg
                    .blog__hero-parallax
                        img.blog__hero-parallax-img(src="assets/images/inhtml/picture-bg.jpg", alt="picture", data-speed="0.2")
            .container
                .blog-detail__inner
                    .blog-detail__desc
                        span.blog-detail__desc-date 01.09.18
                        .blog-detail__desc-avatar
                            img.blog-detail__desc-avatar-img(src="assets/images/inhtml/avatar-photo.jpg", alt="")
                        span.blog-detail__desc-name Диана Миллер
                    .blog-detail__content
                        p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Таким образом укрепление и развитие структуры способствует подготовки и реализации форм развития. С другой стороны новая модель организационной деятельности представляет собой <a href="#">интересный эксперимент</a> проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                        .blog-detail__slider
                            .blog-detail__slider-slide
                                .blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
                                .blog-detail__slider-desc Источник: Сайт SuperArt
                            .blog-detail__slider-slide
                                .blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
                                .blog-detail__slider-desc Источник: Сайт SuperArt
                            .blog-detail__slider-slide
                                .blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
                                .blog-detail__slider-desc Источник: Сайт SuperArt
                    .blog-detail__actions
                        .blog-detail__actions-block
                            .blog-detail__actions-info
                                .blog-detail__actions-info-date 10.09.18
                                .blog-detail__actions-info-avatar
                                    img.blog-detail__actions-info-avatar-img(src="assets/images/inhtml/avatar-photo.jpg", alt="")
                                .blog-detail__actions-info-name Диана Миллер
                            .blog-detail__actions-share
                                .author__share-text Поделиться:
                                .author__share-social
                                    a.author__share-link(href="#")
                                        .author__share-link-icon
                                            +svg('social-vk', '-w')
                                    a.author__share-link(href="#")
                                        .author__share-link-icon
                                            +svg('social-fb', '-w')
                                    a.author__share-link(href="#")
                                        .author__share-link-icon
                                            +svg('social-ok', '-w')
                                    a.author__share-link(href="#")
                                        .author__share-link-icon
                                            +svg('mail-filled', '-w')
                        .blog-detail__actions-block
                            .blog-detail__actions-tags
                                .blog-detail__actions-tags-text Темы:
                                .blog-detail__actions-tags-list
                                    a.blog-detail__actions-tags-item(href="#") Авангард
                                    a.blog-detail__actions-tags-item(href="#") Готика
                                    a.blog-detail__actions-tags-item(href="#") Модерн
                            a.blog-detail__actions-btn(href="#") Подписаться

            hr
            span.lk-head Автор
            .container
                .author__bio
                    span.author__bio-shown
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolore at quae reiciendis sit facilis vero aut eveniet autem cupiditate recusandae porro perferendis autem cupiditate recusandae porro perferendis
                    span.author__bio-hidden
                        |  quasi earum, at libero, aperiam minima vero deserunt sapiente facere dolorem illo soluta quibusdam delectus adipisci accusamus hic eum veniam saepe ea a? Eveniet, nemo. Blanditiis, debitis necessitatibus iure eos, autem, voluptas quia quisquam excepturi dolores sint et! Excepturi voluptate natus blanditiis nemo fugiat. Praesentium architecto consectetur tempora, labore rem soluta minima aperiam minus nulla, totam illum cumque, voluptas culpa nam. Asperiores, accusamus eum similique placeat reprehenderit omnis laborum, pariatur enim, optio alias inventore veritatis labore. Eum accusamus deserunt quas nulla fugiat nam quaerat voluptas doloremque repellendus officiis quia, nobis consectetur tenetur facere deleniti optio repellat. Quia, adipisci!
                    .author__bio-more
                        .author__bio-more-text Подробнее
                        .author__bio-more-icon
                            .arrow
                .author__share
                    .author__share-wrap
                        .author__share-text Поделиться
                        .author__share-social
                            a.author__share-link(href="#")
                                .author__share-link-icon
                                    +svg('social-vk', '-w')
                            a.author__share-link(href="#")
                                .author__share-link-icon
                                    +svg('social-fb', '-w')
                            a.author__share-link(href="#")
                                .author__share-link-icon
                                    +svg('social-ok', '-w')
                    a.author__share-btn(href="#") Подписаться

            hr
            .section.section_gray.js-section
                .section-head
                    .container
                        .section-head__inner
                            span.section-head__title Обзор стилей
                .section-tools
                    .container
                        .section-tools__inner.js-section-tools
                .container
                    include components/review-carousel/review-carousel.pug

            hr
            span.lk-head Популярные фильтры
            include components/popular-filter/popular-filter.pug


            hr
            span.lk-head Корзина
            .container(style="display:flex;")
                div
                    .cart-item
                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                        .cart-item__main
                            a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                            a.cart-item__author(href="#") Екатерина Александровна<br/>Преображенская
                            .cart-item__info
                                .cart-item__descs
                                    .cart-item__desc
                                        span Размер: 
                                        span 80x60 см.
                                    .cart-item__desc
                                        span Стиль: 
                                        a(href="#") Пейзаж
                                .cart-item__prices
                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                    span.cart-item__oldprice 927 750

                        span.cart-item__remove 
                            span Удалить
                            +svg('icon-close')
                    .cart-item.cart-item_work
                        .cart-item__img(style="background-image:url(assets/images/inhtml/articles-1.jpg")
                        .cart-item__main
                            a.cart-item__title(href="#") Распоряжение о структуре длинное название картины в две строки
                            .cart-item__info
                                div
                                    span.cart-item__status Работа <span class="status-good">опубликована</span>
                                    span.cart-item__status Модерация <span class="status-good">пройдена</span>
                                .cart-item__prices
                                    span.cart-item__price 727 750 <span class="rubl">₽</span>
                                    span.cart-item__oldprice 927 750
                        .cart-item__tools.js-cart-item-tools
                            .cart-item__tools-head.js-cart-item-tools-head
                                +svg('icon-dots')
                            .cart-item__tools-main.js-cart-item-tools-main
                                span.cart-item__tool.cart-item__tool_dot
                                    span Удалить
                                    +svg('icon-close')
                                span.cart-item__tool
                                    span Редактировать
                                    +svg('icon-edit')
                div(style=" flex-shrink:0;")
                    .cart-result(style="width: 400px; margin-left: 30px; flex-shrink:0;")
                        .cart-result__main
                            .cart-result__row
                                span Доставка
                                span 0 <span class="rubl">₽</span>
                            .cart-result__row
                                a(href="#") Промокод
                                span — 650 <span class="rubl">₽</span>
                            .cart-result__promo
                                span KHF78YF (-5%)
                                a(href="#").cart-result__promo-remove Удалить
                            form.cart-result__form
                                label.cart-result__form-label Введите промокод
                                .cart-result__form-line
                                    input(type="text" maxlength="7" required)
                                    button(type="submit") Применить
                        .cart-result__bottom
                            .cart-result__final
                                span Всего к оплате:
                                span  1 327 750 <span class="rubl">₽</span>
                            .cart-result__buttons
                                a.btn.btn_green(href="#") Перейти к оформлению
                                .arrow

            hr
            span.lk-head Попап
            .section.section_gray
                .container
                    .popup__window(style="margin-bottom: 20px;")
                        .popup__close
                            .popup__close-item
                            .popup__close-item
                        .popup__content.popup__content--reg(style="display:block;")
                            form.popup-form-reg.popup__content-wrapper(action="")
                                span.popup__heading Регистрация
                                .popup__desc
                                    span.popup__desc-text Это бесплатно и займет не более 3 минут
                                    .popup__desc-switch
                                        .popup__desc-switch-text Уже зарегистрированы?
                                        a.popup__desc-switch-link.js-popup-auth(href="#") Авторизоваться
                                .popup__role
                                    label.popup__role-label
                                        input.radio(type="radio", name="reg_role", value="artist", checked)
                                        .popup__role-radio
                                        .popup__role-text Я художник
                                    label.popup__role-label
                                        input.radio(type="radio", name="reg_role", value="buyer")
                                        .popup__role-radio
                                        .popup__role-text Я покупатель
                                .popup__table
                                    .popup__media
                                        span.popup__table-heading С помощью социальных сетей
                                        a.popup__media-btn(href="#")
                                            +svg('social-vk','-w')
                                            .popup__media-btn-text VKontakte
                                        a.popup__media-btn(href="#")
                                            +svg('social-fb','-w')
                                            .popup__media-btn-text Facebook
                                        a.popup__media-btn(href="#")
                                            +svg('social-ok','-w')
                                            .popup__media-btn-text Odnoklassniki
                                        a.popup__media-btn(href="#")
                                            +svg('social-google','-w')
                                            .popup__media-btn-text Google+
                                    .popup__mail
                                        span.popup__table-heading.hidden-mobile-down С помощью E-mail
                                        .popup__mail-inputs
                                            .popup__names
                                                label.label
                                                    .popup__label Имя
                                                    input.input.input-text.input-text-short(type="text", name="name", required)
                                                label.label
                                                    .popup__label Фамилия
                                                    input.input.input-text.input-text-short(type="text", name="surname", required)
                                            label.label
                                                .popup__label E-mail
                                                input.input.input-text(type="email", name="email", required)
                                            label.label
                                                .popup__label Пароль
                                                input.input.input-text(type="password", name="password", required)
                                            label.label.label-inline
                                                input.input.input-checkbox(type="checkbox", name="agreement", required)
                                                .input-checkbox-block
                                                    +svg('icon-check', '-w')
                                                .input-checkbox-text Я согласен с 
                                                    a.popup__mail-link(href="#", target="_blank") пользовательским соглашением
                                        button.popup__mail-submit.popup__mail-submit--auth(type="submit") Зарегистрироваться
                    .popup__window(style="margin-bottom: 20px;")
                        .popup__close
                            .popup__close-item
                            .popup__close-item
                        .popup__content.popup__content--auth(style="display:block;")
                            form.popup-form-auth.popup__content-wrapper(action="")
                                span.popup__heading.popup__heading--bottom Авторизация
                                .popup__desc.hidden-mobile-down
                                    span.popup__desc-text
                                    .popup__desc-switch
                                        .popup__desc-switch-text Еще нет аккаунта?
                                        a.popup__desc-switch-link.js-popup-reg(href="#") Зарегистрироваться
                                .popup__table
                                    .popup__media
                                        span.popup__table-heading С помощью социальных сетей
                                        a.popup__media-btn(href="#")
                                            +svg('social-vk','-w')
                                            .popup__media-btn-text VKontakte
                                        a.popup__media-btn(href="#")
                                            +svg('social-fb','-w')
                                            .popup__media-btn-text Facebook
                                        a.popup__media-btn(href="#")
                                            +svg('social-ok','-w')
                                            .popup__media-btn-text Odnoklassniki
                                        a.popup__media-btn(href="#")
                                            +svg('social-google','-w')
                                            .popup__media-btn-text Google+
                                    .popup__mail
                                        .popup__mail-inputs
                                            label.label
                                                .popup__label E-mail
                                                input.input.input-text(type="email", name="email", required)
                                            label.label
                                                .popup__label Пароль
                                                input.input.input-text(type="password", name="password", required)
                                        button.popup__mail-submit.popup__mail-submit--auth(type="submit") Авторизоваться
                                        .popup__mail-restore
                                            a.popup__desc-switch-link.js-popup-reg.hidden-tablet-up(href="#") Зарегистрироваться
                                            span.popup__mail-restore-text.hidden-mobile-down Забыли пароль?
                                            a.popup__mail-restore-link.js-popup-restore(href="#") Восстановить пароль
                    
                    .popup__window(style="margin-bottom: 20px;")
                        .popup__close
                            .popup__close-item
                            .popup__close-item    
                        .popup__content.popup__content--restore(style="display:block;")
                            form.popup__content-wrapper.popup__content-wrapper--restore(action="")
                                span.popup__heading.popup__heading--center Восстановить пароль
                                label.label
                                    .popup__label Введите свой E-mail
                                    input.input.input-text(type="email", name="email", required)
                                button.popup__mail-submit.popup__mail-submit--restore(type="#") Восстановить пароль
                                .popup__mail-restore
                                    span.popup__mail-restore-text Вспомнили пароль?
                                    a.popup__mail-restore-link.js-popup-auth(href="#") Авторизоваться
                    
                    .popup__window(style="margin-bottom: 20px;")
                        .popup__close
                            .popup__close-item
                            .popup__close-item    
                        .popup__content.popup__content--success(style="display:block;")
                            form.popup__content-wrapper(action="")
                                span.popup__heading.popup__heading--center Успех!
                                span.popup__subheading Мы отправили на ваш e-mail инструкцию по сбросу пароля
                                .popup__icon
                                    +svg('check_smooth')
            
            include components/footer/footer.pug
    
        style .header { position: relative; } .wrapper_inner {padding-top:0;} .wrapper_inner .header{z-index:1099;} .container_flex {display:flex; flex-wrap:wrap;} .container_flex div { min-width: 20%; margin-right: 20px; margin-bottom: 20px;} .btn_arrow { position: relative; } .container_flex div > * { margin: 0; position: relative; bottom: auto; right: auto; top: auto; left: auto;}
        include _scripts.pug

        
        |    <script>
        |        $(document).ready(function(){
        |            $('.js-ui-time-autocomplete').autocomplete({
        |                source: [
        |                    'Вариант 1',
        |                    'Вариант 2',
        |                    'Вариант 3',
        |                    'Вариант 4',
        |                    'Вариант 5',
        |                    'Вариант 6',
        |                    'Вариант 7',
        |                    'Вариант 8',
        |                    'Вариант 9',
        |                    'Вариант 10',
        |                    'Вариант 11',
        |                ]
        |            });
        |        });
        |    </script>