.form {
    font-size: 17px;
    color: #2e3237;
    @include media-breakpoint-down(tablet) {
        font-size: 14px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 12px;
    }
    &__row {
        display: flex;
        margin-bottom: 15px;
        @include media-breakpoint-down(tablet) {
            display: block;
            margin-bottom: 12px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 12px;
        }
        &-title {
            // width: 160px;
            width: 190px;
            line-height: 40px;
            flex-shrink: 0;
            @include media-breakpoint-down(tablet) {
                display: block;
                width: 100%;
                line-height: normal;
                margin-bottom: 5px;
            }

            &::after {
                content: '';
                display: block;
                height: 0;
                clear: both;
            }
            &_small {
                line-height: normal;
            }

            span:not(.tip) {
                display: block;
                font-size: 14px;
                color: #666666;
                line-height: 18px;
                @include media-breakpoint-down(tablet) {
                    font-size: 12px;
                    // margin: 6px 0 20px;
                    margin: 0 0 10px;
                }
                @include media-breakpoint-down(mobile) {
                    line-height: inherit;
                }

                &.mobile-aside {
                    float: right;
                }

            }
            a {
                border-bottom: 2px dotted;
                @include hover {
                    border-bottom-color: transparent;
                }
            }
            &_small span {
                @include media-breakpoint-up(desktop) {
                    margin-top: 10px;
                }
            }

            &_infinite {
                flex-shrink: 0;
                white-space: nowrap;
                width: auto;
            }

        }
        &-main {
            flex: 1;
            display: flex;
            margin: 0 -10px;
            @include media-breakpoint-down(mobile) {
                margin-bottom: 0;
            }
            >* {
                margin: 0 10px;
            }

            &_center {
                justify-content: center;
                @include media-breakpoint-down(tablet) {
                    justify-content: flex-start;
                }
            }
        }

        &_space_top {
            margin-top: 35px;
            @include media-breakpoint-down(tablet) {
                margin-top: 20px;
            }
            @include media-breakpoint-down(mobile) {
                margin-top: 0px;
            }
        }
        &_space_bottom {
            margin-bottom: 28px;
            @include media-breakpoint-down(tablet) {
                margin-bottom: 8px;
            }
            @include media-breakpoint-down(mobile) {
                margin-bottom: 10px;
            }
        }
    }
    &__buttons {
        @include media-breakpoint-down(tablet) {
            margin-top: 8px ;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 30px !important;
        }
    }
    &__row-main &__buttons {
        @include media-breakpoint-down(tablet) {
            margin-top: 18px;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 18px !important;
        }
    }
    &__row_columns {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 22px;
        flex-wrap: wrap;
        @include media-breakpoint-down(tablet) {
            display: flex;
            margin-bottom: 12px;
        }
        @include media-breakpoint-down(mobile) {
            display: block;
            margin-bottom: 0;
        }
        >* {
            margin: 0 10px;
        }
    }
    &__row_columns &__field {
        margin: 0 10px;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 12px;
        }
    }
    &__row_columns_desktop {
        @include media-breakpoint-down(tablet) {
            display: block;
        }
        .form__field {
            @include media-breakpoint-down(tablet) {
                margin-bottom: 12px;
            }
            @include media-breakpoint-down(mobile) {
                margin-bottom: 0;
            }
            &:last-child {
                @include media-breakpoint-down(tablet) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__field,
    &__buttons {
        flex: 1;
    }
    &__label {
        display: block;
    }
    &__row_columns > &__label {
        display: block;
        width: 100%;
        flex-shrink: 0;
    }
    &__row_columns &__label {
        margin-bottom: 5px;
    }
    &__input {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 0;
        padding: 0 14px;
        font-size: inherit;
        color: inherit;
        box-shadow: none;
        border: 1px solid #ccc;
        @include media-breakpoint-down(tablet) {
            height: 30px;
            padding: 0 9px;
        }
        &.error {
            border-color: $red;
        }
    }
    &__select {
        position: relative;
        flex: 1;
        .selectize {
            &-control.multi .selectize-input>div {
                padding: 0 8px;
                background-color: #fff;
                border-radius: 8px;
                border: 1px solid #ccc;
                line-height: 26px;
                &:hover{
                    background-color: #f6f6f6;
                }
            }
            &-control.plugin-remove_button [data-value] .remove{
                border-left: none;
                background-image: url(../assets/images/icons/icon-close.svg);
                background-repeat: no-repeat;
                background-size: 9px;
                background-position: center center;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 100%;
                font-size: 0;
                padding-right: 17px;
            }
            &-input {
                font-size: 15px;
                height: 40px;
                border-radius: 0;
                border: 1px solid #ccc;
                background-color: #ffffff;
                box-shadow: none;
                padding-left: 16px;
                padding-right: 40px;
                line-height: 38px;
                padding-top: 0;
                padding-bottom: 0;
                // display: flex;
                @include media-breakpoint-down(tablet) {
                    height: 30px;
                    font-size: 14px;
                    padding-left: 9px;
                    padding-right: 32px;
                    line-height: 28px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 13px;
                }

                input {
                    font-size: inherit;
                    min-width: 50%;
                    height: 38px;
                    // flex:1;
                    @include media-breakpoint-down(tablet) {
                        height: 28px;
                    }
                    &::placeholder {
                        color: #666666;
                        font-size: inherit;
                    }
                }
                .item {
                    flex-shrink: 0;
                }

                &::after {
                    content: '';
                    position: absolute !important;
                    top: 50% !important;
                    right: 14px !important;
                    border-right: 2px solid #000 !important;
                    border-bottom: 2px solid #000 !important;
                    border-left: none !important;
                    border-top: none !important;
                    width: 6px !important;
                    height: 6px !important;
                    margin-left: -3px !important;
                    margin-top: -3px !important;
                    transform-origin: center center !important;
                    transform: rotate(45deg) !important;
                }
                &.dropdown-active {
                    &::after {
                        transform: rotate(225deg) !important;
                        margin-top: 0 !important;
                    }
                }

            }
            &-dropdown {
                border: 1px solid #e4e4e4 !important;
                border-radius: 0 !important;
                box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1) !important;
                color: inherit;
                .option {
                    font-size: 16px;
                    line-height: 25px;
                    padding: 0 20px 2px;
                    @include media-breakpoint-down(tablet) {
                        font-size: 14px;
                        padding: 0 9px;
                        line-height: 22px;
                    }
                    &.selected {
                        background-color: rgba(#666666, 0.6) !important;
                        color: #ffffff !important;
                    }
                    &.active {
                        background-color: #666666 !important;
                        color: #ffffff !important;
                    }
                }
            }
        }
        .select2 {
            width: 100% !important;
            font-size: 15px;
            @include media-breakpoint-down(tablet) {
            }
            @include media-breakpoint-down(mobile) {
                font-size: 13px;
            }
            &-selection--single {
                height: 40px;
                border-radius: 0;
                border: 1px solid #ccc;
                background-color: #ffffff;
            }
            &-selection__rendered {
                line-height: 40px !important;
                padding-left: 16px !important;
                padding-right: 40px !important;
            }
            &-selection__placeholder {
                color: #666666 !important;
            }
            &-selection__arrow {
                height: 40px !important;
                width: 38px !important;
                top: 0 !important;
                right: 0 !important;
            }
            &-selection--single .select2-selection__arrow {
                b {
                    border-right: 2px solid #000 !important;
                    border-bottom: 2px solid #000 !important;
                    border-left: none !important;
                    border-top: none !important;
                    width: 6px;
                    height: 6px;
                    margin-left: -3px;
                    margin-top: -3px;
                    transform-origin: center center;
                    transform: rotate(45deg);
                }
            }
            &-container--open .select2-selection--single .select2-selection__arrow b {
                transform: rotate(225deg);
                margin-top: 0;
            }
        }

        select.selectized {
            display: block !important;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            &.error + .selectize-control .selectize-input {
                border-color: #990000;
            }
            & ~ label.error {
                margin-top: -5px;
                display: block;
            }
        }

        &_multiply {
            .selectize-input{
                height: auto;
                min-height: 40px;
                @include media-breakpoint-down(tablet){
                    height: auto;
                    min-height: 30px;
                }
            }
            .selectize-control.multi .selectize-input > div{
                @include media-breakpoint-down(tablet){
                    line-height: 21px;
                }
            }
            .selectize-dropdown {
                .option.selected {
                    display: none;
                }
            }
        }
    }
    &__select + &__select {
        @include media-breakpoint-up(desktop) {
            margin-left: 20px;
        }
    }
    &__radio {
        position: relative;
        overflow: hidden;
        margin-right: 50px;
        @include media-breakpoint-down(tablet) {
            margin-right: 15px;
        }
        input {
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: -999px;
            top: -999px;
        }
        input + span {
            padding-left: 27px;
            display: inline-block;
            cursor: pointer;
            font-weight: 600;
            @include media-breakpoint-down(mobile) {
                line-height: 18px;
            }
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 1px;
                border-radius: 50%;
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 2px solid #009999;
            }
            &::after {
                width: 6px;
                height: 6px;
                background-color: #009999;
                margin-left: 5px;
                margin-top: 5px;
                opacity: 0;
            }
        }
        input:checked + span {
            &:before {
                border-color: #009999;
            }
            &::after {
                opacity: 1;
            }
        }
    }
    &__check {
        position: relative;
        overflow: hidden;
        margin-right: 50px;
        
        @include media-breakpoint-up(desktop) {
            margin-left: 15px;
        }
        @include media-breakpoint-down(tablet) {
            margin-right: 15px;
        }
        input {
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: -999px;
            top: -999px;
        }
        input + span {
            padding-left: 27px;
            display: inline-block;
            cursor: pointer;
            font-weight: 600;
            @include media-breakpoint-down(mobile) {
                line-height: 18px;
            }
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 1px;
                @include media-breakpoint-down(mobile) {
                    top: 0;
                }
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 2px solid #009999;
            }
            &::after {
                width: 15px;
                height: 12px;
                margin-left: 4px;
                margin-top: 1px;
                opacity: 0;
                background-image: url(../assets/images/icons/icon-check_active.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }
        input:checked + span {
            &::after {
                opacity: 1;
            }
        }
    }
    &__area {
        display: block;
        resize: none;
        border: 1px solid #ccc;
        width: 100%;
        min-height: 120px;
        padding: 8px 14px;
        font-size: inherit;
        color: inherit;
        @include media-breakpoint-down(tablet) {
            min-height: 58px;
            padding: 7px 9px;
        }
        &.error {
            border-color: $red;
        }
    }

    label.error,
    span.error {
        color: $red;
        font-size: 14px;
        @include media-breakpoint-down(tablet) {
            font-size: 12px;
        }
    }

    &__images {
        position: relative;
        overflow: hidden;
        &-input {
            position: absolute;
            top: -999px;
            left: -999px;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
        &-wrap {
            display: flex;
            flex-wrap: wrap;
            @include media-breakpoint-down(tablet) {
                margin-bottom: -15px;
            }
            @include media-breakpoint-down(mobile) {
                justify-content: center;
                margin-right: -22px;
            }
        }
        &-item,
        &-add {
            position: relative;
            display: block;
            width: 146px;
            height: 146px;
            margin-right: 34px;
            margin-bottom: 31px;
            cursor: pointer;
            @include media-breakpoint-down(tablet) {
                width: 90px;
                height: 90px;
                margin-right: 22px;
                margin-bottom: 15px;
            }
        }
        &-item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                opacity: 0.9;
                opacity: 0;
                @include media-breakpoint-down(tablet) {
                    content: none;
                }
            }
            &::after {
                content: attr(data-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 100%;
                text-align: center;
                color: #990000;
                font-size: 14px;
                line-height: 18px;
                border-bottom: 2px dotted;
                opacity: 0;
                @include media-breakpoint-down(tablet) {
                    font-size: 12px;
                }
                @include media-breakpoint-down(tablet) {
                    content: '';
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    border-radius: 50%;
                    border: none;
                    background-color: #009999;
                    right: 5px;
                    top: 5px;
                    left: auto;
                    bottom: auto;
                    transform: none;
                    opacity: 1;
                    background-repeat: no-repeat;
                    background-size: 10px auto;
                    background-position: center center;
                    background-image: url(../assets/images/icons/icon-close_white.svg);
                }
            }
            @include hover {
                &::before {
                    opacity: 0.9;
                }
                &::after {
                    opacity: 1;
                }
            }

            &.is-loader {
                pointer-events: none;
                &::before {
                    content: '' !important;
                    border: 1px solid #009999 !important;
                    background-color: #f0efef !important;
                    opacity: 1 !important;
                }
                &::after {
                    content: '' !important;
                    position: absolute !important;
                    background-image: url('../assets/images/loader.gif') !important;
                    background-repeat: no-repeat !important;
                    background-size: 80% auto !important;
                    background-position: center center !important;
                    opacity: 1 !important;
                    border: none !important;
                    top: 0 !important;
                    bottom: 0 !important;
                    left: 0 !important;
                    right: 0 !important;
                    transform: none !important;
                    border-radius: 0 !important;
                    width: 100% !important;
                    height: 100% !important;
                    background-color: transparent !important;
                }
            }
        }
        &-add {
            border: 1px solid #009999;
            background-color: #f0efef;
            &:nth-child(n+7) {
                display: none !important;
                pointer-events: none !important;
            }
            &::before {
                content: '';
                position: absolute;
                top: 17px;
                left: 17px;
                bottom: 17px;
                right: 17px;
                background-color: #ffffff;
                border: 1px dashed #999999;
                @include media-breakpoint-down(tablet) {
                    top: 11px;
                    bottom: 11px;
                    left: 11px;
                    right: 11px;
                }
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                fill: #009999;
                font-size: 26px;
                @include media-breakpoint-down(tablet) {
                    font-size: 24px;
                }
            }
            span {
                position: absolute;
                display: inline-block;
                text-align: center;
                left: 18px;
                right: 18px;
                bottom: 18px;
                top: 95px;
                font-size: 14px;
                line-height: 18px;
                @include media-breakpoint-down(tablet) {
                    font-size: 12px;
                    left: 12px;
                    right: 12px;
                    bottom: 12px;
                    top: 56px;
                }
            }

            @include hover {
                background-color: #009999;
                color: #009999;
                &::before {
                    border-color: #009999;
                }
            }
        }

        label.error {
            display: block;
            margin-top: -25px;
            @include media-breakpoint-down(tablet) {
                margin-top: 5px;
            }
            @include media-breakpoint-down(mobile) {
                text-align: center;
            }
        }
    }

    &__field {
        &_half,
        &_half_2 {
            width: 252px;
            flex: 0 1 auto;
            @include media-breakpoint-down(mobile) {
                width: 150px;
            }
        }
        &_half_2 {
            @include media-breakpoint-down(mobile) {
                width: 216px;
            }
        }
        &_auto {
            max-width: 125px;
            @include media-breakpoint-down(tablet) {
                max-width: 113px;
            }
            @include media-breakpoint-down(mobile) {
                max-width: 82px;
            }
        }

        &.is-loader {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 0px;
                height: 40px;
                width: 50px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 10px center;
                background-image: url('../assets/images/loader.gif');
                pointer-events: none;
                z-index: 5;
                @include media-breakpoint-down(tablet) {
                    height: 30px;
                }
            }
        }
    }
    &__text {
        font-size: 17px;
        line-height: 40px;
        margin: 0 3px !important;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            line-height: 30px;
            margin: 0 -1px !important;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            margin: 0 -4px !important;
        }
    }
    &__drag {
        position: relative;
        font-size: 17px;
        color: #666666;
        fill: #2e3237;
        border-radius: 4px;
        user-select: none;
        overflow: hidden;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            border-radius: 0;
            color: #009999;
            fill: #009999;
            display: block;
            width: 100%;
        }
        &-field {
            position: relative;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            @include media-breakpoint-down(mobile) {
                border-radius: 0;
                background-color: transparent !important;
            }

            @include hover {
                background-color: #ebf4f9;
            }
            
            &.is-drag {
                background-color: #ebf4f9;
            }
        }
        &-input {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200%;
            opacity: 0;
            cursor: pointer;
            z-index: 2;
        }
        &-label {
            position: relative;
            display: block;
            height: 120px;
            border-radius: 4px;
            border: 1px dashed #333333;
            @include media-breakpoint-down(tablet) {
                height: 77px;
            }
            @include media-breakpoint-down(mobile) {
                height: auto;
                border-radius: 0;
                border: none;
                width: 100%;
            }
        }
        &-content {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0, -50%);
            text-align: center;
            @include media-breakpoint-down(mobile) {
                position: static;
                transform: none;
                text-align: left;
            }
            .icon {
                font-size: 29px;
                margin-bottom: 8px;
                @include media-breakpoint-down(tablet) {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                @include media-breakpoint-down(mobile) {
                    vertical-align: bottom;
                    margin-right: 8px;
                }
            }
            span {
                display: block;
                @include media-breakpoint-down(mobile) {
                    display: inline;
                }
            }
        }

        &-file {
            display: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            font-size: inherit;
            border-radius: 4px;
            background-color: #ebf4f9;
            padding: 0 10px;
            // display: flex;
            fill: #009999;
            margin-top: 10px;
            color: #2e3237;
            @include media-breakpoint-down(tablet) {
                line-height: 30px;
                height: 30px;
            }
            .icon {
                flex-shrink: 0;
            }
            .icon-file {
                font-size: 16px;
                margin: 11px 10px 11px 0px;
                @include media-breakpoint-down(tablet) {
                    margin: 6px 10px 6px 0px;
                }
            }
            .icon-close {
                font-size: 16px;
                margin: 12px 0;
                @include media-breakpoint-down(tablet) {
                    margin: 7px 0;

                }
            }
        }
        &-name {
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-remove {
            position: relative;
            margin-left: 10px;
            fill: #000;
            cursor: pointer;
            @include hover {
                fill: #009999;
            }
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                bottom: -10px;
                right: -10px;
            }
        }
    }

    &__buttons {
        &_right {
            text-align: right;
            margin-bottom: 20px;
            @include media-breakpoint-down(tablet) {
                text-align: center;
                margin-bottom: 10px;
            }
            @include media-breakpoint-down(mobile) {
                margin-bottom: 10px;
                margin-top: 14px !important;
            }
        }
    }

    &__row_columns .sms-confirm {
        order: 3;
        width: 100%;
        margin-top: 22px;
        @include media-breakpoint-down(tablet) {
            margin-top: 12px;
        }
        @include media-breakpoint-down(mobile) {
            width: auto;
        }
    }


}

.sms-confirm {
    display: flex;
    width: 100%;
    @include media-breakpoint-down(mobile) {
        margin-top: 12px;
        display: block;
        width: auto;
        margin-bottom: 8px;
    }
    .form__input {
        @include media-breakpoint-down(mobile) {
            text-align: left;
        }
    }
    &__main {
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        @include media-breakpoint-down(tablet) {
            display: block;
        }
        @include media-breakpoint-down(mobile) {
            margin-right: 0;
        }
        &-title {
            flex-shrink: 0;
            max-width: 50%;
            line-height: 40px;
            margin-right: 16px;
            @include media-breakpoint-down(tablet) {
                margin-right: 0;
                font-size: 14px;
                display: block;
                max-width: none;
                line-height: normal;
                margin-bottom: 5px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: inherit;
            }
        }
        &-fields {
            flex: 1;
            @include media-breakpoint-down(mobile) {
                text-align: center;
            }
            .btn {
                margin-top: 18px;
                @include media-breakpoint-down(tablet) {
                    margin-top: 15px;
                }
                @include media-breakpoint-down(mobile) {
                    margin-top: 14px;
                }
            }
        }
    }
    &__desc {
        flex: 1;
        // padding-left: 20px;
        @include media-breakpoint-down(tablet) {
            padding-top: 22px;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
        }
    }
    &__text {
        display: block;
        margin-bottom: 20px;
        line-height: 40px;
        padding: 10px 0 10px 20px;
        font-size: 16px;
        line-height: 18px;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            padding: 3px 0;
            margin-right: -5px;
            margin-bottom: 19px;
        }
        @include media-breakpoint-down(mobile) {
            text-align: center;
            margin: 12px 0 0;
            padding: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        >span {
            @include media-breakpoint-only(tablet) {
                display: block;
            }
        }
        a:not([class]) {
            border-bottom: 1px solid;
            transition: color 0.3s ease 0s;
            @include media-breakpoint-down(tablet) {
                border-bottom: none;
                color: #009999;
            }
            @include hover {
                color: #009999;
            }
        }
    }
}

.href {
    &_tip {
        font-size: 14px;
        line-height: 18px;
        border-bottom: 2px dotted !important;
        color: #666666;
        display: inline !important;
        @include media-breakpoint-down(tablet) {
            font-size: 12px;
        }
    }
}

.tip {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    background-color: #f7f8f8;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    &::before {
        content: 'i';
    }

    @include hover {
        background-color: #009999;
        border-color: #009999;
        color: #ffffff;
    }
    &.is-active {
        background-color: #009999;
        border-color: #009999;
        color: #ffffff;
    }
}
.ui-tooltip {
    border: none !important;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1) !important;
    color: #fff !important;
    border-radius: 4px !important;
    background: #202124 !important;
    padding: 10px 15px !important;
    font-size: 12px !important;
    line-height: 18px !important;
    .ui-arrow {
        position: absolute;
        // left: 50%;
        transform: translateX(0%);
        top: 100%;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #202124;
        border-bottom: none;
    }
    .ui-arrow.top {
        top: auto;
        bottom: 100%;
        border-bottom: 9px solid #202124;
        border-top: none;
    }
    // .ui-arrow.left {
    //     left: 40%;
    // }
    // .ui-arrow.right {
    //     left: 60%;
    // }
}

.modal {
    display: none;
    width: 600px;
    max-width: 100%;
    @include media-breakpoint-down(mobile) {
        padding: 25px 25px;
        font-size: 14px;
    }
    &__header {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
        }
    }
}