.access-denied .blog-detail__subheading{
    margin-top: 55px;
}
.access-denied .blog-detail__subheading a{
    color: #099;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.access-denied .blog-detail__subheading a:hover{
    color: #066;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}