.l-autocomplete {
    display: block;
    &__row {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-down(mobile) {
            display: block;
        }
    }
    &__title {
        font-size: 16px;
        color: #666666;
        line-height: 40px;
        margin-right: 12px;
        @include media-breakpoint-down(mobile) {
            display: block;
            margin-right: 0;
            line-height: normal;
            margin-bottom: 12px;
        }
    }
    &__select {
        .select2 {
            width: 620px !important;
            max-width: 100%;
            &-selection {
                border: none!important;
                border-radius: 0;
                height: 40px;   
                &__rendered {
                    height: 40px;
                    padding: 0 12px !important;
                }
                &__choice {
                    display: none;
                }
            }
            &-search {
                height: 100%;
                &__field {
                    margin: 0 !important;
                    height: 100%;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
    &__options {
        margin-right: -12px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        @include media-breakpoint-down(tablet) {
            padding-bottom: 0;
        }
        @include media-breakpoint-down(mobile) {
            margin-right: -3px;
        }
    }
    &__option {
        position: relative;
        display: block;
        font-size: 16px;
        color: #2e3237;
        padding-right: 34px;
        padding-left: 18px;
        border: 1px solid #ccc;
        background-color: #ffffff;
        transition: background-color 0.3s ease 0s;
        border-radius: 8px;
        margin-right: 12px;
        margin-top: 22px;
        line-height: 28px;
        flex-shrink: 0;
        cursor: pointer;
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            line-height: 24px;
            padding-left: 10px;
            padding-right: 20px;
            border-radius: 4px;
            margin-right: 3px;
            margin-top: 14px;
        }
        @include hover {
            background-color: transparent;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            margin: auto;
            width: 9px;
            height: 9px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url(../assets/images/icons/icon-close.svg);
            @include media-breakpoint-down(mobile) {
                right: 8px;
                width: 7px;
                height: 7px;
            }
        }
    }
}
.select2 {
    &-results {
        &__group {
            padding: 0 15px !important;
            font-size: 23px !important;
            font-weight: bold !important;
            line-height: 40px !important;
        }
    }
    &-dropdown {
        // padding-right: 15px !important;
    }
}

.ui-autocomplete {
    border: 1px solid #e4e4e4 !important;
    border-radius: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1) !important;
    color: #000 !important;
    font-size: 16px;
    line-height: 25px;
    max-height: 202px;
    overflow-x: hidden;
    overflow-y: auto;
    .ui-menu-item-wrapper {
        font-size: 16px;
        line-height: 25px;
        padding: 0 20px 2px;
        border: none !important;
        background: transparent !important;
        &.ui-state-active,
        &.ui-state-focus {
            &,
            &:hover,
            &:active {
                background: #666666 !important;
                color: #ffffff !important;
                margin: 0;
            }
        }
    }
}