.l-autocomplete.js-l-autocomplete
    .l-autocomplete__row
        span.l-autocomplete__title Начните вводить имя или фамилию автора
        .l-autocomplete__select
            select.js-l-autocomplete-select
                optgroup(label="А")
                    option(value="Абулафия Крайнова") Абулафия Крайнова
                    option(value="Арменинов Тримедул") Арменинов Тримедул
                    option(value="Асадуллин Нефедов") Асадуллин Нефедов
                    option(value="Ашихмин Шадурахов") Ашихмин Шадурахов
                optgroup(label="Б")
                    option(value="Бабурин Константин") Бабурин Константин
                    option(value="Бабуркин Вениамин") Бабуркин Вениамин
                    option(value="Баламутин Перлпмутр") Баламутин Перлпмутр
                    option(value="Бенвенист Трамп") Бенвенист Трамп
                    option(value="Бердюгин Битюг") Бердюгин Битюг
                    option(value="Бернштейн (фамилия)") Бернштейн (фамилия)
                    option(value="Бессонов (фамилия)") Бессонов (фамилия)
                    option(value="Боборыкин (фамилия)") Боборыкин (фамилия)
                    option(value="Боталов (фамилия)") Боталов (фамилия)
                optgroup(label="В")
                    option(value="Вельмисов") Вельмисов
                    option(value="Войнилович (фамилия)") Войнилович (фамилия)
                    option(value="Волков (фамилия)") Волков (фамилия)
                optgroup(label="Г")
                    option(value="Гагарин (фамилия)") Гагарин (фамилия)
                    option(value="Гонсалес (фамилия)") Гонсалес (фамилия)
    .l-autocomplete__row
        .l-autocomplete__options.js-l-autocomplete-options
            //- span.l-autocomplete__option.js-l-autocomplete-option Филипп Роджерс
        