.review-carousel.js-review-carousel
    .review-carousel__slide
        .review-carousel__slide-inner
            a.review-carousel__item.review-carousel__item_big(href="#" style="background-image:url(assets/images/inhtml/example-article-1.jpg)")
                span.review-carousel__item-category Современное НЮ
                span.review-carousel__item-title Новое изобразительное искусство
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-4.jpg)")
                span.review-carousel__item-category Вдохновение Уорхолом
                span.review-carousel__item-title Новый Поп Арт
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-5.jpg)")
                span.review-carousel__item-category Вдохновение Гансом&nbsp;Хофманном
                span.review-carousel__item-title Новый абстрактный экспрессионизм
    .review-carousel__slide
        .review-carousel__slide-inner
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-2.jpg)")
                span.review-carousel__item-category Вдохновение Уорхолом
                span.review-carousel__item-title Новый Поп Арт
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-3.jpg)")
                span.review-carousel__item-category Вдохновение Гансом&nbsp;Хофманном
                span.review-carousel__item-title Новый абстрактный экспрессионизм
            a.review-carousel__item.review-carousel__item_big(href="#" style="background-image:url(assets/images/inhtml/example-article-6.jpg)")
                span.review-carousel__item-category Современное НЮ
                span.review-carousel__item-title Новое изобразительное искусство
    .review-carousel__slide
        .review-carousel__slide-inner
            a.review-carousel__item.review-carousel__item_big(href="#" style="background-image:url(assets/images/inhtml/example-article-1.jpg)")
                span.review-carousel__item-category Современное НЮ
                span.review-carousel__item-title Новое изобразительное искусство
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-4.jpg)")
                span.review-carousel__item-category Вдохновение Уорхолом
                span.review-carousel__item-title Новый Поп Арт
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-5.jpg)")
                span.review-carousel__item-category Вдохновение Гансом&nbsp;Хофманном
                span.review-carousel__item-title Новый абстрактный экспрессионизм
    .review-carousel__slide
        .review-carousel__slide-inner
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-2.jpg)")
                span.review-carousel__item-category Вдохновение Уорхолом
                span.review-carousel__item-title Новый Поп Арт
            a.review-carousel__item(href="#" style="background-image:url(assets/images/inhtml/example-article-3.jpg)")
                span.review-carousel__item-category Вдохновение Гансом&nbsp;Хофманном
                span.review-carousel__item-title Новый абстрактный экспрессионизм
            a.review-carousel__item.review-carousel__item_big(href="#" style="background-image:url(assets/images/inhtml/example-article-6.jpg)")
                span.review-carousel__item-category Современное НЮ
                span.review-carousel__item-title Новое изобразительное искусство