/**
 * Component: Review Carousel
 */
.review-carousel {
    margin: -10px -20px 30px;
    @include media-breakpoint-down(tablet) {
        margin: -12px -6px 33px;
    }
    .slick-slide {
        margin: 0 20px;
        @include media-breakpoint-down(tablet) {
            margin: 0 6px;
        }
    }
    &__slide {
        width: 600px;
        // margin: 0 20px;
        @include media-breakpoint-only(tablet) {
            // width: 490px / 768px * 100vw !important;
            width: calc((100vw - 35px)/3*2) !important;
        }
        &-inner {
            margin: 0 -20px;
            display: flex;
            flex-wrap: wrap;
            @include media-breakpoint-down(tablet) {
                margin: 0 -6px;
            }
        }
    }
    &__item {
        position: relative;
        width: calc(50% - 40px);
        margin: 20px;
        background-repeat: no-repeat;
        background-size: 0px 0px;
        color: #ffffff;
        text-align: center;
        display: block;
        overflow: hidden;
        @include media-breakpoint-down(tablet) {
            margin: 6px;
            width: calc(50% - 12px);
        }
        @include media-breakpoint-down(mobile) {
            color: #000000;
            margin: 10px 6px;
            text-align: left;
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
            z-index: 1;
            background-image: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform: scale(1);
            transition: transform 2s linear 0s;
            @include media-breakpoint-down(mobile) {
                margin-bottom: 16px;
            }
        }
        &_big {
            width: calc(100% - 40px);
            @include media-breakpoint-down(tablet) {
                width: calc(100% - 12px);
            }
            &::before {
                padding-top: calc(50% - 20px);
                @include media-breakpoint-down(tablet) {
                    padding-top: calc(50% - 6px);
                }
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            background-color: #000;
            opacity: 0.3;
            z-index: 2;
            transition: opacity 2s linear 0s;
            @include media-breakpoint-down(mobile) {
                content: none;
            }
        }

        @include hover {
            &::after {
                opacity: 0.8;
            }
            &::before {
                transform: scale(1.1);
            }
        }
        &-category,
        &-title {
            display: block;
            z-index: 3;
            left: 0;
            right: 0;
            position: absolute;
            padding: 0 20px;
            transform: translateZ(0);
            @include media-breakpoint-down(mobile) {
                position: relative;
                padding: 0;
                top: auto !important;
                bottom: auto !important;
                left: auto !important;
                right: auto !important;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                width: 40px;
                background-color: #ffffff;
                margin: auto;
                @include media-breakpoint-down(mobile) {
                    background-color: #000000;
                    width: 20px;
                    right: auto;
                }
            }
        }
        &-category {
            bottom: 50%;
            font-size: 18px;
            line-height: 25px;
            padding-bottom: 16px;
            padding-left: 40px;
            padding-right: 40px;
            @include media-breakpoint-down(tablet) {
                font-size: 16px;
                line-height: 20px;
                padding-bottom: 5px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 0 0 8px;
                font-size: 14px;
                line-height: 18px;
            }
            &::after {
                bottom: -1px;
            }
        }
        &-title {
            top: 50%;
            font-size: 22px;
            line-height: 29px;
            font-weight: 600;
            padding-top: 14px;
            @include media-breakpoint-down(tablet) {
                font-size: 18px;
                line-height: 23px;
                padding-top: 3px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 12px 0 0;
                font-size: 14px;
                line-height: 16px;
            }
            &::after {
                top: 0;
            }
        }

    
    }
}