.l-options
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Вортицизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Модернизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Авангардизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Реализм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Барокко
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Конструктивизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Готика
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Классицизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Конструктивизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Готика
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Классицизм
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Поп-арт
    .l-options__item
        input(type="checkbox" id="l-option-1" name="l-option")
        label(for="l-option-1") Натюрморт