.l-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px -16px;
    @include media-breakpoint-down(mobile) {
        margin: 0 -1.5px -14px;
    }
    &__item {
        margin: 0 6px 16px;
        overflow: hidden;
        flex-shrink: 0;
        @include media-breakpoint-down(mobile) {
            margin: 0 1.5px 14px;
        }
        input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 0;
            height: 0;
            left: -999px;
            top: -999px;
        }
        input + label {
            display: block;
            text-align: center;
            line-height: 28px;
            border: 1px solid #ccc;
            background-color: #ffffff;
            border-radius: 8px;
            padding: 0 18px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            @include media-breakpoint-down(mobile) {
                font-size: 12px;
                line-height: 24px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 4px;
                margin-right: 3px;
            }
            @include hover {
                background-color: #1e2026;
                color: #ffffff;
                border-color: #fff;
            }
        }
        input:checked + label {
            background-color: #000000;
            color: #ffffff;
            border-color: #fff;
        }

    }
}