/**
 * Component: Header
 */
 $header-color: #fff;
 $header-bg:    rgba(0,0,0,0.8);
 $header-inverse-color: #000;
 $header-inverse-bg: #fff;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-bg;
    color: $header-color;
    z-index: 1100;
    .wrapper_inner & {
        background-color: $header-inverse-bg;
        color: $header-inverse-color;
        border-bottom: 1px solid #e4e4e4;
    }
    @include media-breakpoint-down(mobile) {
        background-color: $header-inverse-bg;
        color: $header-inverse-color;
        border-bottom: 1px solid rgba(#ccc,0.52);
    }
    &__inner {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        @include media-breakpoint-down(mobile) {
            height: 54px;
            padding-right: 0;
        }
        >* {
            flex-shrink: 0;
        }
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.025em;
    span:first-child {
        font-weight: 900;
    }
}

.menu {
    display: flex;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.025em;
    height: 100%;
    z-index: 1;
    &__item {
        height: 100%;
        padding: 20px 0;

        &_dropdown {
            .icon {
                fill: $header-color;
                width: 10px;
                height: 10px;
                transform: rotate(90deg);
                transform-origin: center center;
                display: inline-block;
                vertical-align: middle;
                margin-left: 6px;
                margin-right: -10px;
                .wrapper_inner & {
                    fill: $header-inverse-color;
                }
            }

        }
    }
    &__link {
        position: relative;
        line-height: 40px;
        padding: 0 28px;
        display: block;
        transition: color 0.3s ease 0s,
                    background-color 0.3s ease 0s;
        @include hover {
            background-color: $header-bg;
            .wrapper_inner & {
                color: #fff;
                .icon {
                    fill: #fff;
                }
            }
        }
        &::after,
        &::before {
            content: '';
            position: absolute;
            bottom: -21px;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 12px solid #ffffff;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0.3s;
            z-index: 1;
        }
        .wrapper_inner & {
            &::before {
                content: '';
                border-bottom-color: rgba(#ccc,0.52);
                border-bottom-width: 13px;
                border-right-width: 13px;
                border-left-width: 13px;
            }
        }
    }
    &__dropdown {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(#ccc,0.52);
        transition: opacity 0.3s ease 0s,
                    visibility 0s ease 0.3s;
        .wrapper_inner & {
            border-top: 1px solid rgba(#ccc,0.52);
        }
        @include media-breakpoint-down(mobile) {
            right: auto;
            width: auto;
            max-width: calc(100% - 10px);
            font-size: 15px;
            margin-top: 1px;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            padding: 18px 0;
            margin: 0 -12px;
            @include media-breakpoint-down(tablet) {
                padding: 20px 0;
                margin: 0 -20px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 14px 20px 15px;
                margin: 0 -10px;
                display: block;
            }
        }
        &-item {
            margin: 2px 12px;
            @include media-breakpoint-down(mobile) {
                margin: 3px 0;
            }
        }
        &-link {
            display: block;
            color: #000000;
            line-height: 40px;
            padding: 0 15px;
            transition: all 0.3s ease 0s;
            @include media-breakpoint-down(mobile) {
                line-height: normal;
                padding: 13px 20px;
            }
            @include hover {
                color: #ffffff;
                background-color: #000000;
                @include media-breakpoint-down(mobile) {
                    background-color: rgba(#000,0.8);
                }
            }
        }
        &-separate {
            display: none;
            @include media-breakpoint-down(mobile) {
                display: block;
                height: 1px;
                width: 100%;
                margin: 3px 0;
                background-color: #cccccc;
            }
        }
        &-copyright {
            display: none;
            @include media-breakpoint-down(mobile) {
                display: block;
                margin: 23px -20px -15px;
                background-color: #cccccc;
                text-align: center;
                color: #333333;
                font-size: 12px;
                font-weight: 300;
                line-height: 18px;
                padding: 16px 10px 12px;
            }
        }
    }
    &__item_dropdown {
        @include hover {
            .menu__link {
                background-color: $header-bg;
                &::after,
                &::before {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.3s ease 0s,
                                visibility 0s ease 0s;
                }
                .wrapper_inner & {
                    color: #fff;
                    .icon {
                        fill: #fff;
                    }
                }
            }
            .menu__dropdown {
                visibility: visible;
                opacity: 1;
                transition: opacity 0.3s ease 0s,
                            visibility 0s ease 0s;
            }
        }
    }
    &__item_dropdown.is-open {
        .menu__link {
            background-color: $header-bg;
            &::after,
            &::before {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s ease 0s,
                            visibility 0s ease 0s;
            }
            .wrapper_inner & {
                color: #fff;
                .icon {
                    fill: #fff;
                }
            }
        }
        .menu__dropdown {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0s;
        }
    }
    &_top {
        @include media-breakpoint-down(tablet) {
            display: none;
        }
    }
}
.menu-touch {
    display: none;
    padding: 12px;
    background-color: transparent;
    @include media-breakpoint-down(tablet) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 18px;
    }
    @include media-breakpoint-down(mobile) {
        padding: 6px;
        margin-right: 19px;
    }
    &__burger {
        position: relative;
        width: 18px;
        height: 14px;
        cursor: pointer;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     margin: -12px;
        //     @include media-breakpoint-down(mobile) {
        //         margin: -6px;
        //     }
        // }
        &::after,
        &::before {
            position: absolute;
            bottom: -33px;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 12px solid #ffffff;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0.3s;
            @include media-breakpoint-down(mobile) {
                position: absolute;
                top: -20px;
                bottom: -20px;
                left: -20px;
                right: -20px;
                opacity: 0;
                border: none;
                transform: none;
                visibility: visible;
            }
        }
        &::after {
            content: '';
        }
        .wrapper_inner & {
            &::before {
                content: '';
                border-bottom-color: rgba(#ccc, 1);
                border-bottom-width: 13px;
                border-left-width: 13px;
                border-right-width: 13px;
            }
        }
        &-line {
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            margin: auto;
            opacity: 1;
            margin-top: 0;
            transform-origin: center center;
            transform: rotate(0);
            .wrapper_inner & {
                background-color: #000000;
            }
            @include media-breakpoint-down(mobile) {
                background-color: #000000;
            }
            &:nth-child(1) {
                margin-top: -6px;
                transition: margin-top 0.2s ease 0.2s,
                            transform 0.2s ease 0s;
            }
            &:nth-child(2) {
                transition: opacity 0s ease 0.2s;
            }
            &:nth-child(3) {
                margin-top: 6px;
                transition: margin-top 0.2s ease 0.2s,
                            transform 0.2s ease 0s;
            }
        }
    }

    &.is-open &__burger {
        &::after,
        &::before {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0s;
        }
    }
    &.is-open &__burger-line {
        &:nth-child(1) {
            margin-top: 0;
            transform: rotate(45deg);
            transition: margin-top 0.2s ease 0s,
                        transform 0.2s ease 0.2s;
        }
        &:nth-child(2) {
            opacity: 0;
            transition: opacity 0s ease 0.2s;
        }
        &:nth-child(3) {
            margin-top: 0;
            transform: rotate(-45deg);
            transition: margin-top 0.2s ease 0s,
                        transform 0.2s ease 0.2s;
        }
    }
    &__dropdown {
        // opacity: 0;
        // visibility: hidden;
        // transition: opacity 0.3s ease 0s,
        //             visibiity 0s ease 0.3s;
    }
    &.is-open &__dropdown {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease 0s,
                    visibiity 0s ease 0s;
    }
}

.tools {
    display: flex;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.025em;
    .icon {
        display: inline-block;
        vertical-align: middle;
        font-size: 23px;
        stroke: $header-color;
        stroke-width: 1.5px;
        fill: none;
        transition: stroke 0.3s ease 0s;
        .wrapper_inner & {
            stroke: $header-inverse-color;
        }
        @include media-breakpoint-down(tablet) {
            font-size: 20px;
        }
        @include media-breakpoint-down(mobile) {
            stroke: #000;
        }
    }
    &__item {
        display: block;
        margin: 0 0px;
    }
    &__link {
        display: block;
        position: relative;
        padding: 10px 20px;
        line-height: 23px;
        transition: color 0.3s ease 0s,
                    background-color 0.3s ease 0s;
        height: 100%;
        @include media-breakpoint-down(tablet) {
            padding: 10px 10px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 10px 6px;
        }
        @include hover {
            background-color: rgba(0,0,0,0.8);
            .wrapper_inner & {
                color: #fff;
                .icon {
                    stroke: #fff;
                }
            }
        }
        span {
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }

        &_tip {
            padding-right: 40px;
            @include media-breakpoint-down(tablet) {
                padding-right: 30px;
            }
            @include media-breakpoint-down(mobile) {
                padding-right: 26px;
            }
        }
        &-tip {
            position: absolute;
            top: 10px;
            left: 100%;
            margin-left: -46px !important;
            display: inline-block;
            vertical-align: top;
            // margin-left: -7px !important;
            font-size: 13px;
            line-height: 18px;
            padding: 0 5px;
            border-radius: 10px;
            background-color: #666666;
            text-align: center;
            min-width: 1.5em;
            .wrapper_inner & {
                color: $header-color;
            }
            @include media-breakpoint-down(tablet) {
                line-height: 16px;
                border-radius: 8px;
                margin-left: -35px !important;
            }
            @include media-breakpoint-down(mobile) {
                color: #ffffff;
                margin-left: -30px !important;
            }
        }
    }
}

.tool-user {
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(mobile) {
        position: static;
    }
    .icon {
        fill: $header-color;
        stroke: none !important;
        .wrapper_inner & {
            fill: $header-inverse-color;
        }
        @include media-breakpoint-down(mobile) {
            fill: $header-inverse-color;
        }
    }
    &__icon {
        position: relative;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 0px 0px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-image: inherit;
            z-index: 2;
            border-radius: 50%;
        }
    }
    &__link {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        // line-height: 40px;
        span {
            line-height: 44px;
            @include media-breakpoint-down(mobile) {
                display: none;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 20px;
            @include media-breakpoint-down(mobile) {
                display: none !important;
            }
        }
    }
    &__dropdown {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0);
        margin-top: 18px;
        min-width: 280px;
        white-space: nowrap;
        padding: 25px 25px;
        border: 1px solid #ededed;
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        color: #000000;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0;
        transition: opacity 0.3s ease 0s,
                    visibility 0s ease 0.3s;
        @include media-breakpoint-down(mobile) {
            right: 0;
            left: auto;
            transform: none;
            // min-width: 0;
            max-width: calc(100% - 10px);
            margin-top: 0;
            box-shadow:none;
            padding: 14px 20px 15px;
            font-size: 15px;
            line-height: normal;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 12px solid #ffffff;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            @include media-breakpoint-down(mobile) {
                content: none;
            }
        }
        &-group {
            border-bottom: 1px solid #cccccc;
            display: block;
            padding: 10px 0;
            @include media-breakpoint-down(mobile) {
                padding: 0;
            }
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            &:first-child {
                padding-top: 0;
            }
            &_last {
                padding: 25px 0 0;
                @include media-breakpoint-down(mobile) {
                    padding: 0;
                }
            }
        }
        &-item {
            @include media-breakpoint-down(mobile) {
                margin: 3px 0;
            }
        }
        &-link {
            display: block;
            padding: 0 20px;
            line-height: 45px;
            transition: color 0.3s ease 0s,
                        background-color 0.3s ease 0s;
            @include media-breakpoint-down(mobile) {
                line-height: normal;
                padding: 13px 20px;
            }
            
            @include hover {
                background-color: rgba(0,0,0,0.8);
                color: #ffffff;
                
                .icon {
                    stroke: #fff !important;
                }
            }
        }
        .icon {
            font-size: 18px;
            margin-left: -20px;
            margin-right: 11px;
            stroke: #000 !important;
            fill: none !important;
            transition: stroke 0.3s ease 0s;
        }
    }

    @include media-breakpoint-up(desktop) {
        &:hover &__dropdown {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0s;
        }
        &:hover &__link {
            background-color: rgba(0, 0, 0, 0.8);
            .wrapper_inner & {
                color: $header-color;
            }
        }
        &:hover .icon {
            .wrapper_inner & {
                fill: $header-color;
            }
        }
    }
    @include media-breakpoint-down(tablet) {
        &.is-open &__dropdown {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s ease 0s,
                        visibility 0s ease 0s;
        }
        &.is-open &__link {
            background-color: rgba(0, 0, 0, 0.8);
            @include media-breakpoint-down(mobile) {
                background-color: transparent;
            }
        }
    }
    @include media-breakpoint-only(tablet) {
        &.is-open &__link {
            .wrapper_inner & {
                color: $header-color;
            }
        }
        &.is-open .icon {
            .wrapper_inner & {
                fill: $header-color;
            }
        }
    }
}
.tool-search {
    .icon {
        fill: #fff;
        stroke: none !important;
        .wrapper_inner & {
            fill: $header-inverse-color;
        }
        @include media-breakpoint-down(mobile) {
            fill: $header-inverse-color;
        }
    }
    &__form {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease 0s,
                    visibility 0s ease 0.3s;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #9febeb;
        padding: 35px 0;
        @include media-breakpoint-down(mobile) {
            padding: 16px 0;
        }
    }
    &__field {
        background-color: #ffffff;
        position: relative;
        width: 900px;
        max-width: 100%;
        margin: auto;
    }
    &__input {
        width: 100%;
        height: 70px;
        padding-left: 25px;
        padding-right: 130px;
        color: #666666;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0;
        background: none;
        border: none;
        box-shadow: none;
        @include media-breakpoint-down(mobile) {
            height: 38px;
            padding-left: 13px;
            padding-right: 60px;
            font-size: 16px;
        }
    }
    &__reset,
    &__submit {
        position: absolute;
        background: none;
        border: none;
        box-shadow: none;
        height: 70px;
        width: 50px;
        cursor: pointer;
        top: 0;
        @include media-breakpoint-down(mobile) {
            height: 38px;
            width: 36px;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 25px;
            fill: #666666 !important;
            transition: fill 0.3s ease 0s;
            @include media-breakpoint-down(mobile) {
                font-size: 20px;
            }
        }

        @include hover {
            .icon {
                fill: #000000 !important;
            }
        }
    }
    &__submit {
        right: 20px;
        @include media-breakpoint-down(mobile) {
            right: 0;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: -20px;
            @include media-breakpoint-down(mobile) {
                content: none;
            }
        }
    }
    &__reset {
        right: 70px;
        @include media-breakpoint-down(mobile) {
            right: 36px;
            width: 28px;
            .icon {
                font-size: 14px;
            }
        }
    }

    @include media-breakpoint-up(desktop) {
        .wrapper_inner & {
            &__link:hover .icon {
                fill: #fff;
            }
        }
    }
    &.is-open &__form {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease 0s,
                    visibility 0s ease 0s;
    }
    &.is-open &__link {
        background-color: rgba(0,0,0,0.8);
        .icon {
            @include media-breakpoint-up(tablet) {
                .wrapper_inner & {
                    fill: #fff;
                }
            }
            @include media-breakpoint-down(mobile) {
                fill: #fff;
            }
        }
    }
}

jdiv.wrap_mW {
    z-index: 1058 !important;
}