header.header
    .container
        .header__inner
            div
                .menu-touch.js-menu-touch
                    .menu-touch__burger.js-menu-touch-burger
                        div.menu-touch__burger-line
                        div.menu-touch__burger-line
                        div.menu-touch__burger-line
                    .menu-touch__dropdown.menu__dropdown
                        .container
                            .menu__dropdown-inner
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Каталог
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Художникам
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Блог
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") О проекте
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Доставка
                                .menu__dropdown-separate
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Политика конфиденциальности
                                .menu__dropdown-item.hidden-tablet-up
                                    a.menu__dropdown-link(href="#") Английская версия
                                .menu__dropdown-separate
                                .menu__dropdown-item
                                    .menu__dropdown-link.location.location_mobile
                                        include ../popup-location/popup-location.pug
                                .menu__dropdown-copyright
                                    span ©  Artgallery, 2018

                a.logo(href="#").hidden-mobile-down
                    span Art
                    span Gallery
                .menu__item.location.js-location-mobile
                    include ../popup-location/popup-location.pug
                a.logo(href="#").hidden-tablet-up
                    span A
                    span G
            .menu.menu_top
                .menu__item
                    a.menu__link(href="#") Каталог
                .menu__item
                    a.menu__link(href="#") Художникам
                .menu__item
                    a.menu__link(href="#") Блог
                .menu__item.menu__item_dropdown
                    a.menu__link(href="#") Еще
                        +svg('icon-arrow')
                    .menu__dropdown
                        .container
                            .menu__dropdown-inner
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") О проекте
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Доставка
                                .menu__dropdown-item
                                    a.menu__dropdown-link(href="#") Политика конфиденциальности
            .tools
                .tools__item.tool-user.js-tool-user
                    a.tools__link.tool-user__link.js-tool-user-link(href="#")
                        .tool-user__icon(style="background-image:url(assets/images/inhtml/avatar.png)")
                            +svg('icon-user')
                        span Александрелло
                    .tool-user__dropdown
                        .tool-user__dropdown-group
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Мои данные
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Мои заказы
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Сообщения
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Мои работы
                        .tool-user__dropdown-group
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Изменить пароль
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") Уведомления и подписки
                        .tool-user__dropdown-group.tool-user__dropdown-group_last
                            .tool-user__dropdown-item
                                a.tool-user__dropdown-link(href="#") 
                                    +svg('icon-logout')
                                    span Выйти
                .tools__item
                    a.tools__link.tools__link_tip(href="#")
                        +svg('icon-favorite')
                        span.tools__link-tip 85
                .tools__item
                    a.tools__link.tools__link_tip(href="#")
                        +svg('icon-cart')
                        span.tools__link-tip 23
                .tools__item.tool-search.js-tool-search
                    a.tools__link.tool-search__link.js-tool-search-link(href="#")
                        +svg('icon-search')
                    form.tool-search__form
                        .container
                            .tool-search__field
                                input.tool-search__input(type="text" placeholder="Поиск...")
                                button.tool-search__reset(type="reset")
                                    +svg('icon-close')
                                button.tool-search__submit(type="submit")
                                    +svg('icon-search')
                .tools__item.hidden-mobile-down
                    a.tools__link(href="") RU
.l-message
    .l-message__item.js-l-message
        .container
            .l-message__inner
                .l-message__close.l-message__close_btn.js-l-message-close   
                    span.btn.btn_small Принять
                p Пожалуйста, подтвердите адрес электронной почты. Ссылка подтверждения была выслана в письме регистраци.
                p Если вы не получили письмо, вы можете
                    a(href="#") выслать его повторно 1
    .l-message__item.js-l-message
        .container
            .l-message__inner
                .l-message__close.js-l-message-close   
                    +svg('icon-close')             
                p Пожалуйста, подтвердите адрес электронной почты. Ссылка подтверждения была выслана в письме регистраци.
                p Если вы не получили письмо, вы можете
                    a(href="#") выслать его повторно 2
    .l-message__item.js-l-message
        .container
            .l-message__inner
                .l-message__close.js-l-message-close   
                    +svg('icon-close')             
                p Пожалуйста, подтвердите адрес электронной почты. Ссылка подтверждения была выслана в письме регистраци.
                p Если вы не получили письмо, вы можете
                    a(href="#") выслать его повторно 3
include ../popup-select/popup-select.pug

