.popup
	.popup__bg
	.popup__container
		.popup__window
			.popup__close
				.popup__close-item
				.popup__close-item
			.popup__content.popup__content--reg
				form.popup-form-reg.popup__content-wrapper(action="")
					span.popup__heading Регистрация
					.popup__desc
						span.popup__desc-text Это бесплатно и займет не более 3 минут
						.popup__desc-switch
							.popup__desc-switch-text Уже зарегистрированы?
							a.popup__desc-switch-link.js-popup-auth(href="#") Авторизоваться
					.popup__role
						label.popup__role-label
							input.radio(type="radio", name="reg_role", value="artist", checked)
							.popup__role-radio
							.popup__role-text Я художник
						label.popup__role-label
							input.radio(type="radio", name="reg_role", value="buyer")
							.popup__role-radio
							.popup__role-text Я покупатель
					.popup__table
						.popup__media
							span.popup__table-heading С помощью социальных сетей
							a.popup__media-btn(href="#")
								+svg('social-vk','-w')
								.popup__media-btn-text VKontakte
							a.popup__media-btn(href="#")
								+svg('social-fb','-w')
								.popup__media-btn-text Facebook
							a.popup__media-btn(href="#")
								+svg('social-ok','-w')
								.popup__media-btn-text Odnoklassniki
							a.popup__media-btn(href="#")
								+svg('social-google','-w')
								.popup__media-btn-text Google+
						.popup__mail
							span.popup__table-heading.hidden-mobile-down С помощью E-mail
							.popup__mail-inputs
								.popup__names
									label.label
										.popup__label Имя
										input.input.input-text.input-text-short(type="text", name="name", required)
									label.label
										.popup__label Фамилия
										input.input.input-text.input-text-short(type="text", name="surname", required)
								label.label
									.popup__label E-mail
									input.input.input-text(type="email", name="email", required)
								label.label
									.popup__label Пароль
									input.input.input-text(type="password", name="password", required)
								label.label.label-inline
									input.input.input-checkbox(type="checkbox", name="agreement", required)
									.input-checkbox-block
										+svg('icon-check', '-w')
									.input-checkbox-text Я согласен с 
										a.popup__mail-link(href="#", target="_blank") пользовательским соглашением
							button.popup__mail-submit.popup__mail-submit--auth(type="submit") Зарегистрироваться
			.popup__content.popup__content--auth
				form.popup-form-auth.popup__content-wrapper(action="")
					span.popup__heading.popup__heading--bottom Авторизация
					.popup__desc.hidden-mobile-down
						span.popup__desc-text
						.popup__desc-switch
							.popup__desc-switch-text Еще нет аккаунта?
							a.popup__desc-switch-link.js-popup-reg(href="#") Зарегистрироваться
					.popup__table
						.popup__media
							span.popup__table-heading С помощью социальных сетей
							a.popup__media-btn(href="#")
								+svg('social-vk','-w')
								.popup__media-btn-text VKontakte
							a.popup__media-btn(href="#")
								+svg('social-fb','-w')
								.popup__media-btn-text Facebook
							a.popup__media-btn(href="#")
								+svg('social-ok','-w')
								.popup__media-btn-text Odnoklassniki
							a.popup__media-btn(href="#")
								+svg('social-google','-w')
								.popup__media-btn-text Google+
						.popup__mail
							.popup__mail-inputs
								label.label
									.popup__label E-mail
									input.input.input-text(type="email", name="email", required)
								label.label
									.popup__label Пароль
									input.input.input-text(type="password", name="password", required)
							button.popup__mail-submit.popup__mail-submit--auth(type="submit") Авторизоваться
							.popup__mail-restore
								a.popup__desc-switch-link.js-popup-reg.hidden-tablet-up(href="#") Зарегистрироваться
								span.popup__mail-restore-text.hidden-mobile-down Забыли пароль?
								a.popup__mail-restore-link.js-popup-restore(href="#") Восстановить пароль
			.popup__content.popup__content--restore
				form.popup__content-wrapper.popup__content-wrapper--restore(action="")
					span.popup__heading.popup__heading--center Восстановить пароль
					label.label
						.popup__label Введите свой E-mail
						input.input.input-text(type="email", name="email", required)
					button.popup__mail-submit.popup__mail-submit--restore(type="#") Восстановить пароль
					.popup__mail-restore
						span.popup__mail-restore-text Вспомнили пароль?
						a.popup__mail-restore-link.js-popup-auth(href="#") Авторизоваться