.popup
	z-index: 1200
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	&__bg
		z-index: 1
		position: absolute
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .5)
	&__container
		z-index: 2
		position: relative
		width: 100%
		height: 100%
		padding: 35px 0
		overflow: auto
		text-align: center
		&:before
			content: ''
			display: inline-block
			height: 100%
			width: 0
			font-size: 0
			vertical-align: middle
	&__close
		position: absolute
		top: 20px
		right: 20px
		width: 20px
		height: 20px
		cursor: pointer
		&-item
			position: absolute
			top: 7px
			left: -2px
			width: 24px
			height: 6px
			background: #000
			&:first-child
				transform: rotate(45deg)
			&:last-child
				transform: rotate(-45deg)
	&__content
		display: none
		&--reg,
		&--success
			display: block
		&--restore
			width: 440px
		&-wrapper
			display: block
	&__window
		z-index: 2
		position: relative
		display: inline-block
		padding: 40px 45px 50px 35px
		background-color: #fff
		vertical-align: middle
		text-align: left
		&:before
			content: ''
			position: absolute
			display: inline-block
			font-size: 0
			height: 100%
			vertical-align: middle
			width: 0
	&__heading
		display: block
		margin-bottom: 10px
		line-height: 42px
		letter-spacing: 0.025em
		font:
			size: 36px
			weight: 300
		&--bottom
			margin-bottom: -30px
		&--center
			position: relative
			margin-bottom: 40px
			padding-bottom: 20px
			text-align: center
			border-bottom: 1px solid #ccc
			&:after
				position: absolute
				display: block
				content: ''
				bottom: -1px
				left: 50%
				height: 1px
				width: 40px
				transform: translateX(-50%)
				background-color: #000000
		@include media-breakpoint-down(tablet)
			font-size: 30px
		@include media-breakpoint-down(mobile)
			font:
				size: 22px
				weight: 400
	&__subheading
		display: block
		width: 325px
		margin: 0 67px 50px 67px
		text-align: center
		font-size: 17px
		color: #2e3237
	&__desc
		position: relative
		display: flex
		justify-content: space-between
		margin-bottom: 20px
		padding-bottom: 20px
		color: #666666
		font-size: 14px
		border-bottom: 1px solid #ccc
		&:after
			position: absolute
			display: block
			content: ''
			bottom: -1px
			left: 0
			height: 1px
			width: 40px
			background-color: #000000
		&-switch
			display: flex
			justify-content: space-between
			&-text
				padding-right: 20px
			&-link
				padding-bottom: 2px
				border-bottom: 2px dotted #000
	&__role
		display: flex
		flex-flow: row nowrap
		justify-content: center
		align-items: center
		margin-bottom: 20px
		padding: 0 0 20px 0
		border-bottom: 1px solid #ccc
		input
			display: none
			&:checked ~ .popup__role-radio
				&:after
					display: block
		&-label
			display: flex
			flex-flow: row nowrap
			justify-content: center
			align-items: center
			margin: 0 17px
			cursor: pointer
		&-radio
			position: relative
			width: 16px
			height: 16px
			margin-right: 9px
			border-radius: 50%
			border: 2px solid $blue
			&:after
				display: none
				content: ''
				position: absolute
				top: 50%
				left: 50%
				width: 6px
				height: 6px
				background-color: $blue
				border-radius: 50%
				transform: translate(-50%, -50%)
		&-text
			font:
				size: 17px
				weight: 600
	&__table
		display: flex
		flex-flow: row nowrap
		justify-content: flex-start
		align-items: stretch
		&-heading
			display: inline-block
			margin-bottom: 15px
			color: #2e3237
			font-size: 17px
	&__media
		width: 295px
		border-right: 1px solid #ccc
		&-btn
			position: relative
			display: block
			width: 250px
			margin-bottom: 20px
			padding: 10px 20px 10px 85px
			background-color: #fff
			border-radius: 25px
			border: 1px solid #ccc
			color: #2e3237
			font-size: 17px
			transition: all .3s ease-in-out
			@include hover
				background-color: #2e3237
				border-color: #2e3237
				color: #fff
				.icon
					fill: #fff
			.icon
				position: absolute
				top: 50%
				left: 47px
				margin-top: -1px
				transform: translate(-50%, -50%)
				transition: all .3s ease-in-out
				&.social-vk-w
					font-size: 22px
				&.social-fb-w
					font-size: 19px
				&.social-ok-w
					font-size: 20px
				&.social-google-w
					margin-left: 5px
					font-size: 24px
	&__mail
		width: 475px
		padding-left: 40px
		&-inputs
			margin-bottom: 30px
		&-link
			border-bottom: 2px dotted #000
		&-submit
			display: block
			width: 100%
			padding: 15px
			background-color: $blue
			text-align: center
			color: #fff
			text-transform: uppercase
			letter-spacing: 1px
			border: 5px solid $blue
			box-shadow: 0 0 0 1px #9cd7d7 inset
			transition: all .3s ease-in-out
			font:
				size: 16px
				weight: 600
			@include hover
				background-color: darken($blue, 10)
				border: 5px solid darken($blue, 10)
			&--auth
				margin-top: 45px
			&--restore
				margin-top: 40px
		&-restore
			display: flex
			justify-content: center
			margin-top: 10px
			color: #666666
			font-size: 14px
			&-text
				padding-right: 20px
			&-link
				border-bottom: 2px dotted #000
	&__names
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: flex-start
	&__label
		margin-bottom: 5px
		color: #2e3237
		font-size: 17px
	&__icon
		width: 134px
		margin: 0 auto
		.icon
			fill: $blue
			width: 134px
			height: 102px

@include media-breakpoint-down(tablet)
	.popup
		&__window
			padding: 35px 40px 40px 40px
		&__content
			&--restore
				width: 290px
		&__heading
			margin-bottom: 5px
			&--bottom
				margin-bottom: -30px
				font-size: 24px
			&--center
				margin-bottom: 40px
				font-size: 24px
		&__subheading
			width: 270px
			margin: 0 10px 35px 10px
		&__desc
			padding-bottom: 25px
			font-size: 12px
			&-switch
				&-text
					padding-right: 10px
		&__role
			&-text
				font-size: 14px
		&__table
			&-heading
				margin-bottom: 10px	
				font-size: 14px
		&__media
			min-width: 245px
			width: 245px
			&-btn
				width: 200px
				padding: 7px 14px 7px 65px
				font-size: 14px
				.icon
					&.social-vk-w
						font-size: 19px
					&.social-fb-w
						font-size: 14px
					&.social-ok-w
						font-size: 17px
					&.social-google-w
						margin-left: 3px
						font-size: 19px
		&__label
			margin-bottom: 3px
			font-size: 14px
		&__mail
			width: 330px
			&-submit
				margin-top: 30px
				padding: 10px
				font-size: 12px
			&-restore
				font-size: 12px
		&__icon
			width: 100px
			.icon
				width: 100px
				height: 77px

@include media-breakpoint-down(mobile)
	.popup
		&__close
			transform: scale(.7)
		&__window
			max-width: 400px
			width: calc(100% - 30px)
			padding: 40px 20px 15px 20px
		&__content
			&--restore
				width: 100%
				.popup__mail-restore
					justify-content: center
					&-text
						padding-right: 5px
		&__heading
			text-align: center
			&--bottom
				margin-bottom: 20px
				font-weight: 300
			&--center
				margin-bottom: 30px
				font-weight: 300
		&__subheading
			width: 210px
			margin: 0 auto 25px auto
			font-size: 14px
		&__desc
			flex-flow: column nowrap
			margin-bottom: 30px
			text-align: center
			&:after
				left: 50%
				transform: translateX(-50%)
			&-text
				margin-bottom: 12px
			&-switch
				justify-content: center
				&-text
					padding-right: 6px
		&__role
			padding-bottom: 0
			border-bottom: none
			&-label
				margin: 0 14px 0 0
				&:last-child
					margin: 0
		&__table
			flex-flow: column wrap
			&-heading
				display: block
				text-align: center
		&__mail
			order: 1
			width: 100%
			padding-left: 0
			.label,
			.label .input
				width: 100% !important
			.label .input-checkbox
				width: 0 !important
			&-submit
				margin-top: 20px
			&-restore
				justify-content: space-between
		&__names
			flex-flow: column nowrap
		&__media
			order: 2
			width: 100%
			margin-top: 30px
			padding-top: 30px
			border-top: 1px solid #ccc
			border-right: none
			&-btn
				margin: 0 auto 15px auto
				padding-left: 70px
				.icon
					left: 37px
		&__icon
			width: 88px
			margin-bottom: 15px
			.icon
				width: 88px
				height: 68px