/**
 * Component: Note Video
 */
.note-video {
    display: block;
    position: relative;
    padding-top: 55.5%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 0px 0px;
    @include media-breakpoint-down(mobile) {
        padding-top: 167px / 229px * 100%;
    }
    &__title {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        color: #ffffff;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0.025em;
        font-weight: 600;
        padding: 20px 50px 40px;
        @include media-breakpoint-down(tablet) {
            font-size: 17px;
            line-height: 24px;
            padding: 20px 28px 22px;
            font-weight: normal;
        }
        @include media-breakpoint-down(mobile) {
            padding: 52px 14px 14px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform:scale(1);
        transition: transform 2s linear 0s;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #fff;
        background-image: url('../assets/images/icons/icon-play.svg');
        background-repeat: no-repeat;
        background-size: 16px auto;
        background-position: 28px center;
    }
    @include hover {
        &::before {
            transform:scale(1.1);
        }
    }
}