a.note-video.js-note-video(style="background-image:url('assets/images/inhtml/example-photo-1.jpg')" data-fancybox href="https://www.youtube.com/watch?v=ScMzIvxBSi4")
    span.note-video__title Видеообзор нашего ресурса возможности для пользователя