.grid
	background-color: #f3f4f5
	&__inner
		display: flex
		flex-flow: row wrap
		justify-content: flex-start
		align-items: flex-start
		width: calc(100% + 36px)
		margin-left: -18px

@include media-breakpoint-down(tablet)
	.grid
		&__inner
			width: calc(100% + 40px)
			margin-left: -20px

@include media-breakpoint-down(mobile)
	.grid
		&__inner
			width: 100%
			margin-left: 0