.section.grid
	.container
		.grid__inner
			- 
				var item = {
					image: "article-item-1.jpg",
					category: "Выставки",
					heading: "Рекорд для картин Маяковского установлен на русских торгах в Лондоне",
					text: "«Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу."
				};
			include ../article-item/article-item
			- 
				var item = {
					image: "article-item-2.jpg",
					category: "Экспертам",
					heading: "Шотландский пейзаж на гравюре Питера Брейгеля Старшего обнаружили учёные",
					text: "Эксперты надеялись, что портрет «Голова Арлекина» — это шедевр Пабло Пикассо, украденный из музея Кюнстхал в Роттердаме шесть лет назад."
				};
			include ../article-item/article-item
			- 
				var item = {
					image: "article-item-3.jpg",
					category: "Новости музеев и галерей",
					heading: "Дюрер нарисовал знаменитые «Руки молящегося» для рекламы, утверждает эксперт",
					text: "Таким образом Рон Инглиш протестует против перемещения и продажи произведений стрит-арта. Впрочем, «обновлённую» работу он снова собирается перепродать — и уже дороже."
				};
			include ../article-item/article-item
			- 
				var item = {
					image: "article-item-4.jpg",
					category: "Современное искусство",
					heading: "Рекорд для картин Маяковского установлен на русских торгах в Лондоне",
					text: "«Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу."
				};
			include ../article-item/article-item
			- 
				var item = {
					image: "article-item-5.jpg",
					category: "Продажи и торги",
					heading: "Шотландский пейзаж на гравюре Питера Брейгеля Старшего обнаружили учёные",
					text: "Эксперты надеялись, что портрет «Голова Арлекина» — это шедевр Пабло Пикассо, украденный из музея Кюнстхал в Роттердаме шесть лет назад."
				};
			include ../article-item/article-item
			- 
				var item = {
					image: "article-item-6.jpg",
					category: "Новости музеев и галерей",
					heading: "Дюрер нарисовал знаменитые «Руки молящегося» для рекламы, утверждает эксперт",
					text: "Таким образом Рон Инглиш протестует против перемещения и продажи произведений стрит-арта. Впрочем, «обновлённую» работу он снова собирается перепродать — и уже дороже."
				};
			include ../article-item/article-item
		include ../pagination/pagination