.l-select {
    display: inline-block;
    @include media-breakpoint-down(mobile) {
        display: block;
        text-align: right;
    }
    &__title {
        display: inline-block;
        font-size: 14px;
        line-height: 40px;
        margin-right: 20px;
        @include media-breakpoint-down(tablet) {

        }
        @include media-breakpoint-down(mobile) {
            font-size: 13px;
            margin-right: 6px;
        }
    }
    .select2 {
        width: 282px !important;
        font-size: 15px;
        text-align: left;
        @include media-breakpoint-down(tablet) {
            width: 235px !important;
        }
        @include media-breakpoint-down(mobile) {
            // width: 150px !important;
            width: calc(50% - 4.5px) !important;
            font-size: 13px;
        }
    }
    .select2-selection--single {
        height: 40px;
        border-radius: 0;
        border: none;
        background-color: #ffffff;
    }
    .select2-selection__rendered {
        line-height: 40px !important;
        padding-left: 16px !important;
        padding-right: 40px !important;
    }
    .select2-selection__arrow {
        height: 40px !important;
        width: 38px !important;
        top: 0 !important;
        right: 0 !important;
    }
    .select2-selection--single .select2-selection__arrow {
        b {
            border-right: 2px solid #000 !important;
            border-bottom: 2px solid #000 !important;
            border-left: none !important;
            border-top: none !important;
            width: 6px;
            height: 6px;
            margin-left: -3px;
            margin-top: -3px;
            transform-origin: center center;
            transform: rotate(45deg);
        }
    }
    .select2-container--open .select2-selection--single .select2-selection__arrow b {
        transform: rotate(225deg);
        margin-top: 0;
    }
}

.section-tools .l-select {
    margin: 8px 0 7px;
}

.select2 {
    &-container {

    }
    &-dropdown {
        border: 1px solid #e4e4e4 !important;
        border-radius: 0 !important;
        box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1) !important;
    }
    &-results {
        &__option {
            font-size: 16px;
            line-height: 25px;
            padding: 0 20px 2px;
            &[aria-selected="true"] {
                background-color: rgba(#666666, 0.6) !important;
                color: #ffffff !important;
            }
            &--highlighted,
            &--highlighted[aria-selected="true"] {
                background-color: #666666 !important;
                color: #ffffff !important;
            }
        }
    }
}
.selectize-control.multi .selectize-input.has-items{
    padding: 0;
    padding-left: 14px;
}