.l-rangeslider {
    display: block;
    width: 230px;
    @include media-breakpoint-down(tablet) {
        width: 180px;
    }
    @include media-breakpoint-down(mobile) {
        width: 208px;
    }
    &__inputs {
        height: 30px;
        display: flex;
    }
    &__input {
        display: block;
        height: 100%;
        flex: 1;
        border: none;
        box-shadow: none;
        background: transparent;
        background-color: rgba(#e3e6e8, 0.46);
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #000000;
    }
    &__separate {
        flex-shrink: 0;
        position: relative;
        width: 13px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 3px;
            right: 3px;
            height: 1px;
            background-color: #666666;
            margin: auto;
        }

    }
    &__main {
        padding: 16px 0 30px;
        input {
            opacity: 0;
            visibility: hidden;
        }
    }
    .irs {
        height: 4px;
        font-family: inherit;
        &-line {
            height: 4px;
            background-color: #cccccc;
        }
        &-grid-text,
        &-min,
        &-max {
            top: 100%;
            bottom: auto;
            margin-top: 32px;
            transform: translateY(-100%);
            font-size: 13px;
            font-weight: 300;
        }
        &-handle {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid #000;
            background-color: #cccccc;
            transform: translate(0%,-50%);
            top: 50%;
            cursor: pointer;
            @include hover {
                background-color: #000000;
            }
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                right: -10px;
                bottom: -10px;
            }
        }
        &-bar {
            top: 0;
            bottom: 0;
            background-color: #000000;
        }
        &-grid {
            // position: static;
            &-pol {
                display: none;
            }
            &-text {
                font-size: 14px;
                line-height: inherit;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
}