#bx-panel{
    z-index: 9999 !important;
}

div[id^="wait_comp_"]{ display: none;}

.picture .link.is-active {
    color: #009999;
    fill: #009999;
}

#modef{
    display: none !important;
}
.alert__success{
    background: #DEE8D8;
}
.alert__error{
    background: #E9B8B8;
}
.alert__info {
    background: #D5D9E6;
}
.alert {
    display: none;
    padding: 15px;
    margin: 20px 0px;
    color: #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.l-options__item.disabled label, .l-orientation__option.disabled label, .l-options__item label[disabled], .l-orientation__option label[disabled]{
	opacity: 0.5;
	pointer-events: none;
   cursor: default;
}

#bx-soa-basket, #bx-soa-delivery{
    border: none;
}

#bx-soa-delivery{
    width: 100%;
    margin: 0px;
}

#bx-soa-delivery .bx-soa-section-content{
    padding: 0px;
}

#bx-soa-basket .bx-soa-section-title-container, #bx-soa-delivery .bx-soa-section-title-container{
    display: none;
}

.lk-user__img.not-photo:before{
    opacity: 0.75;
}
.lk-user__img.not-photo:after{
    opacity: 0.8;
}
.author__bio-shown.not-after:after{
    content:"";
}

ul[id^="select2-sort-"] .select2-results__option:last-child{
    display: none;
}

.ui-tooltip.ui-widget-shadow{
    opacity: 1;
}

.tablebodytext, font font{
    display: none;
}

.blog-detail__inner .blog-detail__desc-date--center{
    text-align: center;
}

.sign-author__img.sign-author__img--no-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-author__img.sign-author__img--no-picture svg{
    width: 25px;
    height: 25px;
} 
.access-denied .blog-detail__subheading {
    margin-top: 55px;
}

#cart-block__delivery .form__field.is-loader::after{
    top: 24px;
}
.static-page-content img{
    max-width: 100%;
    height: auto;
}

#cart-block__payment .block-radio__desc{
    display: none;
}

#cart-block__payment .pay_item-description{
    font-size: 15px;
    margin-top: 10px;
}

.static-page-content img.payment__item
{
    height: 36px;
    display: inline-block;
    margin: 0 6px;
}

.order_payment_block * {
    
    line-height: 27px;
    font-size: 19px;
}

.order_payment_block_hidden{
    display: none;
}

@media (max-width: 1279px){
    .picture .link.js-work_digital_copy_link, .picture .link.js-work__like{
        max-width: 50%;
    }
}

/*h1 в каталоге и карточке товара*/
.picture__title{
    font-weight: normal;
}

.section-head.section-head__catalog{
    border-bottom: none;
    position: absolute;
}

.section-head.section-head__catalog:after{
    content: none;
}

.section-head__catalog .section-head__title{
    text-align: left;
}

@media (max-width: 768px){
    .section-head.section-head__catalog{
        position: relative;
    }

    .section-head__catalog .section-head__title{
        text-align: center;
    }
}


/*фильтр по области*/
.filter__item.filter__item-orientation_region_block{
    padding-top: 0px;
    z-index: 12;
}

@media (max-width: 998px){
    .filter__item.filter__item-orientation_region_block{
        padding-top: 30px;
        z-index: 12;
    }
}

.filter__item.filter__item-orientation_region_block .filter__item-title{
    line-height: 1;
    padding-bottom: 8px;
}


.filter__item-orientation_block_content{
    margin-bottom: 8px;
}

.filter__item-orientation_block_content .form__check {
    margin-left: 0px;
}

.filter__item-orientation_block_content .form__check span{
    font-weight: normal;
}

.filter__item-orientation_block_content .form__check input:checked + span{
    color: #009999;
    font-weight: normal;
}

/*близко от вас в списке товаров*/
.gallery-card__labels.gallery-card__labels_region{
    top: 95%;
}

.gallery-card__label.gallery-card__label_black{
    background-color: #000;
}

/*кнопка наверх*/
.up-button__block
{
    position: fixed;
    bottom: 20%;
    right: calc(5vw) !important;
    z-index: 999;
}

.up-button__block .slick-arrow
{
    display: inline-block;
    width: 54px;
    height: 54px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    fill: #fff;
    background-color: #4a4f52;
    border: 1px solid #4a4f52;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
    transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
}

.up-button__block .slick-arrow .icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 18px;
    width: 10px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.up-button__block .slick-arrow:hover{
    fill: #4a4f52;
    background-color: #fff;
}


/*определение города*/
.tool-location__link{
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px dotted #fff;
    padding-left: 20px;
    position: relative;
}

.tool-location__link:before{
    position: absolute;
    left: 0px;
    top: 1px;
    width: 17px;
    height: 18px;
    content: '';
    background-image: url('assets/images/pin_white.png');
    background-size: cover;

}

.wrapper_inner .tool-location__link{
    border-bottom: 1px dotted #000;
}

.wrapper_inner .tool-location__link:before{
    background-image: url('assets/images/pin_black.png');
}

@media (max-width: 767px){
    .tool-location__link{
        border-bottom: 1px dotted #000;
    }

    .tool-location__link:before{
        background-image: url('assets/images/pin_black.png');
    }

    .filter__main.js-filter-main{
        z-index: 1000;
        position: relative;
    }

    .filter__tabs-main .filter__tabs-head-item{
        background-color: #fff;
    }

    .news.js-news .slick-list.draggable{
        height: auto;
    }
}

.header__inner-location{
    margin-left: 10px;
}

/*jivosite*/
#jvlabelWrap{
    z-index: 1199;
}

.gallery__stamp-href{
    background-color: #009999 !important;
}

.form__row-main .form__check{
    margin-right: 40px;
}

@media (min-width: 1280px){
    .form__row-main .form__check {
        margin-left: 10px;
    }

    .news.js-news .slick-list.draggable{
        height: 225px;
    }
}

.popup__label.blog-detail__content{
    text-align: center;
}
.js-social-link .icon.social-whatsapp{
    width: 25px;
    height: 22px;
}
.js-social-link .icon.social-viber{
    width: 20px;
}

.blog-detail__inner-front.blog-detail__inner .blog-detail__content ul li, .blog-detail__inner-front.blog-detail__inner .blog-detail__content ol li{
    font-size: 19px;
}

.blog-detail__inner .blog-detail__content h2{
    text-align: center;
    font-size: 30px;
}
.popup__content--select-role .popup__role{
    border-bottom:none;
}
.popup__table-heading.popup__table-heading--small{
    font-size: 12px;
}
.payment-text {
    font-size: 36px;
    text-align: center;
    color: #bababa;
    margin: 42px 0;
}
.payment-desc {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin-bottom: 42px;
}
.payment-desc a {
    text-decoration: underline;
}
.filter-wrapper .btn.btn_arrow{
    background-color: #42cec7;
}
.tool-user .tool-user__link:hover:after{
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
}
.tool-user .tool-user__link.js-tool-user-link:hover:after{
    visibility: hidden;
    opacity: 0;
}
.tool-user .tool-user__link:after{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: "Профиль";
    width: 100px;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    background-color: #2e3032;
    top: 92%;
    left: -10px;
    padding: 5px 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.tools__item_favorite .tools__link_tip:hover:after{
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
}
.tools__item_favorite .tools__link_tip:after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: "Избранное";
    width: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2e3032;
    bottom: -30px;
    left: -7px;
    padding: 5px 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.tools__item_cart .tools__link_tip:hover:after{
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
}
.tools__item_cart .tools__link_tip:after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: "Корзина";
    width: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2e3032;
    bottom: -30px;
    left: -10px;
    padding: 5px 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.tool-search .tool-search__link:hover:after{
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
}
.tool-search .tool-search__link:after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: "Поиск";
    width: 100px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2e3032;
    bottom: -30px;
    left: -20px;
    padding: 5px 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.unauth__reg {
  display: none;
  width: auto;
  height: 100%;
  background-color: #099;
  color: white;
  position: absolute;
  top: 140%;
  right: -50%;
  padding: 10px 30px 10px 10px;
}

.unauth__reg .popup__close-item {
  height: 2px;
  width: 14px;
  background: #fff;
}

.unauth__reg .popup__close {
  top: 11px;
  right: 0px;
  position: absolute;
}

@media (max-width: 767px){
    .unauth__reg {
        visibility: hidden;
    }
}
