.block-radio {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    height: 100%;
    user-select: none;
    @include media-breakpoint-down(tablet) {
        font-size: 12px;
    }
    @include media-breakpoint-down(mobile) {

    }
    input {
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        top: -999px;
        left: -999px;
    }
    input ~ &__main {
        color: #2e3237;
    }
    input:checked ~ &__main {
        color: #000000;
    }
    input:checked ~ &__main {
        border-color: #009999;
    }
    input:checked ~ &__main &__title::after {
        opacity: 1;
    }
    &__main {
        border: 1px solid transparent;
        padding: 16px 10px 22px 44px;
        display: block;
        height: 100%;
        width: 100%;
        @include media-breakpoint-down(tablet) {
            padding: 10px 60px 10px 40px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 22px 15px 22px 40px;
        }
    }
    &__title {
        display: block;
        position: relative;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 17px;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            margin-bottom: 5px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: inherit;
            margin-bottom: 0;
        }
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: -32px;
            top: 0px;
            border-radius: 50%;
        }
        &::before {
            width: 16px;
            height: 16px;
            border: 2px solid #009999;
        }
        &::after {
            width: 6px;
            height: 6px;
            background-color: #009999;
            margin-left: 5px;
            margin-top: 5px;
            opacity: 0;
        }
    }
}