/**
 * Element: Arrow
 */
.arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 2px;
    width: 34px;
    margin-left: 2px;
    &::before {
        content: '';
        // position: absolute;
        // left: 0;
        // right: 0px;
        // top: 0;
        // // bottom: 0;
        display: block;
        border-top: 2px solid;
        height: 100%;
        min-width: 100%;
        margin-right: 0;
        transform: translateZ(0);
    }
    &::after {
        content: '';
        position: absolute;
        right: -1px;
        width: 7px;
        height: 7px;
        top: 1px;
        transform: rotate(45deg) translateZ(0);
        border-top: 2px solid;
        border-right: 2px solid;
        transform-origin: right top;
    }
    &::before {
        transition: margin-right 0.3s ease 0s;
    }
    &::after {
        transition: right 0.3s ease 0s;
    }
    @include media-breakpoint-up(desktop) {
        *:hover > & {
            &::before {
                margin-right: -5px;
            }
            &::after {
                right: -6px;
            }
        }
    }
}