.missing-page
    background-color: #f3f4f5
    display: flex
    justify-content: center
    &__rec
        width: 467px
        height: 573px
        background-color: #f3f4f5
        padding: 45px 90px
        position: relative
        z-index: 2
    &__wrap
        width: 1036px
        height: 890px
        display: flex
        justify-content: center
        position: relative
        padding: 70px 0 215px
        &:before
            content: ""
            width: 100%
            height: 100%
            max-width: 100%
            max-height: 100%
            position: absolute
            top: 0
            left: 0
            z-index: 1
            background:
                repeat: no-repeat
                image: url('../assets/images/bg-404.png')
    &__title
        font-size: 20px
        text-transform: uppercase
        font-weight: 300
        text-align: center
        margin-bottom: 30px
    &__pic
        margin-bottom: 10px
        text-align: center
    &__img
        max-width: 100%
    &__search
        margin-bottom: 47px
        position: relative
        &-input
            width: 100%
            border: none
            border-bottom: 1px solid #000000
            padding: 5px 33px 5px 0
            background-color: transparent
            color: #2e3237
            border-radius: 0
            box-shadow: none
            font:
                size: 18px
                weight: 400
        &-btn
            position: absolute
            top: 50%
            right: 7px
            padding: 0
            border: none
            transform: translateY(-50%)
            box-shadow: none
            background-color: transparent
            cursor: pointer
            @include hover
                .icon
                    fill: #000
            .icon
                font-size: 20px
                fill: #666
                transition: all .3s ease-in-out
    &__btn
        width: 100%
        background-color: #666
        color: #fff
        padding: 19px 0
        display: block
        text-align: center
        font-size: 17px
        line-height: 1
        transition: all 0.3s ease
        @include hover
            background-color: #333
    &__desc
        padding: 0 27px

@include media-breakpoint-down(tablet)
    .missing-page
        &__wrap
            height: auto
            &:before
                background: 
                    position: center
                    size: contain

@include media-breakpoint-down(mobile)
    .missing-page
        &__wrap
            padding: 0
            &:before
               display: none
        &__rec
            width: 100%
            padding: 20px