.missing-page
    .missing-page__wrap
        .missing-page__rec
            .missing-page__pic
                img.missing-page__img(src="assets/images/dali-404.png", alt="")
            .missing-page__desc
                .missing-page__title Картина не найдена
                form.missing-page__search(action="/search/")
                    input.missing-page__search-input(type="text", name="q", placeholder="Найти", required)
                    button.missing-page__search-btn(type="submit")
                        +svg('icon-search', '-w')
                a.missing-page__btn(href="index.html") На главную