.similar-pictures.js-similar-pictures
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-1.jpg",
                title: "Распоряжение о структуре тут длинное название картины",
                author: "Екатерина Александровна Преображенская",
                desc: "Картина, 80x60 см.",
                price: "927 750",
                oldprice: "727 750"
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-2.jpg",
                label: "Новинка",
                labelRed: true,
                title: "Абстракция, Опус J202",
                author: "Соколов Виталий",
                desc: "Картина, 80x60 см.",
                price: "927 750",
                oldprice: "727 750"
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-3.jpg",
                label: "Новинка",
                labelRed: true,
                title: "Распоряжение о структуре тут длинное название картины",
                author: "Екатерина Александровна Преображенская",
                desc: "Картина, 80x60 см.",
                price: "927 750",
                oldprice: "727 750"
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-4.jpg",
                title: "Распоряжение о структуре",
                author: "Говард Херш",
                desc: "Картина, 80x60 см.",
                price: "27 750",
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-5.jpg",
                title: "Абстракция, Опус J202",
                author: "Соколов Виталий",
                desc: "Картина, 80x60 см.",
                price: "27 750",
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-6.jpg",
                label: "Скидка 20%",
                labelGreen: true,
                title: "Распоряжение о структуре тут длинное название картины",
                author: "Екатерина Александровна Преображенская",
                desc: "Картина, 80х60 см.",
                price: "927 750",
                oldprice: "727 750"
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-7.jpg",
                label: "Скидка 20%",
                labelGreen: true,
                title: "Растущее действие",
                author: "Рамина Роуз",
                desc: "Картина, 80х60 см.",
                price: "27 750"
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-8.jpg",
                title: "Абстракция, Опус J202",
                author: "Соколов Виталий",
                desc: "Картина, 80x60 см.",
                price: "27 750",
            };
        include ../gallery-card/gallery-card.pug
    .similar-pictures__slide
        - 
            var card = {
                image: "example-work-9.jpg",
                title: "Абстракция, Опус J202",
                author: "Соколов Виталий",
                desc: "Картина, 80x60 см.",
                price: "27 750",
            };
        include ../gallery-card/gallery-card.pug