.similar-pictures {
    margin: 0 -22px 40px;
    overflow: hidden;
    @include media-breakpoint-down(tablet) {
        margin: 0 -20px 40px;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 -3px 33px;
    }
    .slick-slide {
        margin: 0 22px;
        @include media-breakpoint-down(tablet) {
            margin: 0 20px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 0 3px;
        }
    }
}