.l-orientation
    .l-orientation__option.l-orientation__option_quad
        input(type="checkbox" id="l-orient-1" name="l-orient")
        label(for="l-orient-1")
    .l-orientation__option.l-orientation__option_portrait
        input(type="checkbox" id="l-orient-2" name="l-orient")
        label(for="l-orient-2")
    .l-orientation__option.l-orientation__option_landscape
        input(type="checkbox" id="l-orient-3" name="l-orient")
        label(for="l-orient-3")