.l-orientation {
    margin: 0 -6px;
    user-select: none;
    &__option {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        margin: 0 6px;
        &_quad {
            width: 20px;
            height: 20px;
        }
        &_portrait {
            width: 20px;
            height: 31px;
        }
        &_landscape {
            width: 32px;
            height: 20px;
        }
        input {
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            left: -999px;
            top: -999px;
            border: none;
            margin: 0;
            padding: 0;
        }
        input + label {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #cccccc;
            cursor: pointer;
            @include hover {
                background-color: #999999;
            }
        }
        input:checked + label {
            background-color: #666666;
        }

    }
}