/**
 * Component: Section
 */
.section {
    position: relative;
    padding: 34px 0;
    @include media-breakpoint-down(tablet) {
        padding: 17px 0;
    }
    @include media-breakpoint-down(mobile) {
        padding: 17px 0;
    }
    &_light {
        background-color: rgba(255,255,255,0.4);
    }
    &_border {
        border-top: 1px solid #cccccc;
    }
    &_gray {
        background-color: #f3f4f5;
    }
    &_news {
        @include media-breakpoint-up(desktop) {
            margin-bottom: 45px;
        }
    }
    &_lk {
        padding: 0 !important;
    }

    &__buttons {
        margin-top: 20px;
        text-align: center;
        @include media-breakpoint-down(tablet) {
            margin-top: 25px;
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 10px;
            .btn {
                width: 300px;
                font-size: 17px;
            }
        }
    }
    &_cart {
        padding-top: 0;
        padding-bottom: 124px;
        @include media-breakpoint-down(tablet) {
            padding: 22px 0 80px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 10px 0 60px;
        }
    }
}