.author
	padding: 0 0 50px 0
	&__gallery
		background-color: #f3f4f5
	&__avatar
		position: absolute
		z-index: 3
		overflow: hidden
		bottom: -73px
		left: 45px
		width: 146px
		height: 146px
		border-radius: 50%
		background-color: #ccc
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		&-img
			width: 100%
			height: 100%
	&__picture
		position: relative
		height: 255px
		&-bg
			z-index: 2
			position: relative
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, .2)
		&-parallax
			z-index: 1
			overflow: hidden
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			&-img
				position: absolute
				width: 100%
				left: 50%
				transform: translate(-50%, 0)
	&__name
		position: relative
		margin-left: 210px
		margin-bottom: 45px
		padding: 25px 0 8px 0
		font:
			size: 36px
			weight: 100
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			bottom: -1px
			width: 40px
			height: 2px
			background-color: #000
	&__share
		display: flex
		flex-flow: row nowrap
		justify-content: flex-end
		align-items: center
		padding-top: 25px
		&-text
			padding-right: 15px
			color: #666
			font-size: 16px
			font-weight: 300
		&-inner
			display: flex
			flex-flow: row nowrap
			justify-content: center
			align-items: center
		&-wrap
			display: flex
			flex-flow: row nowrap
			justify-content: flex-start
			align-items: center
		&-social
			display: flex
			flex-flow: row wrap
			justify-content: flex-start
			align-items: center
			margin-right: 35px
		&-btn
			padding: 12px 35px
			color: #fff
			background-color: #099
			transition: all .3s ease-in-out
			font:
				size: 17px
				weight: 300
			@include hover
				background-color: darken($blue, 10)
		&-link
			flex-shrink: 0
			width: 45px
			height: 45px
			margin: 3px
			// margin-right: 5px
			border-radius: 50%
			border: 1px solid #666
			transition: all .3s ease-in-out
			@include hover
				background-color: #666
				.icon
					fill: #fff
			&-icon
				position: relative
				height: 100%
			.icon
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				fill: #666
				transition: all .3s ease-in-out
				font-size: 19px
	&__stats
		margin-left: 210px
		padding: 0 0 45px 0
		&-wrapper
			display: flex
			flex-flow: row nowrap
			justify-content: flex-start
			align-items: center
		&-first,
		&-last
			display: none
		&-cell
			margin: 0 55px
			text-align: center
			font-weight: 300
		&-val
			margin-bottom: 12px
			font-size: 31px
		&-desc
			font-size: 16px
	&__bio
		position: relative
		margin-left: 210px
		text-align: justify
		line-height: 27px
		&-more
			position: absolute
			bottom: 2px
			right: -7px
			display: inline-flex
			flex-flow: row nowrap
			justify-content: center
			align-items: center
			cursor: pointer
			line-height: 1.2em
			font-weight: 600
			color: #333
			transition: all .3s ease-in-out
			&-icon
				.arrow
					width: 22px
					color: #000
					transform: rotate(90deg)
					transition: all .3s ease-in-out
					&:before
						width: 22px
					&:after
						right: -1px
			@include hover
				color: #000
		&-shown
			&:after
				content: '...'
				padding-right: 120px
			&.is-opened
				&:after
					padding-right: 0
					content: ''
		&-hidden
			display: none

@include media-breakpoint-down(tablet)
	.author
		padding-bottom: 40px
		.container
			width: 100%
			margin: 0
		&__picture
			height: 175px
		&__share
			&-text
				font-size: 14px
			&-inner
				margin-right: 20px
				justify-content: flex-end
			&-social
				margin-right: 25px
			&-btn
				padding: 10px 27px
				font-size: 14px
			&-link
				width: 33px
				height: 33px
				&-icon
					.icon
						font-size: 17px
					.social-ok-w
						padding-left: 1px
		&__avatar
			width: 110px
			height: 110px
			left: 60px
			bottom: -55px
		&__name
			margin-left: 190px
			margin-bottom: 35px
			padding-top: 15px
			font-size: 30px
		&__stats
			margin-left: 190px
			&-wrapper
				max-width: 765px
				justify-content: space-between
			&-cell
				margin-left: 0
				margin-right: 50px
				flex-shrink: 0
				&:last-child
					// margin-right: 30px
					margin-right: 0
					padding-right: 30px
			&-val
				font-size: 30px
			&-container
				position: relative
			&-first,
			&-last
				position: absolute
				height: 100%
				width: 80px
			&-first
				left: 190px
				top: 0
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
			&-last
				right: 0
				top: 0
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%)
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%)
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%)
		&__bio
			max-width: 765px
			width: auto
			margin: 0 20px 40px 190px
			font-size: 14px
			line-height: 22px
			&-more
				left: 0
				bottom: -20px
				width: 100px
				&-text
					font-size: 14px
		&__share
			padding-right: 20px
		.ps__rail-x,
		.ps__rail-y
			display: none !important

@include media-breakpoint-down(mobile)
	.author
		// margin-top: -25px
		padding-bottom: 30px
		&__picture
			height: 90px
		&__share
			flex-flow: row wrap
			justify-content: space-between
			padding-left: 10px
			padding-right: 10px
			&-text
				margin-right: 0
				padding-right: 10px
				font-size: 12px
			&-inner
				justify-content: center
				margin: 0 auto
				padding: 20px 10px 0 10px
			&-wrap
				margin-bottom: 5px
			&-social
				margin-right: 0
				&-link
					width: 30px
					height: 30px
					&-icon
						.icon
							font-size: 16px
			&-btn
				// margin-left: auto
				margin-bottom: 5px
				padding: 7px 15px
				font-size: 12px
		&__avatar
			width: 66px
			height: 66px
			bottom: -33px
			left: 50%
			transform: translateX(-50%)
		&__name
			margin: 0 auto
			padding: 50px 10px 8px 10px
			font-size: 24px
			text-align: center
			&:after
				width: 30px
				height: 1px
				left: 50%
				transform: translateX(-50%)
		&__stats
			display: block
			overflow: hidden
			width: 100%
			margin: 0 auto
			padding: 0
			&-container
				position: relative
			&-first,
			&-last
				position: absolute
				height: 78px
				width: 80px
			&-first
				left: 0
				top: 0
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
			&-last
				right: 0
				top: 0
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%)
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%)
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%)
			&-wrapper
				display: block
				text-align: center
				padding: 15px 0px
				white-space: nowrap
			&-cell
				display: inline-block
				margin-right: 10px
				padding: 0 10px
				&:last-child
					// margin-right: 10px
			&-val
				font-size: 18px
			&-desc
				font-size: 12px
		&__bio
			margin: 0 auto
			width: 100%
			padding: 15px 10px
			font-size: 12px
			line-height: 18px
			&-more
				left: 10px
				bottom: -5px
				width: 85px
				margin-top: 5px
				&-text
					font-size: 12px
				&-icon
					.arrow
						transform: rotate(90deg) scale(.8)
		.ps__rail-x,
		.ps__rail-y
			display: none !important