.section.author
	.container
		.author__picture
			.author__picture-bg
			.author__picture-parallax
				img.author__picture-parallax-img(src="assets/images/inhtml/picture-bg.jpg", alt="picture", data-parallax-img, data-speed="0.2")
			.author__avatar(style="background-image: url(assets/images/inhtml/avatar-photo.jpg)")
		.author__name Диана Миллер
		.author__stats-container
			.author__stats-first
			.author__stats
				//- .author__stats-wrapper
				//- 	.author__stats-cell
				//- 		.author__stats-val 1 378
				//- 		.author__stats-desc Просмотров
				//- 	.author__stats-cell
				//- 		.author__stats-val 127
				//- 		.author__stats-desc Картин
				//- 	.author__stats-cell
				//- 		.author__stats-val Берлин
				//- 		.author__stats-desc Город
				//- 	.author__stats-cell
				//- 		.author__stats-val Поп-арт
				//- 		.author__stats-desc Стиль
				.author__stats-wrapper
					.author__stats-cell
						.author__stats-val 1 378
						.author__stats-desc Просмотров
					.author__stats-cell
						.author__stats-val 127
						.author__stats-desc Картин
					.author__stats-cell
						.author__stats-val Берлин
						.author__stats-desc Город
					.author__stats-cell
						.author__stats-val Абстракционизм
						.author__stats-desc Стиль
			.author__stats-last
		.author__bio
			span.author__bio-shown
				|Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolore at quae reiciendis sit facilis vero aut eveniet autem cupiditate recusandae porro perferendis autem cupiditate recusandae porro perferendis
			span.author__bio-hidden
				|  quasi earum, at libero, aperiam minima vero deserunt sapiente facere dolorem illo soluta quibusdam delectus adipisci accusamus hic eum veniam saepe ea a? Eveniet, nemo. Blanditiis, debitis necessitatibus iure eos, autem, voluptas quia quisquam excepturi dolores sint et! Excepturi voluptate natus blanditiis nemo fugiat. Praesentium architecto consectetur tempora, labore rem soluta minima aperiam minus nulla, totam illum cumque, voluptas culpa nam. Asperiores, accusamus eum similique placeat reprehenderit omnis laborum, pariatur enim, optio alias inventore veritatis labore. Eum accusamus deserunt quas nulla fugiat nam quaerat voluptas doloremque repellendus officiis quia, nobis consectetur tenetur facere deleniti optio repellat. Quia, adipisci!
			.author__bio-more
				.author__bio-more-text Подробнее
				.author__bio-more-icon
					.arrow
		.author__share
			.author__share-wrap
				.author__share-text Поделиться
				.author__share-social
					a.author__share-link(href="#")
						.author__share-link-icon
							+svg('social-vk', '-w')
					a.author__share-link(href="#")
						.author__share-link-icon
							+svg('social-fb', '-w')
					a.author__share-link(href="#")
						.author__share-link-icon
							+svg('social-ok', '-w')
			a.author__share-btn(href="#") Подписаться