/**
 * Component: Section Head
 */
.section-head {
    position: relative;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 43px;
    @include media-breakpoint-down(tablet) {
        margin-bottom: 39px;
    }
    @include media-breakpoint-down(mobile) {
        margin-bottom: 32px;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: auto;
        height: 1px;
        background-color: #000;
        width: 40px;
    }
    &__inner {
        position: relative;
    }
    &__title {
        display: block;
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.025em;
        font-weight: 300;
        padding: 18px 0;
        @include media-breakpoint-down(tablet) {
            font-size: 30px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 22px;
            font-weight: 400;
            padding: 0 0;
        }
    }
}
.section-tools {
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    margin: auto;
    padding-top: inherit;
    width: 100%;
    @include media-breakpoint-down(mobile) {
        position: static;
        height: auto;
        margin: -13px 0 21px;
        padding-top: 0;
    }
    &_static {
        position: static;
        height: auto;
        margin-bottom: 22px;
        @include media-breakpoint-down(tablet) {
            margin: -17px 0 0;
            padding: 13px 0;
        }
        @include media-breakpoint-down(mobile) {
            padding: 11px 0;
        }
        .l-select {
            @include media-breakpoint-down(tablet) {
                margin: 0 !important;
            }
        }
    }
    &_static &__inner {
        @include media-breakpoint-down(tablet) {
            padding: 0;
            text-align: right;
        }
    }

    &__inner {
        text-align: right;
        padding: 9px 0;
        >* {
            text-align: left;
        }
        @include media-breakpoint-down(mobile) {
            padding: 0;
            text-align: center;
        }
    }
    
    .slick-arrow {
        display: inline-block;
        width: 56px;
        height: 56px;
        background-color: #ffffff;
        border-radius: 50%;
        position: relative;
        border: none;
        box-shadow: none;
        fill: #000;
        margin-left: 5px;
        cursor: pointer;
        transition: fill 0.3s ease 0s,
                    background-color 0.3s ease 0s;
        @include hover {
            fill: #fff;
            background-color: #4a4f52;
        }
        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 18px;
            width: 10px;
            transform-origin: center center;
        }
    }
    .slick-next {
        .icon {
            transform: rotate(0deg);
        }
    }
    .slick-prev {
        .icon {
            transform: rotate(180deg);
        }
    }

    &_inner-page &__inner{
        position: relative;
    }
    &_inner-page {
        @include media-breakpoint-down(mobile) {
            position: absolute;
            top: 18px;
            left: 0;
            right: 0;
            margin: 0;
        }

        .slick-arrow {
            @include media-breakpoint-down(mobile) {
                position: absolute;
                top: 0;
                background-color: transparent !important;
                padding: 0;
                width: 40px;
                height: 40px;
                margin: 0;
                @include hover {
                    fill: #009999;
                }
            }
        }
        .slick-prev {
            @include media-breakpoint-down(mobile) {
                left: -15px;
            }
        }
        .slick-next {
            @include media-breakpoint-down(mobile) {
                right: -15px;
            }
        }
    }
    &_tablet_static {
        @include media-breakpoint-down(tablet) {
            position: static;
            height: auto;
            padding: 0;
            margin: -39px 0 15px;
        }
        @include media-breakpoint-down(mobile) {
            margin: -32px 0 10px;
            padding: 10px 0;
        }
    }
}