.pagination
	.pagination__prev
		.arrow
		//- +svg('arrow_smart', '-w')
	ul.pagination__list
		li.pagination__list-item
			a.pagination__list-item-link.pagination__list-item-link--current(href="#") 1
		li.pagination__list-item
			a.pagination__list-item-link(href="#") 2
		li.pagination__list-item
			a.pagination__list-item-link(href="#") 3
		li.pagination__list-item
			a.pagination__list-item-link(href="#") 4
		li.pagination__list-item.hidden-mobile-down
			a.pagination__list-item-link(href="#") 5
		li.pagination__list-item.hidden-mobile-down
			a.pagination__list-item-link(href="#") 6
		li.pagination__list-item.hidden-mobile-down
			a.pagination__list-item-link(href="#") 7
		li.pagination__list-item ...
		li.pagination__list-item
			a.pagination__list-item-link(href="#") 27
	.pagination__next
		.arrow
		//- +svg('arrow_smart', '-w')