.pagination
	display: flex
	flex-flow: row norap
	justify-content: center
	align-items: center
	margin-bottom: 45px
	padding-top: 20px
	&__list
		display: flex
		flex-flow: row norap
		justify-content: center
		align-items: center
		&-item
			padding: 0 18px
			font-size: 19px
			&-link
				transition: all .3s ease-in-out
				&--current
					pointer-events: none
					color: #099
				@include hover
					color: #099
	&__prev,
	&__next
		display: flex
		justify-content: center
		align-items: center
		height: 20px
		cursor: pointer
		.arrow
			transition: all .3s ease-in-out
		@include hover
			.arrow
				color: #099
	&__prev
		transform: rotate(180deg)
		margin-right: 18px
	&__next
		margin-left: 18px

@include media-breakpoint-down(tablet)
	.pagination
		margin-bottom: 35px
		padding-top: 0
		&__list
			&-item
				font-size: 16px
		&__prev,
		&__next
			.arrow
				width: 28px

@include media-breakpoint-down(mobile)
	.pagination
		&__list
			&-item
				padding: 0 10px
		&__prev,
		&__next
			.icon
				font-size: 23px
		&__prev
			margin-right: 5px
		&__next
			margin-left: 5px

.pagination_lk
	padding: 20px 0
	margin: 32px 0 15px
	@include media-breakpoint-down(tablet)
		padding: 15px 0
		margin: 20px 0 0
	@include media-breakpoint-down(mobile)
		padding: 10px 0
		margin: 15px 0 0