div.news-list
{
    word-wrap: break-word;
}
div.news-list img.preview_picture
{
    float:left;
    margin:0 4px 6px 0;
}
.news-date-time {
    color:#486DAA;
}

.note-video.without-video:after{
    content: none;
}

.section-head__button {
    margin: 0;
    background-color: #009999;
    display: inline-block;
}

.section-head__button .btn {
    color: #fff;
    border: 0;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: .025em;
}

@media (max-width: 767px) {
    .section-head__button {
        margin-top: 0!important;
        margin-bottom: 10px;
    }
    .section-head__button .btn {
        font-size: 22px!important;
        font-weight: 400;
        padding: 0;
    }
}
