.note
    .note__preview(style="background-image:url('assets/images/img.jpg')")
    .note__content
        img.note__img(src="assets/images/inhtml/example-photo-2.jpg", alt="")
        a.note__category(href="#")
            span Выбор эксперта
        a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
        span.note__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos, consequatur voluptas necessitatibus odio quam quibusdam qui enim dolorum? Facere sequi minus harum delectus tempore reiciendis esse ipsa necessitatibus doloribus.
        a.note__more(href="#") Смотреть и читать
            .arrow