/**
 * Component: Note
 */
.note {
    display: flex;
    &__preview {
        background-size: 0px 0px;
        background-repeat: no-repeat;
        width: 150px;
        margin-right: 30px;
        flex-shrink: 0;
        &::before {
            content:'';
            display: block;
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-image: inherit;
        }
    }
    &__content {
        flex: 1;
        position: relative;
    }
    &__date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 14px;
        line-height: 30px;
        color: #666666;
        pointer-events: none;
    }
    &__img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 18px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 10px;
        }
    }
    &__category {
        position: relative;
        display: block;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.05em;
        font-weight: 600;
        margin-bottom: 20px;
        transition: color 0.3s ease 0s;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 8px;
            font-size: 12px;
        }
        span {
            position: relative;
            display: inline-block;
            padding-bottom: 15px;
            @include media-breakpoint-down(tablet) {
                padding-bottom: 6px;
            }
            &::after {
                content: '';
                bottom: -1px;
                left: 0;
                position: absolute;
                display: block;
                height: 1px;
                width: 40px;
                background-color: #000000;
                transition: all 0.3s ease 0s;
            }
        }
        @include hover {
            color: #009999;
            span::after {
                background-color: #009999;
                width: 100%;
            }
        }
    }
    &__title {
        display: block;
        font-size: 19px;
        line-height: 29px;
        letter-spacing: 0.025em;
        font-weight: 600;
        margin-bottom: 15px;
        transition: color 0.2s ease 0s;
        @include media-breakpoint-down(tablet) {
            font-size: 15px;
            line-height: 21px;
        }
        @include hover {
            color: #009999;
            text-decoration: underline;
        }
    }
    &__desc {
        display: block;
        font-size: 17px;
        line-height: 24px;
        color: #2e3237;
        margin-bottom: 18px;
    }
    &__more {
        display: inline-block;
        color: #333333;
        font-size: 16px;
        line-height: 34px;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        @include hover {
            color: #009999;
        }
    }

    &_news {
        @include media-breakpoint-down(mobile) {
            display: block;
        }
        .note {
            &__preview {
                @include media-breakpoint-down(tablet) {
                    width: 150px / 768px * 100vw;
                }
                @include media-breakpoint-down(mobile) {
                    width: 100%;
                    margin: 0 0 14px;
                    &::before {
                        padding-top: 207px / 298px * 100%;
                        background-position: center top;
                    }
                }
            }
            &__category {
                @include media-breakpoint-down(tablet) {
                    font-size: 14px;
                    margin-bottom: 23px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 12px;
                    margin-bottom: 13px;
                }
                span {
                    @include media-breakpoint-down(tablet) {
                        padding-bottom: 12px;
                    }
                }
            }
            &__date {
                @include media-breakpoint-down(tablet) {
                    font-size: 13px;
                    line-height: 18px;
                }
                @include media-breakpoint-down(mobile) {
                    display: block;
                    position: static;
                    font-size: 13px;
                    margin-bottom: 5px;
                }
            }
            &__title {
                @include media-breakpoint-down(tablet) {
                    font-size: 19px;
                    line-height: 29px;
                    margin-bottom: 16px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 15px;
                    line-height: 21px;
                    margin-bottom: 9px;
                }
            }
            &__desc {
                @include media-breakpoint-down(tablet) {
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 16px;
                }
            }
            &__more {
                @include media-breakpoint-down(tablet) {
                    font-size: 16px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 16px;
                    line-height: 34px;
                }
            }
        }
    }
}