/*доработки для эксперта*/

/*рейтинг звездочками*/
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
	background: url('images/star.png') no-repeat;
	
  }
  
  #reviewStars-input {
	
	/*fix floating problems*/
	overflow: hidden;
	*zoom: 1;
	/*end of fix floating problems*/
	
	position: relative;
	float: left;
  }
  
  #reviewStars-input input {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	
	width: 43px;
	height: 40px;
	
	position: absolute;
	top: 0;
	z-index: 0;
  }
  
  #reviewStars-input input:checked ~ label {
	background-position: 0 -40px;
	
	height: 40px;
	width: 43px;
  }
  
  #reviewStars-input label {
	background-position: 0 0;
	height: 40px;
	width: 43px;
	float: right;
	cursor: pointer;
	margin-right: 10px;
	
	position: relative;
	z-index: 1;
  }
  
  #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
	background-position: 0 -40px;
	
	height: 40px;
	width: 43px;
  }
  
  #reviewStars-input #star-0 {
	left: 0px;
  }
  #reviewStars-input #star-1 {
	left: 53px;
  }
  #reviewStars-input #star-2 {
	left: 106px;
  }
  #reviewStars-input #star-3 {
	left: 159px;
  }
  #reviewStars-input #star-4 {
	left: 212px;
  }
  #reviewStars-input #star-5 {
	left: 265px;
    }
    
.block_no_click{
    pointer-events: none;
}

.rating_expert_title{
    margin-bottom: 10px;
}
.picture__title.inlbl{
	display: inline;
}
.picture__title.inlbl.ml__title{
	margin-right: 7px;
}
.picture__content__header{
	margin-bottom: 30px;
}

.picture__carousel_above {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 30%;
	height: auto; 
}

.picture__carousel-slide {
	overflow: hidden;
}

.picture__carousel-slide::before {
	z-index: 10;
}

.fancybox-image {
	background: #fff!important;
}

.picture__carousel_above img {
	width: 100%;
}