.l-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    &__inner {
        position: relative;
        padding: 15px 30px 15px 0;
        color: #2e3237;
        font-size: 16px;
        line-height: normal;
        @include media-breakpoint-down(tablet) {
            font-size: 15px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 14px;
        }
        a {
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s ease 0s;
            @include hover {
                color: #009999;
            }
        }
        &::after {
            content: '';
            display: block;
            height: 0;
            clear: both;
        }
    }
    &__item {
        background-color: #c0e9e9;
    }
    &__item + &__item {
        border-top: 1px solid #fff;
    }
    &__close {
        position: absolute;
        font-size: 20px;
        fill: #2e3237;
        top: 15px;
        right: 0;
        transition: fill 0.3s ease 0s;
        cursor: pointer;
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
        }
        @include hover {
            fill: #990000;
        }

        &_btn {
            position: static;
            float: right;
            margin-right: -30px;
            margin-left: 15px;
            @include media-breakpoint-down(mobile) {
                margin-bottom: 10px;
            }
            .btn {
                line-height: 30px;
                padding: 0 15px;
                font-size: 16px;
                @include media-breakpoint-down(tablet) {
                    font-size: 15px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 14px;
                }
            }
        }
    }
}