/**
 * Fonts
 */

/* Fonts: Proxima Nova */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Thin.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Thin.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Thin.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Thin.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Light.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Light.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Light.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Light.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Regular.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Regular.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Regular.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-RegularItalic.otf') format('opentype');;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Bold.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Bold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Bold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-ExtraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Black.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Black.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Black.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Black.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.eot');
    src: url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova/ProximaNova-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Fonts: Proxima Nova Condensed */
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-RegularItalic.otf') format('opentype');;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-ExtraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.eot');
    src: url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Condensed/ProximaNovaCond-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Fonts: Proxima Nova Extra Condensed */
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-RegularItalic.otf') format('opentype');;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-ExtraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.eot');
    src: url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/Proxima Nova Extra Condensed/ProximaNovaExCn-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Fonts: PT Sans */
@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/PT Sans/PTSans-Regular.eot');
    src: url('../assets/fonts/PT Sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/PT Sans/PTSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/PT Sans/PTSans-Regular.woff') format('woff'),
        url('../assets/fonts/PT Sans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/PT Sans/PTSans-RegularItalic.eot');
    src: url('../assets/fonts/PT Sans/PTSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/PT Sans/PTSans-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/PT Sans/PTSans-RegularItalic.woff') format('woff'),
        url('../assets/fonts/PT Sans/PTSans-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/PT Sans/PTSans-Bold.eot');
    src: url('../assets/fonts/PT Sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/PT Sans/PTSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/PT Sans/PTSans-Bold.woff') format('woff'),
        url('../assets/fonts/PT Sans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/PT Sans/PTSans-BoldItalic.eot');
    src: url('../assets/fonts/PT Sans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/PT Sans/PTSans-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/PT Sans/PTSans-BoldItalic.woff') format('woff'),
        url('../assets/fonts/PT Sans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}