/**
 * Global
 */
 
*,
*::after,
*::before {
    outline: none !important;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    touch-action: manipulation;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.025em;
    font-family: 'Proxima Nova', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    background-color: #f3f4f5;
}
input, select, textarea, button {
    font-family: 'Proxima Nova', sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}
body {
    
}

svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}

.svg-sprite {
    display: none !important;
    position: absolute;
    left: -9999px;
    right: -9999px;
    visibility: hidden;
    opacity: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(mobile) {
        padding-top: 55px;
    }
    &_inner {
        padding-top: 80px;
        background-color: #ffffff;
        @include media-breakpoint-down(mobile) {
            padding-top: 55px;
        }
    }
}

.container {
    width: 1240px;
    margin: 0 auto;
    max-width: 100%;
    @include media-breakpoint-down(tablet) {
        width: auto;
        margin: 0 20px;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 10px;
    }
}

.rubl {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 0.9em;
    font-style: normal;
}

.fancybox-container {
    z-index: 1200;
}
