.label {
	position: relative;
	// display: block;
	display: flex;
    flex-flow: column;
    flex-shrink: 0;
	margin-bottom: 10px;
	cursor: pointer;
	&-inline {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.error:last-child {
		color: $red;
		font-size: 14px;
	}
}
.input {
	width: 100%;
	border-radius: 0;
	background-color: #fff;
	box-shadow: none;
	&-text {
		padding: 10px 15px;
		border: 1px solid #ccc;
		font-family: 'Proxima Nova', sans-serif;
		font-size: 17px;
		&-short {
			width: 210px;
		}
		&.error {
			border-color: $red;
			& ~ .popup__label {
				color: $red;
			}
		}
	}
	&-checkbox {
		opacity: 0;
		margin: 0;
		visibility: hidden;
		width: 0;
		height: 0;
		&:checked ~ .input-checkbox-block .icon-check-w {
			display: block;
		}
		&-block {
			position: relative;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			border: 2px solid $blue;
			.icon-check-w {
				display: none;
				position: absolute;
				max-width: none;
				top: -1px;
				right: -4px;
				fill: $blue;
				font-size: 14px;
			}
			& ~ .error {
				position: absolute;
				left: 0;
				bottom: -20px;
			}
		}
	}
}

@include media-breakpoint-down(tablet) {
	.label {
		.error:last-child {
			font-size: 12px;
		}
	}
	.input {
		&-text {
			padding: 7px 10px;
			font-size: 14px;
			&-short {
				width: 140px;
			}
		}
		&-checkbox {
			&-text {
				padding-top: 1px;
				font-size: 11px;
			}
		}
	}
}

@include media-breakpoint-down(mobile) {
	.input {
		&-checkbox {
			&-text {
				padding-top: 2px;
			}
		}
	}
}