/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.arrow_size_down {
	width:(17.245/17.246)*1em;
	height:1em;
}
.arrow_size_down-h {
	width:(17.245/17.246)*1em;
	height:1em;
}
.arrow_size_down-w {
	width:1em;
	height:(17.246/17.245)*1em;
}
.arrow_smart {
	width:(46.681/12.954)*1em;
	height:1em;
}
.arrow_smart-h {
	width:(46.681/12.954)*1em;
	height:1em;
}
.arrow_smart-w {
	width:1em;
	height:(12.954/46.681)*1em;
}
.arrow_wide {
	width:(10/22)*1em;
	height:1em;
}
.arrow_wide-h {
	width:(10/22)*1em;
	height:1em;
}
.arrow_wide-w {
	width:1em;
	height:(22/10)*1em;
}
.check_smooth {
	width:(795.583/610.046)*1em;
	height:1em;
}
.check_smooth-h {
	width:(795.583/610.046)*1em;
	height:1em;
}
.check_smooth-w {
	width:1em;
	height:(610.046/795.583)*1em;
}
.icon-arrow {
	width:(3.53/24)*1em;
	height:1em;
}
.icon-arrow-h {
	width:(3.53/24)*1em;
	height:1em;
}
.icon-arrow-w {
	width:1em;
	height:(24/3.53)*1em;
}
.icon-cart {
	width:(17.1/21.3)*1em;
	height:1em;
}
.icon-cart-h {
	width:(17.1/21.3)*1em;
	height:1em;
}
.icon-cart-w {
	width:1em;
	height:(21.3/17.1)*1em;
}
.icon-check {
	width:(14/11)*1em;
	height:1em;
}
.icon-check-h {
	width:(14/11)*1em;
	height:1em;
}
.icon-check-w {
	width:1em;
	height:(11/14)*1em;
}
.icon-close {
	width:(8.8/8.8)*1em;
	height:1em;
}
.icon-close-h {
	width:(8.8/8.8)*1em;
	height:1em;
}
.icon-close-w {
	width:1em;
	height:(8.8/8.8)*1em;
}
.icon-dots {
	width:(16/4)*1em;
	height:1em;
}
.icon-dots-h {
	width:(16/4)*1em;
	height:1em;
}
.icon-dots-w {
	width:1em;
	height:(4/16)*1em;
}
.icon-download {
	width:(26.696/27.838)*1em;
	height:1em;
}
.icon-download-h {
	width:(26.696/27.838)*1em;
	height:1em;
}
.icon-download-w {
	width:1em;
	height:(27.838/26.696)*1em;
}
.icon-edit {
	width:(512/512)*1em;
	height:1em;
}
.icon-edit-h {
	width:(512/512)*1em;
	height:1em;
}
.icon-edit-w {
	width:1em;
	height:(512/512)*1em;
}
.icon-eye-close {
	width:(512/394.59)*1em;
	height:1em;
}
.icon-eye-close-h {
	width:(512/394.59)*1em;
	height:1em;
}
.icon-eye-close-w {
	width:1em;
	height:(394.59/512)*1em;
}
.icon-favorite {
	width:(21.6/19.1)*1em;
	height:1em;
}
.icon-favorite-h {
	width:(21.6/19.1)*1em;
	height:1em;
}
.icon-favorite-w {
	width:1em;
	height:(19.1/21.6)*1em;
}
.icon-file {
	width:(438.533/438.533)*1em;
	height:1em;
}
.icon-file-h {
	width:(438.533/438.533)*1em;
	height:1em;
}
.icon-file-w {
	width:1em;
	height:(438.533/438.533)*1em;
}
.icon-filter {
	width:(24/7.41)*1em;
	height:1em;
}
.icon-filter-h {
	width:(24/7.41)*1em;
	height:1em;
}
.icon-filter-w {
	width:1em;
	height:(7.41/24)*1em;
}
.icon-like {
	width:(100/94.99)*1em;
	height:1em;
}
.icon-like-h {
	width:(100/94.99)*1em;
	height:1em;
}
.icon-like-w {
	width:1em;
	height:(94.99/100)*1em;
}
.icon-logout {
	width:(24.33/18.11)*1em;
	height:1em;
}
.icon-logout-h {
	width:(24.33/18.11)*1em;
	height:1em;
}
.icon-logout-w {
	width:1em;
	height:(18.11/24.33)*1em;
}
.icon-mail {
	width:(28.679/21.979)*1em;
	height:1em;
}
.icon-mail-h {
	width:(28.679/21.979)*1em;
	height:1em;
}
.icon-mail-w {
	width:1em;
	height:(21.979/28.679)*1em;
}
.icon-map {
	width:(512/512)*1em;
	height:1em;
}
.icon-map-h {
	width:(512/512)*1em;
	height:1em;
}
.icon-map-w {
	width:1em;
	height:(512/512)*1em;
}
.icon-phone {
	width:(21.979/28.679)*1em;
	height:1em;
}
.icon-phone-h {
	width:(21.979/28.679)*1em;
	height:1em;
}
.icon-phone-w {
	width:1em;
	height:(28.679/21.979)*1em;
}
.icon-play {
	width:(5.64/6.71)*1em;
	height:1em;
}
.icon-play-h {
	width:(5.64/6.71)*1em;
	height:1em;
}
.icon-play-w {
	width:1em;
	height:(6.71/5.64)*1em;
}
.icon-plus {
	width:(9.17/9.17)*1em;
	height:1em;
}
.icon-plus-h {
	width:(9.17/9.17)*1em;
	height:1em;
}
.icon-plus-w {
	width:1em;
	height:(9.17/9.17)*1em;
}
.icon-reset {
	width:(24.717/27.502)*1em;
	height:1em;
}
.icon-reset-h {
	width:(24.717/27.502)*1em;
	height:1em;
}
.icon-reset-w {
	width:1em;
	height:(27.502/24.717)*1em;
}
.icon-search {
	width:(25.937/25.938)*1em;
	height:1em;
}
.icon-search-h {
	width:(25.937/25.938)*1em;
	height:1em;
}
.icon-search-w {
	width:1em;
	height:(25.938/25.937)*1em;
}
.icon-upload {
	width:(486.3/486.3)*1em;
	height:1em;
}
.icon-upload-h {
	width:(486.3/486.3)*1em;
	height:1em;
}
.icon-upload-w {
	width:1em;
	height:(486.3/486.3)*1em;
}
.icon-user {
	width:(27.496/28.385)*1em;
	height:1em;
}
.icon-user-h {
	width:(27.496/28.385)*1em;
	height:1em;
}
.icon-user-w {
	width:1em;
	height:(28.385/27.496)*1em;
}
.icon-zoom {
	width:(29.26/30.26)*1em;
	height:1em;
}
.icon-zoom-h {
	width:(29.26/30.26)*1em;
	height:1em;
}
.icon-zoom-w {
	width:1em;
	height:(30.26/29.26)*1em;
}
.mail-filled {
	width:(550.795/550.795)*1em;
	height:1em;
}
.mail-filled-h {
	width:(550.795/550.795)*1em;
	height:1em;
}
.mail-filled-w {
	width:1em;
	height:(550.795/550.795)*1em;
}
.social-fb {
	width:(96.124/96.123)*1em;
	height:1em;
}
.social-fb-h {
	width:(96.124/96.123)*1em;
	height:1em;
}
.social-fb-w {
	width:1em;
	height:(96.123/96.124)*1em;
}
.social-google {
	width:(512/512)*1em;
	height:1em;
}
.social-google-h {
	width:(512/512)*1em;
	height:1em;
}
.social-google-w {
	width:1em;
	height:(512/512)*1em;
}
.social-ins {
	width:(26/26)*1em;
	height:1em;
}
.social-ins-h {
	width:(26/26)*1em;
	height:1em;
}
.social-ins-w {
	width:1em;
	height:(26/26)*1em;
}
.social-ok {
	width:(95.481/95.481)*1em;
	height:1em;
}
.social-ok-h {
	width:(95.481/95.481)*1em;
	height:1em;
}
.social-ok-w {
	width:1em;
	height:(95.481/95.481)*1em;
}
.social-twitter {
	width:(612/612)*1em;
	height:1em;
}
.social-twitter-h {
	width:(612/612)*1em;
	height:1em;
}
.social-twitter-w {
	width:1em;
	height:(612/612)*1em;
}
.social-vk {
	width:(511.96/511.96)*1em;
	height:1em;
}
.social-vk-h {
	width:(511.96/511.96)*1em;
	height:1em;
}
.social-vk-w {
	width:1em;
	height:(511.96/511.96)*1em;
}
