.search
	background-color: #9febeb
	padding: 40px 0 45px 0
	&-tab
		display: none
		background-color: #f3f4f5
		&--visible
			display: block
	&__heading
		margin-bottom: 20px
		text-align: center
		font:
			size: 36px
			weight: 900
	&__form
		position: relative
		width: 900px
		margin: 0 auto 20px auto
	&__input
		width: 100%
		padding: 22px 60px 22px 22px
		border: none
		border-radius: 0
		box-shadow: none
		font:
			size: 22px
			weight: 100
	&__btn
		position: absolute
		top: 50%
		right: 20px
		padding: 0
		border: none
		transform: translateY(-50%)
		box-shadow: none
		background-color: transparent
		cursor: pointer
		@include hover
			.icon
				fill: #000
		.icon
			font-size: 30px
			fill: #666
			transition: all .3s ease-in-out
	&__switch
		display: flex
		flex-flow: row nowrap
		justify-content: center
		align-items: center
		&-btn
			width: 220px
			margin: 0 23px
			padding: 20px 10px
			background-color: #daf7f7
			text-align: center
			transition: all .3s ease-in-out
			font-size: 18px
			&--current
				background-color: #333
				color: #fff
				cursor: default
				pointer-events: none
				@include hover
					background-color: #333 !important
			@include hover
				background-color: lighten(#333, 10)
				color: #fff
	&__result
		&-text
			color: #099

@include media-breakpoint-down(tablet)
	.search
		padding: 30px 0 40px 0
		&__heading
			width: 680px
			margin-left: auto
			margin-right: auto
			font-size: 30px
		&__form
			width: 730px
		&__input
			padding: 18px 50px 18px 18px
		&__btn
			.icon
				font-size: 24px
		&__switch
			&-btn
				padding: 17px 10px
				font-size: 17px

@include media-breakpoint-down(mobile)
	.search
		padding: 30px 0
		&__heading
			max-width: 380px
			width: 100%
			font-size: 18px
		&__form
			width: 100%
		&__input
			padding: 5px 30px 5px 10px
			font-size: 18px
		&__btn
			right: 10px
			.icon
				font-size: 16px
		&__switch
			flex-flow: column nowrap
			&-btn
				width: 100%
				margin: 0 0 10px 0
				padding: 12px