.section.search
	.container
		.search__heading Результаты поиска по запросу
			br
			span.search__heading-query &laquo;Природа так обо всем позаботилась, что повсюду ты находишь, чему учиться. Леонардо да Винчи&raquo;
		form.search__form(action="")
			input.search__input(type="text", name="query", placeholder="Поиск...", required)
			button.search__btn(type="submit")
				+svg('icon-search', '-w')
		.search__switch
			a.search__switch-btn.search__switch-btn--current(href="#", data-tab="pictures") Картины 
				|(
				span.search__switch-btn-value 25
				|)
			a.search__switch-btn(href="#", data-tab="articles") Статьи 
				|(
				span.search__switch-btn-value 12
				|)