.page-header {
    &__inner {
        position: relative;
        width: 100%;
        height: 255px;
        padding: 30px 67px;
        overflow: hidden;
        @include media-breakpoint-down(tablet) {
            height: 158px;
            padding: 0 40px;
            margin: 0 -20px;
            width: auto;
        }
        
        @include media-breakpoint-down(mobile) {
            height: 66px;
            margin: 0 -10px;
            padding: 0 15px;
        }
    }
    &__img {
        display: block;
        height: auto;
        width: 100%;
        // z-index: -1;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
    }
    &__content {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__title {
        position: relative;
        font-size: 36px;
        line-height: 42px;
        font-weight: 300;
        display: inline-block;
        padding: 8px 0;
        @include media-breakpoint-down(mobile) {
            font-size: 24px;
            line-height: normal;
            font-weight: bold;
            padding: 0 0;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 1px;
            border-top: 1px solid;
            @include media-breakpoint-down(mobile) {
                height: 2px;
            }
        }
    }
}