.page-header
    .container
        .page-header__inner
            .page-header__img(data-parallax="scroll" data-image-src="assets/images/inhtml/catalog-bg.jpg")
            span.page-header__title Каталог картин