.l-options__item.disabled label, .l-orientation__option.disabled label, .l-options__item label[disabled], .l-orientation__option label[disabled]{
	opacity: 0.5;
	pointer-events: none;
   cursor: default;
}

#modef{
	display: none !important;
}