.article-item
	width: calc(33% - 36px)
	margin: 0 18px 90px 18px
	&__img
		display: block
		height: 270px
		margin-bottom: 30px
		background:
			size: cover
			position: center
			repeat: no-repeat
	&__category
		position: relative
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
		margin-bottom: 20px
		padding-bottom: 15px
		border-bottom: 1px solid #ccc
		text-transform: uppercase
		color: #2e3237
		line-height: 14px
		cursor: pointer
		transition: all .3s ease-in-out
		font:
			size: 14px
			weight: 600
		@include hover
			color: #099
			.article-item__category-date
				color: #797979
		&:after
			display: block
			position: absolute
			content: ''
			width: 40px
			height: 1px
			left: 0
			bottom: -1px
			background-color: #000
		&-date
			font-size: 13px
			color: #797979
	&__heading
		margin-bottom: 35px
		transition: all .3s ease-in-out
		font:
			size: 19px
			weight: 600
		@include hover
			color: #099

@include media-breakpoint-down(tablet)
	.article-item
		width: calc(50% - 40px)
		margin: 0 20px 60px 20px
		&__img
			height: 230px
			margin-bottom: 25px
		&__category
			margin-bottom: 15px
			padding-bottom: 10px
		&__heading
			margin-bottom: 15px
			font-size: 16px

@include media-breakpoint-down(mobile)
	.article-item
		width: 100%
		margin: 0 0 25px 0
		&__img
			height: 200px
			margin-bottom: 20px
		&__category
			padding-bottom: 5px
			font-size: 12px
		&__heading
			margin-bottom: 15px
			font-size: 14px
		&__text
			line-height: 20px
			font-size: 12px