.article-item
	a.article-item__img(href="#", style="background-image: url(assets/images/inhtml/" + item.image + ")")
	.article-item__category= item.category
		span.article-item__category-date 10.09.18
	h3.article-item__heading
		a(href="#")= item.heading
	.article-item__text= item.text