/**
 * Component: News
 */
 .section_news {
	 margin-bottom: 45px;
	 @include media-breakpoint-down(tablet) {
		 margin-bottom: 0;
	 }
 }
.news {
    margin: 0 -22px 30px;
    .slick-slide {
        margin: 0 22px;
    }
    &__slide {
        // margin: 0 22px;
        @include media-breakpoint-down(tablet) {
            padding-left: 20px;
        }
        @include media-breakpoint-down(mobile) {
            padding-left: 0;
        }
    }
}