.news.js-news
    .news__slide
        .note.note_news
            .note__preview(style="background-image:url('assets/images/inhtml/example-news-1.jpg')")
            .note__content
                a.note__category(href="#")
                    span Галереи и выставки
                span.note__date 21.12.2018
                a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
                span.note__desc Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                a.note__more(href="#") Смотреть и читать
                    .arrow
    .news__slide
        .note.note_news
            .note__preview(style="background-image:url('assets/images/inhtml/example-news-2.jpg')")
            .note__content
                a.note__category(href="#")
                    span Коллекционирование
                span.note__date 21.12.2018
                a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
                span.note__desc Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                a.note__more(href="#") Смотреть и читать
                    .arrow
    .news__slide
        .note.note_news
            .note__preview(style="background-image:url('assets/images/inhtml/example-news-1.jpg')")
            .note__content
                a.note__category(href="#")
                    span Галереи и выставки
                span.note__date 21.12.2018
                a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
                span.note__desc Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                a.note__more(href="#") Смотреть и читать
                    .arrow
    .news__slide
        .note.note_news
            .note__preview(style="background-image:url('assets/images/inhtml/example-news-2.jpg')")
            .note__content
                a.note__category(href="#")
                    span Коллекционирование
                span.note__date 21.12.2018
                a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
                span.note__desc Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                a.note__more(href="#") Смотреть и читать
                    .arrow