.gallery-card
    a.gallery-card__img(href="#")
        img(src="assets/images/inhtml/"+card.image, alt="")
    .gallery-card__content
        .gallery-card__block
            .gallery-card__labels
                if card.labelRed
                    span.gallery-card__label.gallery-card__label_red= card.label
                else if card.labelGreen
                    span.gallery-card__label.gallery-card__label_green= card.label
                else
                    span.gallery-card__label= card.label
            a.gallery-card__title(href="#") !{card.title}
            if card.author !== ''
                a.gallery-card__author(href="#") !{card.author}
            span.gallery-card__desc= card.desc
        .gallery-card__block
            .gallery-card__tools
                .gallery-card__tools-block
                    span.gallery-card__price #{card.price} <span class="rubl">₽</span>
                    if card.oldprice
                        span.gallery-card__oldprice= card.oldprice
                .gallery-card__tools-block
                    a.gallery-card__tools-item.js-gallery-card-tool(href="#")
                        +svg('icon-favorite')
                    a.gallery-card__tools-item.js-gallery-card-tool(href="#")
                        +svg('icon-cart')