/**
 * Component: Gallery Card
 */
.gallery-card {
    width: 100%;
    border: 1px solid #ededed;
    color: #2e3237;
    font-size: 15px;
    line-height: 18px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.15);
    @include media-breakpoint-down(tablet) {
        font-size: 14px;
        line-height: 18px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 13px;
        line-height: 16px;
    }
    @include hover {
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    }
    &__img {
        width: 100%;
        overflow: hidden;
        display: block;
        img {
            display: block;
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: transform 2s linear 0s;
        }
        @include hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    &__content {
        position: relative;
        background-color: #fff;
    }
    &__block {
        border-top: 1px solid #ededed;
        padding: 12px 15px 10px;
        @include media-breakpoint-down(tablet) {
            padding: 10px 12px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 10px 8px;
            &:last-child {
                padding: 0;
                border-top: none;
            }
        }
    }
    &__labels {
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        padding-left: inherit;
        padding-right: inherit;
        margin: 0 -10px;
        @include media-breakpoint-down(tablet) {
            top: -11px;
        }
    }
    &__label {
        display: inline-block;
        vertical-align: top;
        line-height: 18px;
        background-color: #ccc;
        border-radius: 2px;
        padding: 0 12px;
        color: #ffffff;
        font-size: 13px;
        margin: 0 10px;
        @include media-breakpoint-down(tablet) {
            font-size: 11px;
            padding: 0 10px;
            line-height: 16px;
        }
        &_red {
            background-color: #990000;
        }
        &_green {
            background-color: #65b040;
        }
    }
    &__title {
        display: block;
        color: #2e3237;
        font-weight: 600;
        margin-bottom: 5px;
        transition: color 0.3s ease 0s;
        @include hover {
            color: #009999;
        }
    }
    &__author {
        display: block;
        margin-bottom: 5px;
    }
    &__desc {
        display: block;
        font-size: 14px;
        color: #666666;
    }
    &__tools {
        display: flex;
        justify-content: space-between;
        line-height: 22px;
        font-size: 22px;
        @include media-breakpoint-down(tablet) {
            font-size: 21px;
            line-height: 21px;
        }
        @include media-breakpoint-down(mobile) {
            display: block;

        }
        &-block {
            @include media-breakpoint-down(mobile)  {
                border-top: 1px solid #ededed;
                padding: 8px 16px;
                &:nth-child(1) {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                }
                &:nth-child(2) {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &-item {
            display: inline-block;
            vertical-align: middle;
            margin-left: 24px;
            stroke: #000000;
            fill: transparent;
            stroke-width: 1.5px;
            transition: stroke 0.3s ease 0s,
                        fill 0.3s ease 0s;
            @include media-breakpoint-down(tablet) {
                margin-left: 15px;
            }
            @include media-breakpoint-down(mobile) {
                margin: 0;
            }
            .icon {
                display: block;
            }
            .icon-favorite {
                width: 1.2em;
            }

            @include hover {
                stroke: #009999;
            }
            &.is-active {
                fill: #009999;
                stroke: #009999;
            }
        }
    }
    &__price {
        font-size: 18px;
        display: inline-block;
        @include media-breakpoint-down(tablet) {
            font-size: 16px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
        }
        .rubl {
            font-weight: bold;
        }
    }
    &__oldprice {
        font-size: 14px;
        color: #666666;
        text-decoration: line-through;
        margin-left: 11px;
        display: inline-block;
        @include media-breakpoint-down(tablet) {
            font-size: 12px;
            margin-left: 8px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 2px 0 0;
            font-size: 12px;
            line-height: 11px;
        }
    }
}