.location__link.js-link
    .location__wrap.js-popup-location 
        +svg('icon-map')
        span.location__text Москва
    .location__city.city.js-city
        .city__content Ваш город: Москва
        .city__close.js-city-close
        .city__btn-wrap
            .city__btn.js-location-close-select Да
            .city__btn.js-location-open-select Нет
