
.location{
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    @include media-breakpoint-down(mobile) {
        position: absolute;
    }
    &__link{
        line-height: 40px;
        padding-right: 28px;
        position: relative;
    }
    &__wrap{
        line-height: normal;
        cursor: pointer;
        .icon-map{
            fill: #fff;
            margin-right: 3px;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
        }
    }
    &__text{
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(100% + 19px);
            border-bottom: 1px dotted #fff;
            left: -16px;
        }
    }
    &__city{
        display: none;
        background-color: #fff;
        padding: 20px 18px;
        border: 1px solid #cdcccb;
        position: absolute;
        z-index: 3;
        &.is-active{
            display: block;
        }
        @include media-breakpoint-down(mobile) {
            position: fixed;
            top: 54px;
            right: 5px;
            z-index: 1200;
        }
    }
    &_mobile{
        display: none;
        @include media-breakpoint-down(mobile) {
            display: block;
            margin-left: 0;
            position: relative;
        }
        .location__wrap{
            display: block;
            .icon-map{
                fill: #000;
            }
            .location__text{
                &::after{
                    display: none;
                }
            }
            .location__link{
                line-height: normal;
            }
        }
    }
}
.city{
    &__content{
        font-size: 14px;
        color: #000;
        white-space: nowrap;
        line-height: normal;
        margin-bottom: 14px;
    }
    &__close{
        position: absolute;
        width: 12px;
        height: 12px;
        top: 9px;
        right: 9px;
        cursor: pointer;
        &::before, &::after {
            position: absolute;
            left: 0;
            bottom: 5px;
            content: ' ';
            height: 2px;
            width: 100%;
            background-color: #8b8b8b;
            transition: background-color 0.3s ease 0s;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        @include hover {
            &::after, &::before{
                background-color: #000;
            }
        }
    }
    &__btn-wrap{
        display: flex;
        justify-content: space-between;
        margin: 0 -8px;
    }
    &__btn{
        cursor: pointer;
        color: #fff;
        background-color: #666666;
        text-align: center;
        line-height: 37px;
        width: 94px;
        margin: 0 8px;
        transition: background-color 0.3s ease 0s;
        @include hover {
            background-color: #333333;
        }
    }
}
.wrapper_inner{
    .location__wrap{
        .icon-map{
            fill: #000;
        }
        .location__text{
            &::after{
                border-color: #000;
            }
        }
    }
}
