.articles
	.articles__item
		.articles__img
		.articles__content
			a.articles__heading(href="#") Новый рекорд для Франса Хальса установила пара портретов
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
	.articles__item
		.articles__img
		.articles__content
			a.articles__heading(href="#") Арестован подозреваемый в краже <span class="articles__search">пейзажа Ренуара из Dorotheum</span>
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
	.articles__item
		.articles__img(style="background-image: url('assets/images/inhtml/articles-1.jpg')")
		.articles__content
			a.articles__heading(href="#") Рафаэль и Тициан на подиуме: бренд Dolce & Gabbana представил платья с шедеврами Возрождения
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
	.articles__item
		.articles__img
		.articles__content
			a.articles__heading(href="#") Новый рекорд для Франса Хальса установила пара портретов
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
	.articles__item
		.articles__img(style="background-image: url('assets/images/inhtml/articles-2.jpg')")
		.articles__content
			a.articles__heading(href="#") Арестован подозреваемый в краже <span class="articles__search">пейзажа Ренуара из Dorotheum</span>
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить
	.articles__item
		.articles__img
		.articles__content
			a.articles__heading(href="#") Рафаэль и Тициан на подиуме: бренд Dolce & Gabbana представил платья с шедеврами Возрождения
			.articles__date 17.09.18
			.articles__text Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянное <span class="articles__search">информационно-пропагандистское</span> обеспечение нашей деятельности позволяет оценить