.articles
	width: 1075px
	margin: 0 auto
	&__item
		display: flex
		flex-flow: row nowrap
		justify-content: flex-start
		align-items: flex-start
		&:first-child
			.articles__content
				border-top: none
		&:last-child
			.articles__content
				border-bottom: none
	&__img
		flex-shrink: 0
		width: 145px
		height: 145px
		margin-top: 37px
		margin-right: 25px
		background:
			size: cover
			position: center
			repeat: no-repeat
	&__content
		padding: 30px 0
		border-top: 1px solid #b4b4b4
		border-bottom: 1px solid #b4b4b4
	&__heading
		display: block
		margin-bottom: 20px
		transition: all .3s ease-in-out
		text-decoration-skip-ink: none
		font:
			size: 22px
			weight: 600
		@include hover
			color: #099
			text-decoration: underline
	&__date
		margin-bottom: 20px
		color: #666
		font-size: 14px
	&__text
		font-size: 19px
	&__search
		color: #099
		font-weight: 700

@include media-breakpoint-down(tablet)
	.articles
		max-width: 800px
		width: 100%
		margin-bottom: 20px
		&__img
			width: 120px
			height: 120px
			margin-top: 25px
			margin-right: 20px
		&__content
			padding: 20px 0
		&__heading
			margin-bottom: 15px
			font-size: 20px
		&__date
			margin-bottom: 15px
		&__text
			font-size: 16px

@include media-breakpoint-down(mobile)
	.articles
		max-width: none
		&__img
			display: none
		&__content
			padding: 15px 0
		&__heading
			margin-bottom: 10px
			font-size: 18px
		&__date
			font-size: 12px
			margin-bottom: 10px
		&__text
			font-size: 14px