/**
 * Element: Button
 */
.btn {
    display: inline-block;
    text-decoration: none;
    min-width: 220px;
    line-height: 52px;
    border: 1px solid #999999;
    font-size: 17px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
    color: #000000;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    font-family: inherit;
    @include media-breakpoint-down(mobile) {
        min-width: 170px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 13px;
    }
    @include hover {
        color: #ffffff;
        border-color: #191b1f;
        background-color: #191b1f;
    }

    &_alpha {
        border: 1px solid rgba(255,255,255,0.8);
        color: #ffffff;
        background-color: rgba(0,0,0,0.56);
        @include hover {
            border-color: #1b1d21;
            background-color: #1b1d21;
        }
    }
    &_icon {
        position: relative;
        border-color: #e4e4e4;
        background-color: transparent;
        min-width: 200px;
        padding: 0 40px 0 15px;
        line-height: 38px;
        font-size: 14px;
        height: 40px;
        background-color: #ffffff;
        .icon {
            fill: #000;
            font-size: 21px;
            position: absolute;
            right: 13px;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: fill 0.3s ease 0s;
        }
        @include hover {
            .icon {
                fill: #fff;
            }
        }
    }
    &_arrow {
        &::after {
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            border-top: 3px solid;
            border-right: 3px solid;
            width: 10px;
            height: 10px;
            transform: rotate(135deg);
            margin-top: 5px;
            transform-origin: top right;
            margin-right: 5px;
            translate: all 0.3s ease 0s;
        }
        &.is-active {
            &::after {
                margin-top: -5px;
                transform: rotate(-45deg);
            }
        }
    }
    &_green {
        border: none;
        background-color: #009999;
        color: #ffffff;
    }
    &_form {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        width: 100%;
        @include media-breakpoint-down(tablet) {
            line-height: 32px;
            font-size: 12px;
            font-weight: 600;
            min-width: 0;
            padding: 0 10px;
        }
        @include media-breakpoint-down(mobile) {
            line-height: 40px;
            padding: 0 15px;
            
        }
        &--top-margin {
            margin-top: 10px;
        }
    }
    &_dark {
        background-color: #333333;
        color: #ffffff;
        border-color: #333;
    }
    &_small {
        line-height: 38px;
        padding: 0 20px;
        min-width: 0;
    }
    &_sms {
        display: block;
        width: 100%;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
        }
        @include media-breakpoint-down(mobile) {
            display: inline-block;
            width: auto;
            min-width: 180px;
        }
    }
    &_green_border {
        padding: 15px;
        background-color: #009999;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 5px solid #009999;
        box-shadow: 0 0 0 1px #9cd7d7 inset;
        transition: all .3s ease-in-out;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0 10px;
        @include media-breakpoint-down(tablet) {
            min-width: 180px;
            margin-top: 10px;
        }
        @include media-breakpoint-down(mobile) {
            min-width: 0;
            width: calc(50vw - 13px);
            margin: 0;
            font-size: 14px;
            padding: 8px 15px;
        }
        @include hover {
            background-color: #26a9a9;
            border: 5px solid #63c1c1;
        }
    }
    &_green_outline {
        border-color: #009999;
        font-weight: 600;
        padding: 0 45px;
        @include media-breakpoint-down(tablet) {
            line-height: 38px;
        }
        @include media-breakpoint-down(mobile) {
            width: 100%;
            display: block;
        }
    }
    &_plus {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 55px;
        min-width: 290px;
        @include media-breakpoint-down(tablet) {
            min-width: 230px;
            font-size: 12px;
        }
        &::before {
            content: '+';
            font-family: Arial;
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 25px;
            display: inline-block;
            font-weight: normal;
            @include media-breakpoint-down(tablet) {
                left: 16px;
            }
        }
    }
}