.changepass_error{
    color:red;
    font-size:14px;
    margin-bottom:20px;
    margin-top: 5px;
}
.changepass_success{
    margin-top: 5px;
    color:green;
    font-size:14px;
    margin-bottom:20px;
}