/**
 * Component: Guide
 */
.guide {
    margin: 0 -30px 36px;
    @include media-breakpoint-down(tablet) {
        margin: 0 -15px 30px;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 0 -15px;
    }
    &__row {
        display: flex;
        justify-content: flex-start;
        @include media-breakpoint-down(mobile) {
            display: block;
        }
    }
    &__item {
        margin: 0 30px;
        width: 400px;
        @include media-breakpoint-down(tablet) {
            margin: 0 15px;
            width: 240px / 768px * 100vw;
        }
        &_big {
            width: 780px;
            @include media-breakpoint-down(tablet) {
                width: 460px / 768px * 100vw;
            }
        }
        @include media-breakpoint-down(mobile) {
            width: 100% !important;
            margin: 0 0 36px;
        }
    }
}