.guide
    .guide__row
        .guide__item.guide__item_big
            a.note-video.js-note-video(style="background-image:url('assets/images/inhtml/example-photo-1.jpg')" data-fancybox href="https://www.youtube.com/watch?v=ScMzIvxBSi4")
                span.note-video__title Видеообзор нашего ресурса возможности для пользователя
        .guide__item
            .note
                .note__content
                    a(href="#")
                        img.note__img(src="assets/images/inhtml/example-photo-2.jpg", alt="")
                    a.note__category(href="#") 
                        span Выбор эксперта
                    a.note__title(href="#") Обзор нашего эксперта Элеоноры Рубинштейн-Загорской