.picture.js-picture
    .picture__content
        span.picture__title Распоряжени о структуре очень длинное название
        .picture__row.picture__row_justify.hidden-mobile-down
            div
                span.picture__code Арт. HWV-165123
            div
                a.link.link_icon(href="#")
                    +svg('icon-favorite')
                    | В&nbsp;избранное
        .picture__row
            a.picture__author(href="#") Диана Миллерелло
    .picture__aside
        .picture__carousels
            .picture__carousel.picture__carousel_main.js-picture-carousel-main
                div
                    .picture__carousel-slide.js-picture-carousel-slide
                        img(src="assets/images/inhtml/example-picture-1.jpg", alt="")
                div
                    .picture__carousel-slide.js-picture-carousel-slide
                        img(src="assets/images/inhtml/blog-item-1.jpg", alt="")
                div
                    .picture__carousel-slide.js-picture-carousel-slide
                        img(src="assets/images/inhtml/blog-item-2.jpg", alt="")
            .picture__carousel.picture__carousel_aside.js-picture-carousel-aside
                div
                    .picture__carousel-slide.js-picture-carousel-slide(style="background-image:url(assets/images/inhtml/example-picture-1.jpg)")
                div
                    .picture__carousel-slide.js-picture-carousel-slide(style="background-image:url(assets/images/inhtml/blog-item-1.jpg)")
                div
                    .picture__carousel-slide.js-picture-carousel-slide(style="background-image:url(assets/images/inhtml/blog-item-2.jpg)")
            .picture__zoom.js-picture-zoom
                +svg('icon-zoom')
        .picture__tools.hidden-mobile-down
            .picture__tools-row
                a.link.link_icon(href="#")
                    +svg('icon-like')
                    | Понравилось (875)
                a.link.link_icon(href="#")
                    +svg('icon-download')
                    | Цифровая копия
            .picture__tools-row
                a.link.link_icon(href="#")
                    +svg('icon-eye-close')
                    | Больше не показывать картину
    .picture__content
        .picture__row.picture__row_justify.hidden-tablet-up
            div
                span.picture__code Арт. HWV-165123
        .picture__brief
            span.picture__brief-item Размер картины: 
                span 100 x 120 x 4 см
            span.picture__brief-item Стиль: 
                a(href="#") Пейзаж
        .picture__row.picture__row_justify
            div.fs0
                .picture__price
                    span 927 750 <span class="rubl">₽</span>
                    span 727 750
            div
                a.picture__btn(href="#") <span class="hidden-tablet-down">Добавить </span>в корзину
        .picture__tools.hidden-tablet-up
            a.link.link_icon(href="#")
                +svg('icon-like')
                | Понравилось
            a.link.link_icon(href="#")
                +svg('icon-favorite')
                | В&nbsp;избранное
            a.link.link_icon(href="#")
                +svg('icon-eye-close')
                | Не показывать
            a.link.link_icon(href="#")
                +svg('icon-download')
                | Скачать копию
        .picture__row.picture__row_end
            .social
                a.social__link(href="#")
                    +svg('social-vk')
                a.social__link(href="#")
                    +svg('social-fb')
                a.social__link(href="#")
                    +svg('social-ok')
                a.social__link(href="#")
                    +svg('mail-filled')
        .picture__accordeon
            span.picture__accordeon-head.js-picture-accordeon-head Параметры картины
            .picture__accordeon-main.js-picture-accordeon-main
                table.picture__options
                    tr
                        td Год написания
                        td 2008
                    tr
                        td Тема
                        td Океан, Берег, Пляж
                    tr
                        td Стиль
                        td Современный Пейзаж
                    tr
                        td Материалы
                        td Уголь, Чернила, Пастель
            span.picture__accordeon-head.js-picture-accordeon-head Описание картины
            .picture__accordeon-main.js-picture-accordeon-main
                p Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum
        