.picture {
    position: relative;
    min-height: 700px;
    margin-bottom: 13px;
    @include media-breakpoint-down(tablet) {
        min-height: 500px;
    }
    @include media-breakpoint-down(mobile) {
        min-height: 0;
        margin-bottom: -17px;
    }

    &::after {
        content: '';
        height: 0;
        clear: both;
        display: block;
    }
    &__content {
        display: block;
        // margin-left: 690px;
        width: calc(100% - 690px);
        float: right;
        @include media-breakpoint-down(tablet) {
            // margin-left: 390px;
            width: calc(100% - 390px);
        }
        @include media-breakpoint-down(mobile) {
            width: auto;
            margin-left: 0;
            float: none;
        }
    }
    &__aside {
        width: 640px;
        // position: absolute;
        // left: 0;
        // top: 0;
        float: left;
        @include media-breakpoint-down(tablet) {
            width: 360px;
        }
        @include media-breakpoint-down(mobile) {
            width: 100%;
            position: relative;
            float: none;
        }
    }
    &__carousels {
        display: block;
        position: relative;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 16px;
        }
    }
    &__zoom {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        font-size: 30px;
        fill: #fff;
        transition: fill 0.2s ease 0s;
        @include media-breakpoint-down(tablet) {
            top: 10px;
            right: 10px;
        }
        @include hover {
            fill: #000;
        }
    }
    &__carousel {
        position: relative;
        display: block;
        &_main {
            width: 550px;
            margin-left: 90px;
            @include media-breakpoint-down(tablet) {
                width: 310px;
                margin-left: 50px;
            }
            @include media-breakpoint-down(mobile) {
                width: 100%;
                margin-left: 0;
            }
        }
        &_aside {
            width: 80px;
            position: absolute;
            left: 0;
            top: 0;
            @include media-breakpoint-down(tablet) {
                width: 40px;
            }
            @include media-breakpoint-down(mobile) {
                position: relative;
                width: calc(100% + 0px);
                margin: 15px 0px 0;
            }
            .slick-slide {
                margin-bottom: 10px;
                cursor: pointer;
                @include media-breakpoint-down(mobile) {
                    margin: 0 8px 0;
                }
                &.slick-current {
                    
                }
            }
            .slick-current .picture__carousel-slide {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 1px solid #000;
                    @include media-breakpoint-up(tablet) {
                        right: 1px;
                    }
                }
            }
        }

        &-slide {
            position: relative;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &_main &-slide {
            // height: 550px;
            width: 550px;
            @include media-breakpoint-down(tablet) {
                width: 310px;
                // height: 310px;
            }
            @include media-breakpoint-down(mobile) {
                width: 100%;
                height: auto;
                // &::after {
                //     content: '';
                //     display: block;
                //     padding-top: 100%;
                // }
            }
        }
        &_main > * {
            &:nth-child(n+2) {
                opacity: 0;
            }
        }
        &_main.slick-initialized > * {
            opacity: 1 !important;
        }
        &_aside &-slide {
            width: 80px;
            height: 80px;
            @include media-breakpoint-down(tablet) {
                width: 40px;
                height: 40px;
            }
            @include media-breakpoint-down(mobile) {
                width: 45px !important;
                // height: 45px !important;
                height: auto;
                min-width: 100%;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: 100%;
                }
            }
        }
        .slick-arrow {
            font-size: 0;
            line-height: 1px;
            background: transparent;
            border: none;
            box-shadow: none;
            fill: #fff;
            position: absolute;
            bottom: 40px;
            right: 32px;
            width: 36px;
            height: 12px;
            cursor: pointer;
            padding: 0;
            margin: 0;
            z-index: 1;
            transition: fill 0.2s ease 0s;
            @include media-breakpoint-down(tablet) {
                right: 20px;
                bottom: 20px;
            }
            @include media-breakpoint-down(mobile) {
                display: none !important;
            }
            @include hover {
                fill: #000;
            }
            .icon {
                width: 100%;
                height: 100%;
            }
        }
        .slick-prev {
            margin-right: 30px;
            transform: translate(-100%, 0) scale(-1,1);
            @include media-breakpoint-down(tablet) {
                transform: scale(-1,1);
                margin-right: 0;
                right: auto;
                left: 20px;
            }
        }
    }


    &__row {
        display: flex;
        margin-bottom: 12px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 12px;
        }
        &_justify {
            justify-content: space-between;
        }
        &_end {
            justify-content: flex-end;
        }
    }
    &__title {
        display: block;
        font-size: 30px;
        line-height: 32px;
        color: #2e3237;
        margin-bottom: 20px;
        @include media-breakpoint-down(tablet) {
            font-size: 24px;
            line-height: 27px;
            margin-bottom: 10px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 12px;
        }
    }
    &__code {
        font-size: 15px;
        color: #999999;
        letter-spacing: 0.05em;
        @include media-breakpoint-down(tablet) {
            
        }
        @include media-breakpoint-down(mobile) {
            
        }
    }

    .link {
        font-size: 15px;
        color: #2e3237;
        line-height: 20px;
        fill: #2e3237;
        display: inline-block;
        @include media-breakpoint-down(tablet) {
            display: inline-flex;
            max-width: 70%;
        }
        @include media-breakpoint-down(mobile) {
            // display: block;
            border: 1px solid #ccc;
            padding: 5px 10px;
            font-size: 13px;
            line-height: 18px;
            margin: 3px;
            width: calc(50% - 6px);
        }
        .icon {
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            flex-shrink: 0;
            @include media-breakpoint-down(mobile) {
                font-size: 18px;
                margin-right: 6px;
            }
        }
        @include hover {
            color: #009999;
            fill: #009999;
        }

        .icon-favorite {
            stroke: #2e3237;
            fill: none;
        }
        &.is-active .icon-favorite {
            fill: #009999;
            stroke: #009999;
        }
        @include hover {
            .icon-favorite {
                stroke: #009999;
            }
        }

        @include media-breakpoint-up(desktop) {
            .icon-like {
                margin-top: -5px;
            }
            .icon-eye-close {
                margin-top: -3px;
            }
            .icon-download {
                margin-top: -3px;
            }
        }
        @include media-breakpoint-down(mobile) {
            .icon-eye-close {
                margin-left: -3px;
            }
        }


    }
    
    &__author {
        display: inline-block;
        text-decoration: underline;
        font-size: 17px;
        color: #333333;
        @include media-breakpoint-down(mobile) {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 16px;
            margin-bottom: 10px;
        }
        @include hover {
            color: #009999;
        }
    }
    &__brief {
        margin-bottom: 12px;
        &-item {
            display: inline-block;
            color: #666666;
            margin-right: 32px;
            @include media-breakpoint-down(tablet) {
                display: block;
                margin-right: 0;
                margin-bottom: 8px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 15px;
                margin-bottom: 6px;
            }
            >* {
                color: #333333;
            }
            a {
                text-decoration: underline;
                @include hover {
                    color: #009999;
                }
            }
        }
    }
    &__price {
        flex-shrink: 0;
        display: block;
        margin-top: 34px;
        margin-right: 20px;
        @include media-breakpoint-down(tablet) {
            margin-top: 24px;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 0;
        }
        &>span:first-child {
            display: block;
            font-size: 30px;
            color: #2e3237;
            line-height: 24px;
            @include media-breakpoint-down(mobile) {
                font-size: 24px;
                line-height: 24px;
            }
        }
        &>span:nth-child(2) {
            display: block;
            font-size: 19px;
            line-height: 24px;
            color: #666666;
            text-decoration: line-through;
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .rubl {
            font-weight: normal;
        }
    }
    &__btn {
        display: block;
        width: 100%;
        min-width: 380px;
        padding: 15px;
        background-color: #009999;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 5px solid #009999;
        box-shadow: 0 0 0 1px #9cd7d7 inset;
        transition: all .3s ease-in-out;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0 10px;
        @include media-breakpoint-down(tablet) {
            min-width: 180px;
            margin-top: 10px;
        }
        @include media-breakpoint-down(mobile) {
            min-width: 0;
            width: calc(50vw - 13px);
            margin: 0;
            font-size: 14px;
            padding: 8px 15px;
        }
        @include hover {
            background-color: #26a9a9;
            border: 5px solid #63c1c1;
        }
    }

    .social {
        margin: 0 -4px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-down(mobile) {
            width: calc(100% + 20px);
            text-align: center;
            margin: 0 -10px 3px;
        }
        &__link {
            width: 40px;
            height: 40px;
            margin: 0 4px;
            border-color: #666;
            fill: #666;
            @include media-breakpoint-down(mobile) {
                margin: 0 10px;
            }
            @include hover {
                background-color: #666666;
                fill: #fff;
            }
        }
    }
    &__accordeon {
        border-bottom: 1px solid #c2c2c2;
        @include media-breakpoint-down(mobile) {
            margin: 0 -10px;
            border-bottom: none;
        }
        &-head {
            display: block;
            font-size: 18px;
            position: relative;
            color: #333333;
            padding: 12px 0;
            padding-right: 40px;
            border-top: 1px solid #c2c2c2;
            cursor: pointer;
            @include media-breakpoint-down(mobile) {
                padding-left: 25px;
                padding-right: 40px;
            }
            &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                border-top: 2px solid;
                border-right: 2px solid;
                width: 6px;
                height: 6px;
                transform-origin: top right;
                margin-right: 3px;
                translate: all 0.3s ease 0s;
                transform: rotate(135deg);
                margin-top: 3px;
                @include media-breakpoint-down(mobile) {
                    right: 25px;
                }
            }
            &.is-active {
                &::after {
                    margin-top: -3px;
                    transform: rotate(-45deg);
                }
            }
        }
        &-main {
            display: none;
            font-size: 16px;
            line-height: 27px;
            padding: 0 12px 15px;
            @include media-breakpoint-down(tablet) {
                font-size: 15px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 0 25px 15px;
                font-size: 14px;
            }
        }
    }
    &__options {
        margin: 0 -12px;
        width: calc(100% + 24px);
        font-size: 15px;
        color: #2e3237;
        @include media-breakpoint-down(mobile) {
            margin: 0 -25px;
            width: calc(100% + 50px);
            font-size: 14px;
        }
        tr:nth-child(odd) {
            background-color: #f7f7f7;
        }
        td {
            padding: 3.5px 12px;
            @include media-breakpoint-down(tablet) {
                padding: 4px 10px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 0px 5px;
            }
            &:first-child {
                width: 180px;
                @include media-breakpoint-down(tablet) {
                    width: 150px;
                }
                @include media-breakpoint-down(mobile) {
                    width: auto;
                    padding-left: 25px;
                }
            }
            &:last-child {
                @include media-breakpoint-down(tablet) {
                    padding-right: 0;
                }
                @include media-breakpoint-down(mobile) {
                    padding-right: 10px;
                }
            }
        }
    }
    &__tools {
        margin-left: 90px;
        @include media-breakpoint-down(tablet) {
            margin-left: 50px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 19px -3px 14px;
            display: flex;
            flex-wrap: wrap;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            @include media-breakpoint-down(mobile) {
                margin: 0;
            }
        }
    }

}

.fs0 {
    flex-shrink: 0;
}