.l-options__item.disabled label, .l-orientation__option.disabled label, .l-options__item label[disabled], .l-orientation__option label[disabled]{
	opacity: 0.5;
	pointer-events: none;
   cursor: default;
}

#modef{
	display: none !important;
}

.up-button__filter {
	display: none;
	position: fixed;
    bottom: 11%;
    right: calc(5vw) !important;
    z-index: 1090;
}

.up-button__filter .slick-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    fill: #fff;
    background-color: #4a4f52;
    border: 1px solid #4a4f52;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
    transition: fill 0.3s ease 0s, background-color 0.3s ease 0s;
}

.up-button__filter .slick-arrow .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 18px;
    width: 10px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.up-button__filter .slick-arrow:hover {
    fill: #4a4f52;
    background-color: #fff;
}

.filter__tabs_hr {
    height: 2px;
    display: inline-block;
    margin-top: 18px;
    background-color: #ccc;
    width: 100%;
}

.filter__tabs-main-sub-item {
    display: block;
    padding: 20px 0;
    background-color: #f6f6f6;
    padding-bottom: 0;
    margin-bottom: 0;
}

.filter__sub-tabs.disabled {
    display: none;
}

.filter__tabs-main-sub-item label.checked {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}