.similar-articles__inner.js-similar-articles
	.similar-articles__item
		a.similar-articles__item-img(href="#", style="background-image: url(assets/images/inhtml/article-item-1.jpg)")
		.similar-articles__item-category Выставки
			span.similar-articles__item-category-date 10.09.18
		h3.similar-articles__item-heading
			a(href="#") Рекорд для картин Маковского установлен на русских торгах в Лондоне
		.similar-articles__item-text «Игру в жмурки» продали за 4,3 миллиона фунтов стерлингов при ожидаемых 3 миллионах. Еще одна рекордная отметка аукциона — наивысшая сумма для картин грузинского примитивиста Нико Пиросмани. Работа «Грузинка в лечаки» некогда принадлежала писателю Стефану Цвейгу.
		a.similar-articles__item-link(href="#") Читать статью
			.arrow
	.similar-articles__item
		a.similar-articles__item-img(href="#", style="background-image: url(assets/images/inhtml/article-item-2.jpg)")
		.similar-articles__item-category Экспертам
			span.similar-articles__item-category-date 10.09.18
		h3.similar-articles__item-heading
			a(href="#") Шотландский пейзаж на гравюре Питера Брейгеля Старшего обнаружили учёные
		.similar-articles__item-text Эксперты надеялись, что портрет «Голова Арлекина» — это шедевр Пабло Пикассо, украденный из музея Кюнстхал в Роттердаме шесть лет назад.
		a.similar-articles__item-link(href="#") Читать статью
			.arrow
	.similar-articles__item
		a.similar-articles__item-img(href="#", style="background-image: url(assets/images/inhtml/article-item-3.jpg)")
		.similar-articles__item-category Новости музеев и галерей
			span.similar-articles__item-category-date 10.09.18
		h3.similar-articles__item-heading
			a(href="#") Дюрер нарисовал знаменитые «Руки молящегося» для рекламы, утверждает эксперт
		.similar-articles__item-text Таким образом Рон Инглиш протестует против перемещения и продажи произведений стрит-арта. Впрочем, «обновлённую» работу он снова собирается перепродать — и уже дороже.
		a.similar-articles__item-link(href="#") Читать статью
			.arrow
	.similar-articles__item
		a.similar-articles__item-img(href="#", style="background-image: url(assets/images/inhtml/article-item-4.jpg)")
		.similar-articles__item-category Выставки
			span.similar-articles__item-category-date 10.09.18
		h3.similar-articles__item-heading
			a(href="#") Шотландский пейзаж на гравюре Питера Брейгеля Старшего обнаружили учёные
		.similar-articles__item-text Эксперты надеялись, что портрет «Голова Арлекина» — это шедевр Пабло Пикассо, украденный из музея Кюнстхал в Роттердаме шесть лет назад.
		a.similar-articles__item-link(href="#") Читать статью
			.arrow