.similar-articles
	background-color: #f8f8f9
	&__inner
		width: calc(100% + 30px)
		margin-left: -15px
		margin-bottom: 50px
		.slick-slide
			margin: 0 15px
	&__item
		&-img
			display: block
			height: 270px
			margin-bottom: 30px
			background:
				size: cover
				position: center
				repeat: no-repeat
		&-category
			position: relative
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			align-items: center
			margin-bottom: 20px
			padding-bottom: 15px
			border-bottom: 1px solid #ccc
			text-transform: uppercase
			color: #2e3237
			line-height: 14px
			cursor: pointer
			transition: all .3s ease-in-out
			font:
				size: 14px
				weight: 600
			@include hover
				color: #099
				.article-item__category-date
					color: #797979
			&:after
				display: block
				position: absolute
				content: ''
				width: 40px
				height: 1px
				left: 0
				bottom: -1px
				background-color: #000
			&-date
				font-size: 13px
				color: #797979
		&-heading
			margin-bottom: 35px
			transition: all .3s ease-in-out
			font:
				size: 19px
				weight: 600
			@include hover
				color: #099
		&-text
			margin-bottom: 35px
		&-link
			font-weight: 600
			transition: all .3s ease-in-out
			@include hover
				color: #099
				.arrow
					color: #099
			.arrow
				transition: all .3s ease-in-out

@include media-breakpoint-down(tablet)
	.similar-articles
		background-color: #f3f4f5
		&__inner
			width: calc(100% + 40px)
			margin-left: -20px
			.slick-slide
				margin: 0 20px
		&__item
			&-img
				height: 200px
			&-category
				margin-bottom: 17px
			&-heading
				margin-bottom: 15px
				font-size: 16px
			&-text
				margin-bottom: 15px
				font-size: 14px
			&-link
				font-size: 14px

@include media-breakpoint-down(mobile)
	.similar-articles
		&__inner
			margin-bottom: 40px
		&__item
			&-category
				margin-bottom: 15px
				padding-bottom: 9px
				font-size: 12px
			&-heading
				margin-bottom: 12px
				font-size: 14px
			&-text
				margin-bottom: 10px
				font-size: 12px
			&-link
				font-size: 12px
				.arrow
					width: 23px