/**
 * Component: Footer
 */
.footer {
    background-color: #1e2026;
    color: #ffffff;
    @include media-breakpoint-down(tablet) {
        // margin-top: 0;
    }
    @include media-breakpoint-down(mobile) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    &__main {
        &-inner {
            display: flex;
            justify-content: space-between;
            padding: 88px 0 54px;
            @include media-breakpoint-down(tablet) {
                padding: 20px 0 20px;
            }
        }
    }
    &__bottom {
        background-color: #191b1f;
        font-weight: 300;
        @include media-breakpoint-down(mobile) {
            padding: 15px 0;
            margin: 10px 0;
            text-align: center;
        }
        &-inner {
            position: relative;
            display: flex;
            justify-content: space-between;
            height: 95px;
            align-items: center;
            @include media-breakpoint-down(tablet) {
                height: 68px;
            }
            @include media-breakpoint-down(mobile) {
                height: auto;
                display: block;
            }
        }
    }
    &__docs {
        &-link {
            display: inline-block;
            vertical-align: middle;
            color: #cccccc;
            font-size: 14px;
            line-height: 18px;
            margin-right: 40px;
            @include media-breakpoint-down(tablet) {
                display: block;
                margin-right: 0;
                line-height: 23px;
                font-weight: 300;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 12px;
                line-height: 23px;
                text-align: center;
            }
            @include hover {
                text-decoration: underline;
            }
        }
    }
    &__logo {
        position: relative;
        top: 0.5em;
        font-size: 12px;
        line-height: 18px;
        color: #666666;
        &::before {
            content: '';
            display: block;
            padding-top: 29%;//25.65%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
        }
    }
    &__copyright {
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 50%;
        @include media-breakpoint-down(tablet) {
            font-size: 13px;
            line-height: 18px;
        }
        @include media-breakpoint-down(mobile) {
            position: static;
            font-size: 12px;
            line-height: 18px;
            transform: none;
            font-weight: 300;
        }
    }
    &__author {
        display: block;
        text-align: center;
        color: #999999;
        font-size: 12px;
        line-height: 13px;
        font-weight: 300;
        margin: 14px 0 0;
        a {
            text-decoration: underline;
            @include hover {
                text-decoration: none;
            }
        }
    }

    &__inner {
        @include media-breakpoint-down(mobile) {
            padding: 0 20px;
        }
    }

    &_desktop {
        @include media-breakpoint-down(mobile) {
            display: none;
        }
    }
    &_mobile {
        display: none;
        @include media-breakpoint-down(mobile) {
            display: block;
        }
    }
}

.footer-block {
    display: block;
    margin: 0 -12px 20px;
    @include media-breakpoint-down(tablet) {
        margin-bottom: 6px;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 0 5px;
    }
    &__head,
    &__link {
        padding: 0 12px;
    }
    &__head {
        display: inline-block;
        position: relative;
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 30px;
        user-select: none;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 12px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 12px;
            height: 1px;
            background-color: #ffffff;
            width: 40px;
            transition: width 0.3s ease 0s;
        }
        @at-root {
            a#{&} {
                @include hover {
                    &::after {
                        width: calc(100% - 24px);
                    }
                }
            }
        }
    }
    
    &__content {
        display: block;
        @include media-breakpoint-down(tablet) {
            margin-top: 14px;
        }
    }
    &__link {
        display: inline-block;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        background-color: transparent;
        transition: background-color 0.3s ease 0s;
        @include media-breakpoint-down(mobile) {
            font-size: 14px;
            line-height: 24px;
        }
        @at-root {
            a#{&} {
                @include hover {
                    background-color: #009999;
                }
            }
        }

        .icon {
            font-size: 26px;
            fill: #fff;
            stroke: #fff;
        }
        &_icon {
            position: relative;
            padding-left: 52px;
            margin-bottom: 18px;
            background-color: transparent !important;
            @include media-breakpoint-down(mobile) {
                padding-left: 35px;
            }
            .icon {
                position: absolute;
                left: 12px;
                top: 2px;
                @include media-breakpoint-down(mobile) {
                    left: 0;
                }
            }
        }
        &_phone {
            font-size: 21px;
            line-height: 24px;
            font-weight: normal;
            transition: color 0.3s ease 0s;
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
                line-height: 24px;
            }
            .icon {
                font-size: 22px;
                top: 1px;
                transition: stroke 0.3s ease 0s;
                @include media-breakpoint-down(mobile) {
                    font-size: 21px;
                }
            }
            @include hover {
                color: #009999;
                .icon {
                    stroke: #009999;
                }
            }
        }
        &_email {
            color: #cccccc;
            transition: color 0.3s ease 0s;
            .icon {
                font-size: 17px;
                top: 5px;
                stroke: none;
                transition: fill 0.3s ease 0s;
                @include media-breakpoint-down(mobile) {
                    font-size: 16px;
                }
            }
            @include hover {
                color: #009999;
                .icon {
                    fill: #009999;
                }
            }
        }
        &_text {
            line-height: 24px;
        }
    }

    .social,
    .payment {
        padding: 0 12px;
    }
}

.payment {
    margin: 0 -6px;
    @include media-breakpoint-down(mobile) {
        text-align: center;
        margin: 0 -4px 21px;
    }
    &__title {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        margin: 0 6px 18px;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            margin-bottom: 14px;
        }
    }
    &__item {
        height: 36px;
        display: inline-block;
        margin: 0 6px;
        @include media-breakpoint-down(mobile) {
            height: 27px;
            margin: 0 4px;
        }
    }

    &_wrap {
        margin-left: -5px;
        margin-right: -5px;
        @include media-breakpoint-down(tablet) {
            margin-left: -3px;
            margin-right: -3px;
        }
    }
    &_wrap &__title {
        margin-left: 5px;
        margin-right: 5px;
        @include media-breakpoint-down(tablet) {
            margin-left: 3px;
            margin-right: 3px;
        }
    }
    &_wrap &__item {
        height: auto;
        max-height: 30px;
        margin: 0 5px;
        max-width: 56px;
        vertical-align: middle;
        @include media-breakpoint-down(tablet) {
            max-height: 24px;
            max-width: 48px;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}
.social {
    display: block;
    margin: 0 -4px;
    @include media-breakpoint-down(mobile) {
        text-align: center;
        margin-bottom: 16px;
    }
    &__link {
        display: inline-block;
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid #cccccc;
        fill: #cccccc;
        margin: 0 4px;
        transition: all 0.3s ease 0s;
        .icon {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        @include hover {
            background-color: #cccccc;
            fill: #000;
        }
    }
}