.footer.footer_desktop
    .footer__main
        .container
            .footer__main-inner
                .footer__column.hidden-tablet-down
                    .footer-block
                        a.footer-block__head(href="#") Об ArtGallery
                        .footer-block__content
                            div
                                a.footer-block__link(href="#") О проекте
                            div
                                a.footer-block__link(href="#") Блог
                            div
                                a.footer-block__link(href="#") Авторы
                .footer__column.hidden-tablet-down
                    .footer-block
                        a.footer-block__head(href="#") Покупателям
                        .footer-block__content
                            div
                                a.footer-block__link(href="#") Доставка
                            div
                                a.footer-block__link(href="#") Оплата
                            div
                                a.footer-block__link(href="#") Возвраты
                .footer__column.hidden-tablet-down
                    .footer-block
                        a.footer-block__head(href="#") Каталог
                        .footer-block__content
                            div
                                a.footer-block__link(href="#") Картины
                            div
                                a.footer-block__link(href="#") Коллажи
                            div
                                a.footer-block__link(href="#") Иллюстрации
                .footer__column
                    .footer-block
                        a.footer-block__head(href="#") Контакты
                        .footer-block__content
                            div
                                a.footer-block__link.footer-block__link_icon.footer-block__link_phone(href="callto:+799912312344")
                                    +svg('icon-phone')
                                    | +7 (999) 123-123-44
                            div
                                a.footer-block__link.footer-block__link_icon.footer-block__link_email(href="mailto:info@domainname.ru")
                                    +svg('icon-mail')
                                    | info@domainname.ru
                            div
                                span.footer-block__link.footer-block__link_icon.footer-block__link_text(href="#")
                                    +svg('icon-map')
                                    | г.&nbsp;Москва,<br/>Преснесенская&nbsp;наб., 12
                .footer__column
                    .footer-block
                        span.footer-block__head Мы в социальных сетях:
                        .social
                            a.social__link(href="#")
                                +svg('social-vk')
                            a.social__link(href="#")
                                +svg('social-fb')
                            a.social__link(href="#")
                                +svg('social-ok')
                            a.social__link(href="#")
                                +svg('social-ins')
                    .footer-block
                        span.footer-block__head Платежные системы
                        .payment
                            img.payment__item(src="assets/images/pay-visa.png", alt="")
                            img.payment__item(src="assets/images/pay-mastercard.png", alt="")
                            img.payment__item(src="assets/images/pay-qiwi.png", alt="")
                            img.payment__item(src="assets/images/pay-webmoney.png", alt="")
                            img.payment__item(src="assets/images/pay-yandexmoney.png", alt="")

    .footer__bottom
        .container
            .footer__bottom-inner
                .footer__docs
                    a.footer__docs-link(href="#") Политика конфиденциальности
                    a.footer__docs-link(href="#") Условия и положения
                span.footer__copyright ©&nbsp;Artgallery,&nbsp;2018
                a.footer__logo(href="#")
                    img(src="assets/images/logo-hb.png", alt="")
                    span Разработка сайта
.footer.footer_mobile
    .footer__main
        .container
            .footer__inner
                .social
                    a.social__link(href="#")
                        +svg('social-vk')
                    a.social__link(href="#")
                        +svg('social-fb')
                    a.social__link(href="#")
                        +svg('social-ok')
                    a.social__link(href="#")
                        +svg('social-ins')
                .footer-block
                    .footer-block__content
                        div
                            a.footer-block__link.footer-block__link_icon.footer-block__link_phone(href="callto:+799912312344")
                                +svg('icon-phone')
                                | +7 (999) 123-123-44
                        div
                            a.footer-block__link.footer-block__link_icon.footer-block__link_email(href="mailto:info@domainname.ru")
                                +svg('icon-mail')
                                | info@domainname.ru
                        div
                            span.footer-block__link.footer-block__link_icon.footer-block__link_text(href="#")
                                +svg('icon-map')
                                | г.&nbsp;Москва,<br/>Преснесенская&nbsp;наб., 12
                .payment
                    img.payment__item(src="assets/images/pay-visa.png", alt="")
                    img.payment__item(src="assets/images/pay-mastercard.png", alt="")
                    img.payment__item(src="assets/images/pay-qiwi.png", alt="")
                    img.payment__item(src="assets/images/pay-webmoney.png", alt="")
                    img.payment__item(src="assets/images/pay-yandexmoney.png", alt="")
    .footer__bottom
        .container
            .footer__inner
                span.footer__copyright ©&nbsp;Artgallery,&nbsp;2018
    .footer__main
        .container
            .footer__inner
                .footer__docs
                    a.footer__docs-link(href="#") Политика конфиденциальности
                    a.footer__docs-link(href="#") Условия и положения
                span.footer__author Сайт создан 
                    a(href="#") Hawking Brothers
        