div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.work_expert_author_filter_block{
	background-color: #f6f6f6;
	padding-bottom: 20px;
}

.count_expert_work{
	font-size: 30px;
}

/*рейтинг звездочками*/
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
	background: url('images/star.png') no-repeat;
	background-size: cover;
  }
  
  #reviewStars-input {
	
	/*fix floating problems*/
	overflow: hidden;
	*zoom: 1;
	/*end of fix floating problems*/
	
	position: relative;
	float: left;
  }
  
  #reviewStars-input input {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	
	width: 32px;
	height: 30px;
	
	position: absolute;
	top: 0;
	z-index: 0;
  }
  
  #reviewStars-input input:checked ~ label {
	background-position: 0 -30px;
	opacity: 1;
	height: 30px;
	width: 32px;
  }
  
  #reviewStars-input label {
	background-position: 0 0;
	height: 30px;
	width: 32px;
	float: right;
	cursor: pointer;
	margin-right: 10px;
	
	position: relative;
	z-index: 1;
  }
  
  #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
	background-position: 0 -30px;
	opacity: 1;
	height: 30px;
	width: 32px;
  }
  
  #reviewStars-input #star-0 {
	left: 0px;
  }
  #reviewStars-input #star-1 {
	left: 53px;
  }
  #reviewStars-input #star-2 {
	left: 106px;
  }
  #reviewStars-input #star-3 {
	left: 159px;
  }
  #reviewStars-input #star-4 {
	left: 212px;
  }
  #reviewStars-input #star-5 {
	left: 265px;
	}
	

.lk-works_expert_list .cart-item__tools{
		top: 45px;
    right: 0;
}

@media (max-width: 980px){
	.lk-works_expert_list .cart-item_work{
		padding-bottom: 95px;
	}

	.lk-works_expert_list .cart-item__tools{
		left: 0;
		top: 104px;
	}
}

@media (max-width: 768px){
	.lk-works_expert_list .cart-item__tools{
		left: 10px;
    top: 94px;
	}
}

.block_no_click{
	pointer-events: none;
	opacity: 0.5;
}

.empty_work_list{
	padding-top: 10px;
	padding-bottom: 10px;
}

.alert__success.alert__success_rating_expert{
	display: none;
}

.cart-item.cart-item_work{
	display: block;
}

.cart-item__img.cart-item__img_expert_list{
	width: 100%;
	height: auto;
	cursor: pointer;
	margin-bottom: 20px;
}

.cart-item__img_expert_list img{
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 80%;
}

.cart-item.cart-item_work .cart-item__tools{
	position: relative;
	top: 0px;
	left: 0px;
}

.cart-item__title{
	cursor: pointer;
  text-align: center;
}

.cart-item.cart-item_work .cart-item__prices{
	top: 10px;
}

.js-cart-item-tools .form__row-title{
	display: block;
  float: left;
}