.lk {
    display: flex;
    padding-bottom: 80px;
    @include media-breakpoint-down(mobile) {
        padding-bottom: 0;
    }
    &__aside {
        width: 384px;
        margin-right: 30px;
        flex-shrink: 0;
        @include media-breakpoint-down(tablet) {
            width: 275px;
            margin-right: 30px;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
        }
        &-inner {
            background-color: #ffffff;
            padding: 24px 45px;
            @include media-breakpoint-down(tablet) {
                padding: 20px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 0 10px;
            }
        }
    }
    &__main {
        flex: 1;
        color: #2e3237;
        @include media-breakpoint-down(mobile) {
            margin: 0 -10px;
            border-top: 1px solid #ccc;
        }
        &-inner {
            background-color: #ffffff;
            padding: 22px 40px;
            @include media-breakpoint-down(tablet) {
                padding: 20px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 10px 10px 48px 10px;
            }
        }
    }
}

.lk-user {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 8px;
    border-radius: 50%;
    @include media-breakpoint-down(tablet) {
        margin-bottom: 5px;
    }
    @include media-breakpoint-down(mobile) {
        margin-bottom: 15px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #000000;
        margin: auto;
        width: 40px;
        border-radius: 2px;
    }
    &__img {
        position: relative;
        display: inline-block;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 18px;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            z-index: 1;
            border-radius: 50%;
            transition: opacity 0.3s ease 0s;
        }
        &::before {
            background-color: #000000;
            opacity: 0;
        }
        &::after {
            background-image: url(../assets/images/icons/icon-camera.svg);
            background-repeat: no-repeat;
            background-size: 40% auto;
            background-position: center center;
            opacity: 0;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 300%;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
            display: block;
        }

        @include hover {
            &::before {
                opacity: 0.75;
            }
            &::after {
                opacity: 0.8;
            }
        }
    }
    &__hello {
        display: block;
        font-size: 17px;
        line-height: 18px;
        color: #2e3237;
        margin-bottom: 8px;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    &__name {
        display: block;
        font-size: 22px;
        line-height: normal;
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
        }
    }
}
.lk-menu {
    &__group {
        border-bottom: 1px solid #ccc;
        padding: 12px 0;
        @include media-breakpoint-down(tablet) {
            padding: 9px 0;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__link {
        display: block;
        padding: 13px 20px;
        background-color: transparent;
        font-size: 17px;
        line-height: normal;
        stroke: #000;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            padding: 13px 16px;
        }

        @include hover {
            color: #009999;
            stroke: #009999;
        }
        &.is-active {
            color: #ffffff;
            background-color: #009999;
            stroke: #ffffff;
        }
        .icon {
            font-size: 18px;
            margin-right: 10px;
            margin-left: -20px;
            vertical-align: middle;
            margin-top: -1px;
            @include media-breakpoint-down(tablet) {
                font-size: 13px;
                margin-left: -16px;
                margin-top: -2px;
            }
        }


    }
}

.lk-head {
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding: 16px 0;
    margin-bottom: 36px;
    @include media-breakpoint-down(tablet) {
        font-size: 30px;
        line-height: 42px;
        padding: 10px 0;
        margin-bottom: 20px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 22px;
        line-height: normal;
        padding: 12px 10px;
        margin: 0 -10px 10px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;
        background-color: #000000;
    }

    &__more {
        position: absolute;
        right: 0;
        top: 0;
        padding: inherit;
        @include media-breakpoint-down(tablet) {
            position: static;
            display: block;
            text-align: center;
            padding: 0;
            line-height: normal;
            margin: 0px 0 0px;
        }
        @include media-breakpoint-down(mobile) {

        }
        a {
            display: inline-block;
            color: #009999;
            font-size: 14px;
            font-weight: 600;
            @include hover {
                text-decoration: underline;
            }
        }
    }
}
.lk-subhead {
    display: block;
    text-align: center;
    border-top: 1px solid #ccc;
    font-weight: 300;
    font-size: 26px;
    line-height: 34px;
    padding-top: 30px;
    margin: 40px 0;
    @include media-breakpoint-down(tablet) {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 26px;
    }
    @include media-breakpoint-down(mobile) {
        margin: 40px -10px 25px;
        padding: 25px 10px 0;
        font-size: 16px;
        line-height: 18px;
    }
}
.lk-desc {
    display: block;
    text-align: center;
    font-size: 19px;
    margin-bottom: 24px;
    @include media-breakpoint-down(tablet) {
        font-size: 16px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 14px;
        margin-bottom: 10px;
    }

    br {
        @include media-breakpoint-down(tablet) {
            display: none;
        }
    }
}

.lk-block {
    @include media-breakpoint-down(tablet) {
        margin-bottom: 25px;
    }
    @include media-breakpoint-down(mobile) {
        margin-bottom: 12px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__head {
        position: relative;
        border-bottom: 1px solid #ccc;
        display: block;
        font-weight: 300;
        font-size: 28px;
        padding: 6px 0;
        margin-bottom: 22px;
        @include media-breakpoint-down(tablet) {
            font-size: 22px;
            padding: 10px 0;
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 0 -10px 20px;
            padding: 10px 10px;
            text-align: center;
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            bottom: -1px;
            left: 0;
            width: 40px;
            background-color: #000000;
            @include media-breakpoint-down(mobile) {
                right: 0;
                margin: auto;
            }
        }
        &--margin {
            margin-bottom: 40px;
        }

        &_nomargin {
            margin-bottom: 0 !important;
        }

    }
    &__desc {
        display: block;
        margin: 43px 0 52px;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            margin: 22px 0 20px;
        }
    }
    &__delimiter {
        display: block;
        border-bottom: 1px solid #ccc;
        margin-bottom: 48px;
        @include media-breakpoint-down(mobile) {
            margin: 0 -10px 25px;
        }
    }
    &__tooltip {
        font-size: 14px;
        line-height: 18px!important;
        color: #666;
        padding-right: 15px;
        @include media-breakpoint-down(tablet) {
            font-size: 12px;
        }
    }
    &__main > .cart-item:last-child {
        border-bottom: none;
        margin-bottom: 30px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: -23px;
        }
    }
}

.form-notification {
    &__title {
        width: 50%;
        line-height: 24px;
        flex-shrink: 0;
        @include media-breakpoint-down(mobile) {
            width: 100%;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
    &__row {
        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        &-checkbox {
            margin-bottom: 35px;
            @include media-breakpoint-down(mobile) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 65px;
                @include media-breakpoint-down(mobile) {
                    margin-bottom: 35px;
                }
            }
        }
        @include media-breakpoint-down(tablet) {
            flex-wrap: wrap;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 25px;
        }
    }
    &__label-checkbox {
        align-items: center;
    }
    &__text-checkbox {
        font-size: 18px;
        font-weight: 600;
        @include media-breakpoint-down(tablet) {
            font-size: 15px;
        }
    }
    &__desc-checkbox {
        font-size: 15px;
        padding-left: 26px;
        @include media-breakpoint-down(tablet) {
            font-size: 12px;
        }
    }
    &__select {
        @include media-breakpoint-down(mobile) {
            min-width: 100%;
        }
    }
}

input.input-checkbox:checked ~ .form-notification__text-checkbox {
    color: #009999;
}

.sign-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        margin-bottom: 40px;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 0;
        }
    }
    &__img {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        margin-right: 20px;
        flex-shrink: 0;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 18px;
        font-weight: 600;
        color: #2e3237;
        transition: all 0.3s ease;
        padding-right: 5px;
        @include hover {
            color: #009999;
        }
        @include media-breakpoint-down(tablet) {
            font-size: 15px;
        }
    }
    &__btn {
        text-decoration: none;
        min-width: 145px;
        line-height: 46px;
        border: 1px solid #999999;
        font-size: 17px;
        text-align: center;
        padding: 0 30px;
        cursor: pointer;
        color: #333;
        background-color: transparent;
        transition: all 0.3s ease 0s;
        font-family: inherit;
        @include hover {
            background-color: #009999;
            color: #fff;
            border: 1px solid #009999;
        }
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
        }
        @include media-breakpoint-down(mobile) {
            min-width: 105px;
            padding: 0 15px;
            line-height: 36px;
        }
    }
}

.lk-orders {
    border-top: 1px solid #ccc;
    @include media-breakpoint-down(mobile) {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__item {
        border-bottom: 1px solid #ccc;
        @include media-breakpoint-down(mobile) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}
.order-item {
    display: block;
    color: #2e3237;
    font-size: 14px;
    line-height: 18px;
    padding: 22px 30px;
    background-color: rgba(#ccc, 0);
    transition: background-color 0.3s ease 0s;
    @include media-breakpoint-down(tablet) {
        padding: 11px 0;
    }
    @include media-breakpoint-down(mobile) {
        padding: 7px 0px;
        font-size: 12px;
    }
    @include hover {
        background-color: rgba(#ccc, 0.05);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 6px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__column {

    }
    &__title {
        display: block;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
        @include media-breakpoint-down(tablet) {
            font-size: 16px;
            margin-bottom: 7px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 5px;
        }
        span {
            font-size: 16px;
            @include media-breakpoint-down(tablet) {
                font-size: 14px;
            }
        }
    }
    &__date {
        color: #666666;
    }
    &__status {
        font-size: 15px;
        font-weight: bold;
        @include media-breakpoint-down(tablet) {
            font-size: inherit;
        }
    }
    &__price {
        font-size: 24px;
        line-height: 24px;
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
        }
        .rubl {
            font-size: 0.8em;
        }
    }
    &__more {
        display: inline-block;
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        @include media-breakpoint-down(tablet) {
            font-size: inherit;
        }
        @include hover {
            color: #009999;
        }
        .arrow {
            @include media-breakpoint-down(mobile) {
                width: 22px;
                &:active {
                    width: 26px;
                }
            }
        }
    }
}
.status {
    &-good {
        color: #009999;
        font-weight: bold;
    }
    &-warning {
        color: #ff6600;
        font-weight: bold;
    }
    &-error {
        color: #990000;
        font-weight: bold;
    }
}
.lk-detail {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 60px;
    letter-spacing: 0;
    @include media-breakpoint-down(tablet) {
        font-size: 14px;
        margin-bottom: 20px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 12px;
        margin-bottom: 3px;
    }
    td {
        padding: 7px 0;
        @include media-breakpoint-down(tablet) {
            padding: 6px 0;
        }
        @include media-breakpoint-down(mobile) {
            padding: 3px 0;
        }
        &:first-child {
            color: #2e3237;
            width: 205px;
            @include media-breakpoint-down(tablet) {
                width: 50%;
            }
        }
        div {
            line-height: 22px;
        }
    }
    a {
        border-bottom: 1px solid;
        transition: color 0.3s ease 0s;
        @include hover {
            color: #009999;
        }
    }
}
.lk-works {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include media-breakpoint-down(mobile) {
        margin: 0 -10px;
    }
    > .cart-item_work {
        @include media-breakpoint-down(mobile) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}
.lk-tools {
    display: flex;
    justify-content: space-between;
    margin: 42px 0 36px;
    @include media-breakpoint-down(tablet) {
        display: block;
        margin: 30px 0 0;
        text-align: center;
    }
    &__column {
        @include media-breakpoint-down(tablet) {
            margin-bottom: 35px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 30px;
        }
    }
    .l-select {
        display: inline-block;
        padding: 6px 0;
        @include media-breakpoint-down(tablet) {
            padding: 0;
            text-align: left;
        }
        &__title {
            @include media-breakpoint-down(mobile) {
                margin-right: 6px;
            }
        }
        .select2 {
            @include media-breakpoint-down(tablet) {
                width: 205px !important;
            }
            @include media-breakpoint-down(mobile) {
                width: 184px !important;
            }
        }
        .select2-selection {
            // background-color: #fcfcfc;
            background-color: rgba(#ccc,0.2);
        }
    }
}