.location__select.select.js-select
        .select__hide.js-select-close
        .select__title Выберите свой город
        form.select__wrap
            .select__inp
                input(class="select__city js-select-city" id="JsSelectCity")
                .select__search
                    +svg('icon-search')
                .select__close.js-reset-result
            button(type='submit' class="select__btn") Выбрать
        .select__radio
            .select__radio-wrap.js-scroll
                .select__item
                    input(id="style-box-1" type="radio" name="1" required)
                    label(for="style-box-1" class="check-style")
                        span.select__text Москва
                .select__item
                    input(id="style-box-2" type="radio" name="1" required)
                    label(for="style-box-2" class="check-style")
                        span.select__text Санкт-Петербург
                .select__item
                    input(id="style-box-3" type="radio" name="1" required)
                    label(for="style-box-3" class="check-style")
                        span.select__text Екатеринбург
                .select__item
                    input(id="style-box-4" type="radio" name="1" required)
                    label(for="style-box-4" class="check-style")
                        span.select__text Нижний Новгород
                .select__item
                    input(id="style-box-5" type="radio" name="1" required)
                    label(for="style-box-5" class="check-style")
                        span.select__text Новосибирск
                .select__item
                    input(id="style-box-6" type="radio" name="1" required)
                    label(for="style-box-6" class="check-style")
                        span.select__text Казань
                .select__item
                    input(id="style-box-7" type="radio" name="1" required)
                    label(for="style-box-7" class="check-style")
                        span.select__text Самара
                .select__item
                    input(id="style-box-8" type="radio" name="1" required)
                    label(for="style-box-8" class="check-style")
                        span.select__text Владивосток