.select{
    background-color: #fff;
    padding-top: 58px;
    padding-bottom: 44px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1070;
    display: none;
    max-width: 715px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    @include media-breakpoint-down(tablet) {
        padding: 20px 0;
    }
    @include media-breakpoint-down(mobile) {
        top: 70px;
        max-width: 100%;
        left: 20px;
        right: 20px;
    }
    &.is-active{
        display: block;
    }
    &__title{
        max-width: 100%;
        color: #000;
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        white-space: nowrap;
        padding-bottom: 20px;
        @include media-breakpoint-down(tablet) {
            padding-bottom: 10px;
            font-size: 28px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 20px;
        }
    }
    &__wrap{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 22px;
        background-color: #f5f5f9;
        padding-left: 45px;
        padding-right: 45px;
        @include media-breakpoint-down(tablet) {
            padding: 20px 45px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 10px 20px;
            display: block;
        }
    }
    &__hide{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        &::before, &::after {
            position: absolute;
            left: 0;
            bottom: 8px;
            content: ' ';
            height: 2px;
            width: 100%;
            background-color: #8b8b8b;
            transition: background-color 0.3s ease 0s;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        @include hover {
            &::after, &::before{
                background-color: #000;
            }
        }
        @include media-breakpoint-down(mobile) {
            width: 15px;
            top: 15px;
            right: 5px;
            height: 15px;
        }
    }
    &__btn{
        width: 131px;
        line-height: normal;
        height: 40px;
        background-color: #313132;
        color: #fff;
        border: none;
        box-shadow: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        @include hover{
            background-color: #000;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 13px;
            width: 100%;
        }
    }
    &__city{
        height: 40px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 6px 45px;
        font-size: 16px;
        border: 1px solid #b5b5d3;
        font-family: 'Proxima Nova';
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            padding: 6px 30px;
        }
    }
    &__inp{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__search{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 10px;
        pointer-events: none;
        .icon-search{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        @include media-breakpoint-down(mobile) {
            left: 6px;
            width: 14px;
        }
    }
    &__close{
        position: absolute;
        width: 14px;
        height: 14px;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &::before, &::after {
            position: absolute;
            left: 0;
            bottom: 6px;
            content: ' ';
            height: 2px;
            width: 100%;
            background-color: #8b8b8b;
            transition: background-color 0.3s ease 0s;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        @include hover {
            &::after, &::before{
                background-color: #000;
            }
        }
        @include media-breakpoint-down(mobile) {
            width: 14px;
            right: 6px;
        }
    }
    &__radio{
        max-width: 715px;
        margin: auto;
        padding-top: 42px;
        padding-left: 42px;
        padding-right: 42px;
        @include media-breakpoint-down(mobile) {
            padding-top: 15px;
            padding-right: 0;
            padding-left: 0;
        }
        &-wrap{
            overflow: hidden;
            position: relative;
            @include media-breakpoint-down(mobile) {
                padding-right: 15px;
                padding-left: 15px;
                max-height: 111px;
            }
        }
        .ps__rail-y{
            background: none !important;
            width: 10px !important;
            opacity: 1 !important;
            right: 3px !important;
        }
        .ps__thumb-y{
            width: 6px !important;
        }
    }
    &__item{
        display: inline-block;
        height: 30px;
        margin-right: 6px;
        margin-bottom: 13px;
        color: #000;
        @include media-breakpoint-down(mobile) {
            height: 24px;
            display: block;
        }
    }
    input[type=checkbox],
    input[type=radio]{
        position: absolute;
        opacity: 0;
        top: 99999px;
        left: 9999px;
        visibility: hidden;       
    }
    &__text{
        padding: 0px 19px;
        line-height: 30px;
        display: inline-block;
        position: relative;
        z-index: 2;
        border-radius: 7px;
        transition: color 0.3s ease 0s,
                    background-color 0.3s ease 0s;
        @include hover{
            background-color: #000;
            color: #fff;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            line-height: 24px;
        }
    }
    .check-style{
        display: flex;
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 7px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 7px;
            cursor: pointer;
            z-index: 1;
        }
        &:after{
            content: "";
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            position: absolute;
            background-color: #000;
            top: 0;
            left: 0;
            z-index: 1;
            transition: opacity 0.3s ease 0s;
        }
    }
    input[type=checkbox]:checked + .check-label:after,
    input[type=radio]:checked + .check-style:after,
    input[type=radio]:checked + label .select__text{
        opacity: 1;
        color: #fff;
    }
}
.ui-autocomplete{
    position: fixed;
    z-index: 2000;
}
.ui-menu{
    @include media-breakpoint-down(mobile){
        max-width: calc(100% - 80px);
    }
}
.ui-menu-item .ui-menu-item-wrapper{
    max-width: 100%;
    white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}