.main-carousel.js-main-carousel
    .main-carousel__slide
        .main-carousel__slide-bg.main-carousel__slide-bg_desktop(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_tablet(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_mobile(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .container
            .main-carousel__inner
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_small Новое на этой неделе
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_big Лучшие фигуративные произведения
                .main-carousel__content
                    span.main-carousel__text Новые оригинальные работы,<br/>выбранные нашим экспертом
                .main-carousel__buttons
                    a.btn.btn_alpha(href="#") Открыть
    .main-carousel__slide
        .main-carousel__slide-bg.main-carousel__slide-bg_desktop(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_tablet(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_mobile(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .container
            .main-carousel__inner
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_small Новое на этой неделе
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_big Лучшие фигуративные произведения
                .main-carousel__content
                    span.main-carousel__text Новые оригинальные работы,<br/>выбранные нашим экспертом
                .main-carousel__buttons
                    a.btn.btn_alpha(href="#") Открыть
    .main-carousel__slide
        .main-carousel__slide-bg.main-carousel__slide-bg_desktop(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_tablet(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .main-carousel__slide-bg.main-carousel__slide-bg_mobile(style="background-image:url(assets/images/inhtml/main-carousel-bg.jpg)")
        .container
            .main-carousel__inner
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_small Новое на этой неделе
                .main-carousel__content
                    span.main-carousel__text.main-carousel__text_big Лучшие фигуративные произведения
                .main-carousel__content
                    span.main-carousel__text Новые оригинальные работы,<br/>выбранные нашим экспертом
                .main-carousel__buttons
                    a.btn.btn_alpha(href="#") Открыть
