/**
 * Component: Main Carousel
 */
.main-carousel {
    min-height: 800px;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(tablet) {
        min-height: 600px;
    }
    @include media-breakpoint-down(mobile) {
        min-height: 440px;
    }
    &__slide {
        position: relative;
        min-height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        padding: 250px 0 100px;
        @include media-breakpoint-down(tablet) {
            min-height: 600px;
            padding: 150px 0 80px;
        }
        @include media-breakpoint-down(mobile) {
            min-height: 440px;
            padding: 100px 0 70px;
        }
        &-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            display: none;
            &_desktop {
                @include media-breakpoint-up(desktop) {
                    display: block;
                }
            }
            &_tablet {
                @include media-breakpoint-only(tablet) {
                    display: block;
                }
            }
            &_mobile {
                @include media-breakpoint-only(mobile) {
                    display: block;
                }
            }
        }
    }
    &__inner {
        width: 700px;
        position: relative;
        max-width: 100%;
    }
    &__content {
        margin-bottom: 7px;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 2px;
        }
    }
    &__text {
        color: #ffffff;
        display: inline-block;
        padding: 0 30px;
        letter-spacing: 0.025em;
        font-size: 22px;
        // line-height: 27px;
        line-height: 43px;
        padding: 8px 30px;
        background-color: rgba(0,0,0,0.8);
        @include media-breakpoint-down(tablet) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-down(mobile) {
            padding-left: 12px;
            padding-right: 12px;
            font-size: 16px;
            line-height: 28px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        @supports(box-decoration-break:clone) or (-webkit-box-decoration-break: clone) {
            display: inline;
            box-decoration-break: clone;
        }
        &_small {
            font-size: 18px;
            // line-height: 22px;
            line-height: 30px;
            padding-top: 4px;
            padding-bottom: 4px;
            @include media-breakpoint-down(mobile) {
                font-size: 14px;
                line-height: 24px;
                padding-top: 3.5px;
                padding-bottom: 3.5px;
            }
        }
        &_big {
            font-size: 49px;
            font-weight: 300;
            // line-height: 60px;
            line-height: 62px;
            padding-top: 1px;
            padding-bottom: 1px;
            @include media-breakpoint-down(mobile) {
                font-size: 24px;
                line-height: 36px;
                padding-top: 3.5px;
                padding-bottom: 3.5px;
            }
        }
    }
    &__buttons {
        margin-top: 45px;
        @include media-breakpoint-down(mobile) {
            margin-top: 9px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        font-size: 0;
        line-height: 1px;
        @include media-breakpoint-down(tablet) {
            bottom: 50px;
        }
        @include media-breakpoint-down(mobile) {
            bottom: 36px;
        }
        li {
            padding: 10px;
            cursor: pointer;
        }
        button {
            background: none;
            border: none;
            box-shadow: none;
            border-radius: 50%;
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid rgba(0,0,0,0.35);
            box-shadow: inset 0px 0px 0px 2px #fff;
            background-color: transparent;
            padding: 0;
            font-size: 0;
            line-height: 1px;
            transition: background-color 0.2s ease 0s;
            cursor: pointer;
        }
        li {
            @include hover {
                button {
                    background-color: rgba(255,255,255,0.4);
                }
            }
        } 
        li.slick-active button {
            background-color: #fff;
        }
    }
}