.breadcrumbs
	background-color: #f3f4f5
	padding: 12px 0
	color: #666
	font-size: 14px
	white-space: nowrap
	&__inner
		position: relative
		display: flex
		flex-flow: row nowrap
		justify-content: flex-start
		align-items: center
		&::after
			content: ''
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 100px
			background-image: linear-gradient(to left, #f3f4f5 0%, #f3f4f5 85%, rgba(#f3f4f5, 0) 100%)
		&::before
			content: ''
			position: absolute
			left: 100%
			top: 0
			bottom: 0
			background-color: #f3f4f5
			width: 100vw
	&__back
		display: flex
		flex-flow: row nowrap
		justify-content: center
		align-items: center
		margin-right: 25px
		padding: 5px 20px 5px 5px
		border-right: 1px solid #666
		transition: all .3s ease-in-out
		flex-shrink: 0
		@include media-breakpoint-down(mobile)
			border-right: none
		@include hover
			color: #333
			.icon
				fill: #666
		&-icon
			margin-top: -2px
			transform: rotate(180deg)
			.icon
				fill: #999
				font-size: 36px
				transition: all .3s ease-in-out
		&-text
			padding-left: 15px
	&__history
		display: flex
		flex-flow: row nowrap
		justify-content: center
		align-items: center
		flex-shrink: 0
		@include media-breakpoint-down(mobile) 
			display: none
		&-link
			position: relative
			padding-right: 60px
			flex-shrink: 0
			transition: all .3s ease-in-out
			@include hover
				color: #333
			&:after
				content: ''
				display: block
				position: absolute
				top: 50%
				right: 18px
				width: 30px
				height: 1px
				background-color: #999
		&-current
			color: #333

@include media-breakpoint-down(tablet)
	.breadcrumbs
		display: none
		&_important
			display: block
			font-size: 13px