.cart {
    display: flex;
    @include media-breakpoint-down(mobile) {
        display: block;
    }
    &__main {
        flex: 1;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 10px;
        }
        &-inner {
            background-color: #ffffff;
            padding: 20px 45px 20px;
            min-height: 100%;
            @include media-breakpoint-down(tablet) {
                padding: 20px 20px;
                min-height: 0;
            }
            @include media-breakpoint-down(mobile) {
                padding: 10px 10px;
            }
        }
    }
    &__aside {
        flex-shrink: 0;
        width: 385px;
        margin-left: 30px;
        @include media-breakpoint-down(tablet) {
            width: 275px;
            margin-left: 20px;
        }
        @include media-breakpoint-down(mobile) {
            width: auto;
            margin: 0;
        }
        &-inner {
            background-color: #ffffff;
            padding: 20px 45px 42px;
            @include media-breakpoint-down(tablet) {
                padding: 20px 20px 40px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 14px 10px 20px;
            }
            &:nth-child(n+2) {
                margin-top: 25px;
            }
        }
    }

    .rubl {
        font-size: 0.8em;
    }
}
.cart-head {
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding: 16px 0;
    margin-bottom: 26px;
    // margin-bottom: 36px;
    @include media-breakpoint-down(tablet) {
        font-size: 30px;
        line-height: 42px;
        padding: 10px 0;
        // margin-bottom: 20px;
    }
    @include media-breakpoint-down(mobile) {
        font-size: 22px;
        line-height: normal;
        padding: 22px 10px;
        margin: 0 -10px 0px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;
        background-color: #000000;
    }
    &_noline {
        border-bottom: none;
        margin-bottom: 16px;
        &::after {
            content: none;
        }
    }
    &_nomargin {
        margin-bottom: 0 !important;
    }
}
.cart-item {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    color: #2e3237;
    font-size: 16px;
    line-height: 18px;
    padding: 22px 0;
    @include media-breakpoint-down(tablet) {
        font-size: 14px;
        padding: 20px 0;
    }
    @include media-breakpoint-down(mobile) {
        padding: 15px 0;
    }
    &:last-child {
        @include media-breakpoint-down(tablet) {
            border-bottom: none;
        }
    }
    &__img {
        width: 145px;
        height: 145px;
        flex-shrink: 0;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @include media-breakpoint-down(tablet) {
            width: 90px;
            height: 90px;
            margin-right: 20px;
        }
        @include media-breakpoint-down(mobile) {
            width: 70px;
            height: 70px;
            margin-right: 15px;
        }
    }
    &__main {
        position: relative;
        flex: 1;
        padding-right: 220px;
        @include media-breakpoint-down(tablet) {
            padding-right: 0px;
        }
    }
    &__info {
        @include media-breakpoint-down(tablet) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        @include media-breakpoint-down(mobile) {
            display: block;
        }
    }
    &__descs {
        @include media-breakpoint-down(mobile) {
            display: none;
        }
    }
    &__prices {
        position: absolute;
        right: 0;
        top: 0;
        flex-shrink: 0;
        @include media-breakpoint-down(tablet) {
            position: static;
        }
    }

    &__title {
        display: block;
        font-weight: 600;
        color: inherit;
        margin-top: -0.25em;
        margin-bottom: 12px;
        transition: color 0.3s ease 0s;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 4px;
        }
        @include hover {
            color: #009999;
        }
    }
    &__author {
        display: block;
        color: inherit;
        margin-bottom: 14px;
        transition: color 0.3s ease 0s;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 8px;
        }
        @include hover {
            color: #009999;
        }
    }
    &__title,
    &__author {
        @include media-breakpoint-down(tablet) {
            margin-right: 60px;
        }
        @include media-breakpoint-down(mobile) {
            margin-right: 10px;
        }
    }
    &__desc {
        display: block;
        font-size: 14px;
        color: #000000;
        margin-bottom: 5px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 6px;
        }
        span:nth-child(1) {
            color: #666666;
        }
        a {
            @include hover {
                text-decoration: underline;
            }
        }
    }
    &__price {
        display: block;
        font-size: 24px;
        line-height: 24px;
        @include media-breakpoint-down(tablet) {
            font-size: 20px;
        }
    }
    &__oldprice {
        display: block;
        font-size: 19px;
        line-height: 24px;
        color: #666666;
        text-decoration: line-through;
        @include media-breakpoint-down(tablet) {
            font-size: 16px;
        }
    }
    &__remove {
        position: absolute;
        bottom: 32px;
        right: 2px;
        font-size: 14px;
        display: inline-block;
        color: #2e3237;
        fill: #2e3237;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @include media-breakpoint-down(tablet) {
            top: 20px;
            bottom: auto;
        }
        span {
            border-bottom: 1px dotted;
            @include media-breakpoint-down(tablet) {
                display: none;
            }
        }
        .icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            margin-left: 11px;
            @include media-breakpoint-down(tablet) {
                margin: 0;
            }
        }
        @include hover {
            color: #990000;
            fill: #990000;
        }
    }

    &__tools {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-bottom: inherit;
        padding-right: inherit;
        @include media-breakpoint-down(tablet) {
            bottom: auto;
            top: 0;
            padding-top: inherit;
            padding-bottom: 0;
        }
        &-head {
            display: none;
            @include media-breakpoint-down(tablet) {
                display: block;
                cursor: pointer;
                padding: 3px 0;
                margin: -3px 0 0;
                line-height: 1px;
            }

            .icon-dots {
                font-size: 4px;
                fill: #009999;
            }
        }
        &-main {
            text-align: right;
            @include media-breakpoint-up(desktop) {
                display: block !important;
            }
            @include media-breakpoint-down(tablet) {
                display: none;
                position: absolute;
                right: -4px;
                top: 100%;
                background-color: #ffffff;
                z-index: 1;
                border: 1px solid #ccc;
                font-size: 12px;
                white-space: nowrap;
                padding: 3px 10px;
            }
            @include media-breakpoint-down(mobile) {
                right: 9px;
            }
        }
    }
    &__tool {
        display: block;
        color: #2e3237;
        fill: #2e3237;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        margin-top: 16px;
        @include media-breakpoint-down(tablet) {
            position: relative;
            margin: 0;
            padding: 4px 0;
            padding-right: 20px;
        }
        span {
            border-bottom: 1px solid transparent;
            transition: border-bottom-color 0.3s ease 0s;
        }
        &_dot span {
            border-bottom: 2px dotted transparent;
        }
        @include hover {
            color: #990000;
            fill: #990000;
            span {
                border-bottom-color: #990000;
            }
        }
        .icon {
            width: 18px;
            margin-left: 4px;
            vertical-align: middle;
            @include media-breakpoint-down(tablet) {
                width: 16px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
        .icon-close {
            height: 14px;
            @include media-breakpoint-down(tablet) {
                height: 11px;
            }
        }
        .icon-edit {
            height: 18px;
            @include media-breakpoint-down(tablet) {
                height: 14px;
            }
        }
    }

    &__status {
        display: block;
        font-size: 15px;
        color: #666666;
        margin-bottom: 4px;
        @include media-breakpoint-down(tablet) {
            font-size: inherit;
            margin-bottom: 3px;
        }
    }

    &_work {
        padding-left: 22px;
        padding-right: 22px;
        @include media-breakpoint-down(tablet) {
            padding: 15px 0;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
            line-height: 16px;
            padding: 10px 0;
        }
    }
    &_work &__img {
        @include media-breakpoint-down(mobile) {
            margin-right: 10px;
        }
    }
    &_work &__title {
        min-height: 54px;
        margin-bottom: 5px;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 4px;
        }
        @include media-breakpoint-down(mobile) {
            min-height: 32px;
            margin-right: 30px;
        }
    }
    &_work &__info {
        @include media-breakpoint-down(tablet) {
            align-items: flex-end;
        }
        @include media-breakpoint-down(mobile) {
            display: flex;
        }
    }
    &_work &__prices {
        @include media-breakpoint-down(tablet) {
            margin-left: 10px;
        }
        .rubl {
            font-size: 0.8em;
        }
    }
    &_work &__price {
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
        }
    }
    &_work &__oldprice {
        @include media-breakpoint-down(tablet) {
            font-size: inherit;
        }
        @include media-breakpoint-down(mobile) {
            line-height: 20px;
        }
    }
}
.cart-result {
    &__main {
        color: #2e3237;
        font-size: 18px;
        line-height: normal;
        @include media-breakpoint-down(tablet) {
            font-size: 16px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 14px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 12px;
        @include media-breakpoint-down(mobile) {
            margin-bottom: 8px;
        }
        >* {
            flex-shrink: 0;
            order: 1;
        }
        >*:last-child {
            order:3;
            font-size: 24px;
            line-height: 24px;
            @include media-breakpoint-down(tablet) {
                font-size: 20px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 18px;
            }
        }
        &::after {
            content: '.............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
            display: block;
            flex: 1;
            order: 2;
            margin: 0 5px;
            overflow: hidden;
        }
    }
    &__promo {
        position: relative;
        background-color: #ebf4f9;
        display: block;
        font-size: 16px;
        line-height: 18px;
        padding: 11px 100px 11px 14px;
        min-height: 40px;
        &-remove {
            position: absolute;
            font-size: 14px;
            right: 20px;
            top: 11px;
        }
    }
    a:not(.btn) {
        display: inline-block;
        border-bottom: 1px dotted;
        transition: color 0.3s ease 0s;
        @include hover {
            color: #009999;
        }
    }
    &__form {
        font-size: 15px;
        margin: 15px 0;
        @include media-breakpoint-down(mobile) {
            margin: 12px 0;
        }
        &-label {
            display: block;
            margin-bottom: 8px;
        }
        &-line {
            display: flex;
            height: 40px;
            input {
                flex: 1;
                border-radius: 0;
                border: 1px solid #999999;
                padding: 0 10px;
                margin: 0;
            }
            button {
                flex-shrink: 0;
                background: transparent;
                border: none;
                box-shadow: none;
                background-color: #999999;
                color: #ffffff;
                text-align: center;
                line-height: 40px;
                padding: 0 22px;
                margin: 0;
                transition: background-color 0.3s ease 0s;
                cursor: pointer;
                @include hover {
                    background-color: #bbb;
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid #000;
        margin-top: 23px;
        padding-top: 23px;
        @include media-breakpoint-down(tablet) {
            margin-top: 20px;
            padding-top: 20px;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 30px;
            padding-top: 30px;
        }
    }
    &__final {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        @include media-breakpoint-down(tablet) {
            display: block;
            text-align: right;
            line-height: 18px;
            margin-bottom: 18px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 21px;
        }
        >* {
            @include media-breakpoint-only(tablet) {
                display: block;
            }
        }
        >*:last-child {
            font-size: 28px;
            @include media-breakpoint-down(tablet) {
                font-size: 22px;
                margin-top: 11px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 18px;
                margin: 0;
                font-weight: 600;
            }
        }
    }
    &__buttons {

    }
    .btn {
        display: block;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 10px;
        @include media-breakpoint-down(tablet) {
            line-height: 55px;
            font-size: 12px;
        }
        @include media-breakpoint-down(mobile) {
            line-height: 44px;
        }
        .arrow {
            margin-top: -4px;
        }
    }

    &_big {
        font-weight: 600;
        @include media-breakpoint-down(tablet) {
            margin-bottom: 18px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 20px;
        }
        .cart-head {
            text-align: center;
            font-size: 30px;
            display: block;
            border-bottom: none;
            font-weight: 600;
            line-height: normal;
            padding: 6px 0;
            @include media-breakpoint-down(tablet) {
                font-size: 18px;
                padding: 5px 0;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
                margin-bottom: 12px;
            }
            &::after {
                height: 2px;
            }
        }
        &::after {
            content: '';
            display: block;
            height: 0;
            clear: both;
        }
        a:not(.btn) {
            border-bottom-width: 2px;
        }
    }
    &_big &__main {
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 12px;
        }
    }
    &_big &__row {
        @include media-breakpoint-down(mobile) {
            margin-bottom: 0;
        }
        >*:last-child {
            @include media-breakpoint-down(tablet) {

            }
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
            }
        }
    }
    &_big &__bottom {
        float: right;
        min-width: 295px;
        @include media-breakpoint-down(tablet) {
            float: none;
            min-width: 0;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 16px;
            padding-top: 16px;
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &_big &__final {
        font-size: 20px;
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 18px;
        }
        &>* {
            @include media-breakpoint-down(tablet) {
                display: inline;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
            }
            &:last-child {
                @include media-breakpoint-down(tablet) {
                    font-size: 22px;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 18px;
                }
            }
        }
    }

    &_detail {
        width: 310px;
        @include media-breakpoint-down(tablet) {
            width: 250px;
        }
    }
    &_detail &__final {
        display: flex !important;
        align-items: baseline;
        @include media-breakpoint-down(tablet) {
            font-size: 14px;
            padding-top: 10px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 0;
        }
    }
    &_detail &__bottom {
        @include media-breakpoint-down(tablet) {
            padding-top: 0;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 15px;
            padding-top: 5px;
        }
    }
}

.cart-block {
    margin-bottom: 42px;
    @include media-breakpoint-down(tablet) {
        margin-bottom: 30px;
    }
    @include media-breakpoint-down(mobile) {
        margin-bottom: 22px;
        margin-top: 12px;
    }
    &__head {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 35px;
        @include media-breakpoint-down(tablet) {
            font-size: 18px;
            margin-bottom: 16px;
        }
        @include media-breakpoint-down(mobile) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
}
.cart-payment {
    padding: 0px 45px;
    margin-top: 25px;
    @include media-breakpoint-down(tablet) {
        padding: 0px 20px;
    }
    @include media-breakpoint-down(mobile) {
        padding: 0px 10px;
    }
}
.cart-list {
    background-color: #fff;
    &__head {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px 45px;
        @include media-breakpoint-down(tablet) {
            padding: 17px 20px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 17px 10px;
        }
        &-title {
            position: relative;
            padding-right: 24px;
            font-size: 20px;
            font-weight: 600;
            @include media-breakpoint-down(tablet) {
                font-size: 14px;
                padding-right: 20px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 12px;
                line-height: 19px;
            }
            &::after {
                content: '';
                color: #666666;
                position: absolute;
                right: 2px;
                top: 50%;
                border-top: 2px solid;
                border-right: 2px solid;
                width: 6px;
                height: 6px;
                transform-origin: top right;
                margin-right: 3px;
                // transition: all 0.3s ease 0s;
                transform: rotate(135deg);
                margin-top: 3px;
            }
        }

        &.is-active &-title::after {
            margin-top: -3px;
            transform: rotate(-45deg);
        }

        a:not(.btn) {
            display: inline-block;
            border-bottom: 1px dotted;
            font-size: 15px;
            margin-top: 2px;
            color: #666666;
            @include media-breakpoint-down(tablet) {
                font-size: 14px;
                position: relative;
                margin-top: 0;
                top: -2px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 12px;
            }
            &:hover {
                color: #009999;
            }
        }
    }
    &__main {
        display: none;
        background-color: #ffffff;
        &-inner {
            position: relative;
            padding: 0px 45px 45px;
            @include media-breakpoint-down(tablet) {
                padding: 0px 20px 20px;
            }
            @include media-breakpoint-down(mobile) {
                padding: 0px 10px 20px;
            }
        }
    }
    &__item {
        position: relative;
        border-top: 1px solid #ccc;
        display: flex;
        color: #2e3237;
        font-size: 15px;
        line-height: 18px;
        padding: 27px 0 15px;
        @include media-breakpoint-down(tablet) {
            padding: 20px 0 15px;
            font-size: 14px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 10px 0;
            font-size: 12px;
        }
        &:first-child {
            &::before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                width: 40px;
                background-color: #000000;
                height: 1px;
            }
        }
        &-img {
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            flex-shrink: 0;
            margin-right: 20px;
        }
        &-main {
            flex: 1;
        }
        &-title {
            display: block;
            margin-top: -0.25em;
            line-height: 18px;
            font-weight: 600;
            overflow: hidden;
            max-height: 36px;
            text-overflow: ellipsis;
            transition: color 0.3s ease 0s;
            margin-bottom: 10px;
            @include media-breakpoint-down(tablet) {
                max-height: 54px;
                margin-bottom: 6px;
            }
            @include media-breakpoint-down(mobile) {
                margin-bottom: 4px;
            }
            @include hover {
                color: #009999;
            }
        }
        &-author {
            display: block;
            font-size: 16px;
            margin-bottom: 12px;
            transition: color 0.3s ease 0s;
            @include media-breakpoint-down(tablet) {
                font-size: inherit;
                margin-bottom: 6px;
            }
            @include media-breakpoint-down(mobile) {
                margin-bottom: 10px;
            }
            @include hover {
                color: #009999;
            }
        }
        &-prices {
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(mobile) {
                display: block;
            }
        }
        &-price {
            font-size: 18px;
            @include media-breakpoint-down(tablet) {
                font-size: 16px;
            }
            @include media-breakpoint-down(mobile) {
                margin-right: 18px;
            }
        }
        &-oldprice {
            font-size: 14px;
            color: #666666;
            text-decoration: line-through;
        }
    }
}

.btn_cart {
    @include media-breakpoint-only(tablet) {
        line-height: 32px !important;
    }
    @include media-breakpoint-only(mobile) {
        line-height: 38px !important;
    }
}