.section.blog-detail
	.container
		.blog-detail__inner
			span.blog-detail__category Галереи и выставки
			h1.blog-detail__heading Бассейн, лампа и кафе. Работы Хокни, Хоппера и Магритта стали рекордсменами недели
			.blog-detail__desc
				span.blog-detail__desc-date 01.09.18
				.blog-detail__desc-avatar
					img.blog-detail__desc-avatar-img(src="assets/images/inhtml/avatar-photo.jpg", alt="")
				span.blog-detail__desc-name Диана Миллер
			h2.blog-detail__subheading Подзаголовок новости может быть длинной в две и более, три и более строки, текст лида 648 пикселей шириной
			.blog-detail__content
				.blog-detail__image.blog-detail__image--full
					img.blog-detail__image-pic(src="assets/images/inhtml/article-item-4.jpg", alt="")
					.blog-detail__image-desc Осенний сон. Лиса Аисато. 2018. Подпись к фотографии, может быть достаточно длинной
				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Таким образом укрепление и развитие структуры способствует подготовки и реализации форм развития. С другой стороны новая модель организационной деятельности представляет собой <a href="#">интересный эксперимент</a> проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.
				.blog-detail__image.blog-detail__image--right
					img.blog-detail__image-pic(src="assets/images/inhtml/blog-item-1.jpg", alt="")
					.blog-detail__image-desc Подпись к фотографии, может быть достаточно длинной и писаться в две строки
				p Таким образом сложившаяся структура организации в значительной степени обуславливает создание соответствующий <a href="#">условий активизации</a>. Равным образом рамки и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития.
				p С другой стороны сложившаяся структура организации позволяет оценить значение систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры позволяет оценить значение модели развития. Равным образом сложившаяся структура организации играет важную
				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Таким образом укрепление и развитие структуры способствует подготовки и реализации форм развития. С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.
				h3 Подзаголовок раздела статьи со слайдером
				p.upper-case Также всем ясно, что большой опасности подвергаются специалисты, ведущие репортажи из горячих точек или с массовых мероприятий.
				p К примеру<sup>34</sup>, совершенно невозможно предугадать действия психически<sub>46758</sub> неуравновешенных людей, которые переплетают свои навязчивые идеи с публичными личностями. Как и действия фанатиков всех сортов, не согласных с политическими, мировоззренческими и другими позициями, демонстрируемыми журналистом в его печатных материалах, выступлениях и репортажах.
				.blog-detail__slider
					.blog-detail__slider-slide
						.blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
						.blog-detail__slider-desc Источник: Сайт SuperArt
					.blog-detail__slider-slide
						.blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
						.blog-detail__slider-desc Источник: Сайт SuperArt
					.blog-detail__slider-slide
						.blog-detail__slider-bg(style="background-image: url('assets/images/inhtml/slide.jpg')")
						.blog-detail__slider-desc Источник: Сайт SuperArt
				p С другой стороны сложившаяся структура организации позволяет оценить значение систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры позволяет оценить значение модели развития. Равным
				h4 Стиль подзаголовка раздела с цитатой
				p Равным образом сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что постоянное
				blockquote.quote
					.quote__text Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют от нас анализа модели развития. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития.
					.quote__author Иван Иванов
				p Равным образом сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что постоянное
				.blog-detail__image.blog-detail__image--left
					img.blog-detail__image-pic(src="assets/images/inhtml/blog-item-2.jpg", alt="")
				p Равным образом сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации новых предложений.
				p Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации форм развития. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. С другой стороны сложившаяся структура организации играет важную роль в формировании дальнейших направлений развития.
				p Равным образом сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации новых предложений.
				p Равным образом реализация намеченных плановых заданий требуют определения и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации новых предложений.
				h4 Стиль маркированного списка
				ul
					li Что Вы получите от использования данной услуги
						ul
							li Что Вы получите от использования данной услуги
							li Ещё что Вы получите от использования данной услуги
								ul
									li Что Вы получите от использования данной услуги
									li Ещё что Вы получите от использования данной услуги
										ul
											li Что Вы получите от использования данной услуги
											li Ещё что Вы получите от использования данной услуги
												ul
													li Что Вы получите от использования данной услуги
													li Ещё что Вы получите от использования данной услуги
				h4 Стиль нумерованного списка
				ol
					li Что Вы получите от использования данной услуги
						ol
							li Что Вы получите от использования данной услуги
							li Что Вы получите от использования данной услуги
					li Что Вы получите от использования данной услуги
					li Что Вы получите от использования данной услуги
					li Что Вы получите от использования данной услуги
					li Что Вы получите от использования данной услуги
				p К примеру<sup>34</sup>, совершенно невозможно предугадать действия психически<sub>46758</sub>
			.blog-detail__actions
				.blog-detail__actions-block
					.blog-detail__actions-info
						.blog-detail__actions-info-date 10.09.18
						.blog-detail__actions-info-avatar
							img.blog-detail__actions-info-avatar-img(src="assets/images/inhtml/avatar-photo.jpg", alt="")
						.blog-detail__actions-info-name Диана Миллер
					.blog-detail__actions-share
						.author__share-text Поделиться:
						.author__share-social
							a.author__share-link(href="#")
								.author__share-link-icon
									+svg('social-vk', '-w')
							a.author__share-link(href="#")
								.author__share-link-icon
									+svg('social-fb', '-w')
							a.author__share-link(href="#")
								.author__share-link-icon
									+svg('social-ok', '-w')
							a.author__share-link(href="#")
								.author__share-link-icon
									+svg('mail-filled', '-w')
				.blog-detail__actions-block
					.blog-detail__actions-tags
						.blog-detail__actions-tags-text Темы:
						.blog-detail__actions-tags-list
							a.blog-detail__actions-tags-item(href="#") Авангард
							a.blog-detail__actions-tags-item(href="#") Готика
							a.blog-detail__actions-tags-item(href="#") Модерн
					a.blog-detail__actions-btn(href="#") Подписаться