/**
 * Component: Gallery
 */
.gallery {
    margin-bottom: 26px;
    @include media-breakpoint-down(tablet) {
        margin-bottom: 33px;
    }
    &__inner {
        position: relative;
    }
    &__item,
    &__stamp {
        width: 280px;
        margin-bottom: 30px;
        @include media-breakpoint-down(tablet) {
            width: calc((100% - #{11px*2})/3);
            margin-bottom: 25px;
        }
        @include media-breakpoint-down(mobile) {
            width: calc((100% - 7px) / 2);
            margin-bottom: 20px;
        }
    }
    &__stamp {
        position: absolute;
        right: -1px;
        top: 0;
        height: 480px;
        padding: 10px 20px 0;
        color: #ffffff;
        font-size: 22px;
        line-height: 31px;
        font-weight: 300;
        user-select: none;
        @include media-breakpoint-down(tablet) {
            height: 437px;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
            width: 0;
            height: 0;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 210px;
            top: -10px;
            left: 0;
            right: 0;
            background-image: url(../assets/images/works-filter-1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            @include media-breakpoint-down(tablet) {
                height: 170px;
                top: -4px;
            }
        }
        &-inner {
            background-color: #191b1f;
            height: 100%;
            padding: 190px 36px 0;
            @include media-breakpoint-down(tablet) {
                padding: 167px 22px 0;
            }
        }
        &-text {
            display: block;
            padding: 0 6px;
            &::before {
                content: '';
                display: block;
                width: 40px;
                height: 1px;
                border-top: 1px solid;
                margin: 0 -6px 21px;
            }

        }
        &-href {
            position: relative;
            display: block;
            height: 61px;
            line-height: 61px;
            padding-left: 77px;
            padding-right: 10px;
            font-size: 16px;
            font-weight: 600;
            margin: 42px -36px 0;
            background-color: transparent;
            transition: background-color 0.3s ease 0s;
            // @include media-breakpoint-down(tablet) {
            @media(max-width: 1023px) {
                margin: 40px -22px 0;
                line-height: normal;
                padding: 7px 10px 7px 89px;
            }
            &::before {
                content: '';
                position: absolute;
                left: -17px;
                top: -7px;
                width: 91px;
                height: 100px;
                display: block;
                background-image: url('../assets/images/works-filter-2.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top left;
            }
            @include hover {
                background-color: #009999;
            }
            .arrow {
                // @include media-breakpoint-down(tablet) {
                @media(max-width: 1023px) {
                    margin-top: 20px;
                    display: block;
                }
            }
        }
    }
    &__gutter-sizer {
        position: absolute;
        right: 0;
        top: 0;
        height: 0;
        width: 40px;
        @include media-breakpoint-down(tablet) {
            width: 11px;
        }
        @include media-breakpoint-down(mobile) {
            width: 7px;
        }
    }

    &__buttons {
        margin-top: 20px;
        text-align: center;
        @include media-breakpoint-down(tablet) {
            margin-top: 25px;
        }
        @include media-breakpoint-down(mobile) {
            margin-top: 10px;
            .btn {
                width: 300px;
                font-size: 17px;
            }
        }
    }
}