.popular-filter
    .container
        .popular-filter__inner.js-popular-filter
            span.popular-filter__title Популярные фильтры
            .popular-filter__tools.js-popular-filter-tools
            .popular-filter__carousel.js-popular-filter-carousel
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-1.jpg)")
                        span Барроко
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-2.jpg)")
                        span Живопись
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-3.jpg)")
                        span Пейзаж
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-4.jpg)")
                        span Поп-арт
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-5.jpg)")
                        span Модерн
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-1.jpg)")
                        span Барроко
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-2.jpg)")
                        span Живопись
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-3.jpg)")
                        span Пейзаж
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-4.jpg)")
                        span Поп-арт
                div
                    a.popular-filter__item(href="#" style="background-image:url(assets/images/inhtml/example-popular-filter-5.jpg)")
                        span Модерн