/**
 * Component: Popular Filter
 */
.popular-filter {
    &__inner {
        position: relative;
        padding-top: 12px;
        padding-bottom: 30px;
        @include media-breakpoint-down(mobile) {
            padding-top: 0;
        }
    }
    &__title {
        display: block;
        font-size: 24px;
        font-weight: 300;
        @include media-breakpoint-down(tablet) {
            padding-left: 20px;
        }
        @include media-breakpoint-down(mobile) {
            position: relative;
            margin: 0 -10px;
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            font-weight: normal;
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: -10px;
                right: -10px;
                height: 1px;
                background-color: #cccccc;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 40px;
                height: 1px;
                background-color: #000000;
                margin: auto;
            }
        }
    }
    &__tools {
        position: absolute;
        top: -4px;
        right: 0;
        @include media-breakpoint-down(mobile) {
            position: static;
        }
        .slick-arrow {
            display: inline-block;
            width: 56px;
            height: 56px;
            background-color: #ffffff;
            border-radius: 50%;
            position: relative;
            border: none;
            box-shadow: none;
            fill: #000;
            margin-left: 5px;
            cursor: pointer;
            transition: fill 0.3s ease 0s,
                        background-color 0.3s ease 0s,
                        border-color 0.3s ease 0s;
            border: 1px solid #cccccc;
            @include media-breakpoint-down(tablet) {
                border: none;
                background-color: transparent;
            }
            @include media-breakpoint-down(mobile) {
                position: absolute;
                top: 50%;
                transform: translate(0,-50%);
                margin: 0;
            }
            @include hover {
                fill: #fff;
                background-color: #4a4f52;
                border-color: #4a4f52;
                @include media-breakpoint-down(tablet) {
                    background-color: transparent;
                    fill: #009999;
                }
            }
            .icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                height: 18px;
                width: 10px;
                transform-origin: center center;
            }
        }
        .slick-next {
            @include media-breakpoint-down(mobile) {
                right: -15px;
            }
            .icon {
                transform: rotate(0deg);
            }
        }
        .slick-prev {
            @include media-breakpoint-down(mobile) {
                left: -15px;
            }
            .icon {
                transform: rotate(180deg);
            }
        }
    }
    &__carousel {
        display: flex;
        margin: 25px -6px 0;
        visibility: hidden;
        @include media-breakpoint-down(tablet){
            margin-left: -5px;
            margin-right: -5px;
        }
        @include media-breakpoint-down(mobile) {
            margin: 24px 30px 0;
        }
        &.slick-slider {
            visibility: visible;
        }
        .slick-slide {
            margin: 0 6px;
            @include media-breakpoint-down(tablet){
                margin: 0 5px;
            }
        }
    }
    &__item {
        position: relative;
        // width: 238px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: 0px 0px;
        &::after,
        &::before {
            content: '';
            display: block;
            width: 100%;
            // padding-top: 62%;
            padding-top: 52%;
        }
        &::before {
            background-image: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: inset 0px 0px 0px 4px #009999;
            opacity: 0;
            transition: opacity 0.3s ease 0s;
        }
        span {
            display: inline-block;
            padding: 7px 16px;
            background-color: #3b3d42;
            color: #ffffff;
            line-height: normal;
            transition: background-color 0.3s ease 0s;
            @include media-breakpoint-down(tablet){
                font-size: 15px;
                padding: 3px 10px;
            }

        }

        @include hover {
            &::after {
                opacity: 1;
            }
            span {
                background-color: #009999;
            }
        }

    }
}