.filter {
    margin: 18px 0px;
    padding-bottom: 20px;
    position: relative;
    @include media-breakpoint-down(tablet) {
        margin: 12px 0;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 0 0;
    }
    
    &__head {
        display: none;
        font-size: 15px;
        font-weight: 600;
        line-height: 40px;
        cursor: pointer;
        @include media-breakpoint-down(mobile) {
            display: block;
        }
        &-inner {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                border-top: 2px solid;
                border-right: 2px solid;
                width: 6px;
                height: 6px;
                transform-origin: top right;
                margin-right: 3px;
                translate: all 0.3s ease 0s;
                transform: rotate(135deg);
                margin-top: 3px;
            }
        }
        &.is-active &-inner {
            &::after {
                margin-top: -3px;
                transform: rotate(-45deg);
            }
        }
        .icon {
            font-size: 20px;
            margin-right: 24px;
            width: 18px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__main {
        display: none;
        @include media-breakpoint-up(tablet) {
            display: block !important;
        }
    }
    &__inner {
        @include media-breakpoint-down(tablet) {
            padding-left: 20px;
        }
        @include media-breakpoint-down(mobile) {
            padding-left: 0;
        }
    }
    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        @include media-breakpoint-down(tablet) {
            flex-wrap: wrap;
            padding-right: 240px;
        }
        @include media-breakpoint-down(mobile) {
            display: block;
            padding: 0;
            margin-bottom: -1px;
            z-index: 2;
        }
    }
    &__item {
        position: relative;
        padding: 30px 0 0;
        display: flex;
        @include media-breakpoint-down(tablet) {
            margin-right: 15px;
        }
        @include media-breakpoint-down(mobile) {
            padding-top: 18px;
            margin-right: 0;
        }
        &-title {
            display: block;
            font-size: 16px;
            margin-right: 10px;
            line-height: 34px;
            @include media-breakpoint-down(mobile) {
                font-size: 14px;
                font-weight: 600;
                min-width: 50px;
                flex-shrink: 0;
                margin-right: 20px;
            }
        }
        &_top {
            @include media-breakpoint-down(mobile) {
                padding-top: 30px;
            }
        }
        &_top &-title {
            @include media-breakpoint-down(tablet) {
                margin-top: -30px;
            }
        }
        &_compact {
            @include media-breakpoint-down(mobile) {
                padding-top: 0;
            }
        }
        &_compact &-title {
            @include media-breakpoint-down(tablet) {
                position: absolute;
                top: 0;
                left: 0;
            }
            @include media-breakpoint-down(mobile) {
                position: static;
            }
        }
        &_btn {
            @include media-breakpoint-down(tablet) {
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 0;
            }
            @include media-breakpoint-down(mobile) {
                position: relative;
                text-align: center;
                justify-content: center;
                margin-top: 16px;
                display: block;
                text-align: center;
                .btn {
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .l-rangeslider {
            margin-top: -30px;
            @include media-breakpoint-down(mobile) {
                width: 100%;
            }
        }
        &-main {
            @include media-breakpoint-down(mobile) {
                flex: 1;
            }
        }
    }
    &__tabs {
        display: none;
        @include media-breakpoint-down(mobile) {
            border-top: 1px solid #ccc;
            position: relative;
            z-index: 1;
            padding-bottom: 40px;
        }
        &-head {
            @include media-breakpoint-down(mobile) {
                display: none;
            }
            &-inner {
                display: flex;
            }
            &-item {
                position: relative;
                line-height: 34px;
                text-align: center;
                padding: 0 35px 0 16px;
                font-size: 16px;
                background-color: transparent;
                transition: background-color 0.3s ease 0s;
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    right: 14px;
                    top: 50%;
                    border-top: 2px solid;
                    border-right: 2px solid;
                    width: 6px;
                    height: 6px;
                    transform-origin: top right;
                    margin-right: 3px;
                    translate: all 0.3s ease 0s;
                    transform: rotate(135deg);
                    margin-top: 3px;
                }
                &.is-active {
                    background-color: #f6f6f6;
                    &::after {
                        margin-top: -3px;
                        transform: rotate(-45deg);
                    }
                }
                
                @include hover {
                    background-color: darken(#f6f6f6, 10%);
                }
            }
        }
        &-main {
            &-item {
                display: none;
                padding: 20px 0;
                background-color: #f6f6f6;
                @include media-breakpoint-down(tablet) {
                    padding-bottom: 40px;
                }
                @include media-breakpoint-down(mobile) {
                    display: block !important;
                    padding: 15px 0 15px;
                }
            }
        }
        &-main &-head-item {
            display: none;
            @include media-breakpoint-down(mobile) {
                display: block !important;
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                line-height: 40px;
                pointer-events: none;
                &::after {
                    content: none;
                }
            }
        }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        transition: top 0.3s ease 0s;
        @include media-breakpoint-down(tablet) {
            position: static;
            top: 0;
            bottom: auto;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
        }
        &-inner {
            display: flex;
            justify-content: flex-end;
        }
        .btn {
            transform: translateZ(0);
            z-index: 1;
        }
        
        .filter__toggle {
            @include media-breakpoint-down(tablet) {
                position: absolute;
                top: 130px;
                transition: top 0.6s linear 0s;
                transform: translate(0, -100%);
            }
            &.is-active {
                @include media-breakpoint-down(tablet) {
                    top: 100%;
                }
            }
        }
    }

    &__toggle {
        &.is-active {
            @include media-breakpoint-down(mobile) {
                border-bottom: none;
            }
        }
        >* {
            &:first-child {
                display: inline;
            }
            &:last-child {
                display: none;
            }
        }

        &.is-active {
            >* {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: inline;
                }
            }
        }
    }


    &_fixed {
        margin: 0 !important;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0);
        padding: 10px 0;
        background-color: #ffffff;
        @include media-breakpoint-down(tablet) {
            padding-bottom: 20px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 0;
        }
    }
    &_fixed.is-active {
        @include media-breakpoint-down(tablet) {
            position: fixed;
            left: 0;
            right: 0;
            top: 81px;
            z-index: 1060;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
            // padding: 10px 0;
        }
        @include media-breakpoint-up(tablet) {
            // padding-bottom: 30px;
        }
        @include media-breakpoint-down(mobile) {
            padding: 0;
            top: 55px;
            // bottom: 0;
        }
    }
    &_fixed &__buttons {
        @include media-breakpoint-up(tablet) {
            bottom: 15px;
        }
    }
    &_fixed.is-active &__buttons {
        @include media-breakpoint-up(tablet) {
            z-index: 11;
        }
    }
    &_fixed.is-active &__toggle {
        // top: 0 !important;
        // position: relative;
        // transform: none;
        // transition: none;
        // @include media-breakpoint-only(tablet) {
        //     margin-top: 20px;
        // }
    }
    &_fixed &__main {
        @include media-breakpoint-only(tablet) {
            min-height: 120px;
        }
        @include media-breakpoint-down(mobile) {
            margin-bottom: 20px;
        }
    }
    &_fixed.is-active &__main {
        @include media-breakpoint-down(mobile) {
            overflow: auto;
            max-height: calc(100% - 40px);
            margin-bottom: 0;
            -webkit-overflow-scrolling: touch;
        }
    }
    &_fixed &__toggle {
        @include media-breakpoint-only(tablet) {
            top: 130px !important;
        }
    }
    &_fixed &__item_btn {
        @include media-breakpoint-up(desktop) {
            padding-top: 0;
        }
    }
    &_fixed &__tabs {
        @include media-breakpoint-up(tablet) {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 10;
            background-color: #ffffff;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
        }
    }
    &_fixed &__row {
        @include media-breakpoint-up(desktop) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(tablet) {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(tablet) {
            margin-bottom: -1px;
        }
    }
    &_fixed.is-active {
        @include media-breakpoint-down(mobile) {
            display: flex;
            flex-direction: column;
            max-height: calc(100% - 55px);
        }
    }
    &_fixed.is-active &__head {
        @include media-breakpoint-down(mobile) {
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
            flex-shrink: 0;
        }
    }
    &_fixed.is-active &__main {
        @include media-breakpoint-down(mobile) {
            padding-top: 15px;
            flex: 1;
        }
    }
    &_fixed.is-active &__inner {
        @include media-breakpoint-down(mobile) {
            padding-bottom: 20px;
        }
    }
    &_fixed.is-active &__tabs {
        @include media-breakpoint-down(mobile) {
            top: -20px;
        }
    }

    &__hide {
        display: none;
        @include media-breakpoint-down(mobile) {
            display: block;
            position: fixed;
            bottom: 40px;
            left: 0;
            right: 0;
            height: 0;
        }
        &-inner {
            background-color: #cccccc;
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            padding: 12px 0 10px;
            cursor: pointer;
            display: block;
        }
    }
}

.filter-wrapper {
    width: 100%;
    height: auto;
    display: block;
    margin: 18px 0px;
    @include media-breakpoint-down(tablet) {
        margin: 12px 0;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 0 0;
    }
}